<%= form_for(@project_issue, :html => {:class => 'nn-form'}) do |f| %>
    <%= f.hidden_field :farm_id %>
    <%= f.hidden_field :farm_name %>
    <div class="sectionRest clearfix">
      <div>
        <fieldset>
          <ol>
            <li><h2 class='sectionHeading'>Send Project Information to Support</h2></li>
            <li>Your worksheet will be sent to support. Please provide any information that may help in diagnosing any
              problems you are experiencing.<br/><br/></li>
            <li>
              <%= f.label :farm_name, 'Farm Name:', :class => 'wide' %>
              <%= @project_issue.farm_name %>
            <li>
              <%= f.label :message, 'Message:<em>*</em>'.html_safe, :class => 'wide' %>
              <br/><br/>
              <%= f.text_area :message, :required => 'true', :title => 'Enter your message' %>
            </li>
          </ol>
        </fieldset>


      </div>
      <div style="clear: both"></div>
    </div>

    <div class="actions">
      <%= submit_tag 'Cancel', :type => 'button', :onclick => "location.href = '#{farms_path}'" %>
      <%= f.submit 'Send email' %>
    </div>


<% end %>
