<html>
<head>
  <%= wicked_pdf_stylesheet_link_tag("application") %>
</head>
<body>

<%= wicked_pdf_image_tag('logo.png') %>

<br/>

Under construction

<br/><br/>

<div class="nn-form sectionRest clearfix">
<div>
<fieldset>
  <ol>
    <li><h2 class='sectionHeading'>Details</h2></li>
    <li>
      <div class='wide'>Project name:</div>
      <%= @farm.name %>
    </li>
    <li>
      <div class='wide'>(FSA) Tract number:</div>
      <%= @farm.tract_number %>
    </li>
    <li>
      <div class='wide'>Project notes:</div>
      <%= @farm.farm_notes %>
    </li>
    <li>
      <div class='wide'>Generator type:</div>
      <%= @farm.generator_type.name unless @farm.generator_type == nil %>
    </li>
    <li>
      <div class='wide'>Site name:</div>
      <%= @farm.site_name %>
    </li>
    <li>
      <div class='wide'>Street 1:</div>
      <%= @farm.site_street_1 %>
    </li>
    <li>
      <div class='wide'>Street 2:</div>
      <%= @farm.site_street_2 %>
    </li>
    <li>
      <div class='wide'>Location description:</div>
      <%= @farm.site_description %>
    </li>
    <li>
      <div class='wide'>Farm notes:</div>
      <%= @farm.farm_notes %>
    </li>
    <li>
      <div class='wide'>ZIP code:</div>
      <%= @farm.site_zip %>
    </li>
    <li>
      <div class='wide'>State:</div>
      <%= @farm.state.name %>
    </li>
    <li>
      <div class='wide'>County:</div>
      <%= @farm.county.name %>
    </li>

    <li><h2 class='sectionHeading'>N Load Information</h2></li>
    <li>
      <div class='wide'>Farm meets N baseline:</div>
      <%= (@is_farm_meets_baseline && (@baseline_n_load_fields > @current_n_load_fields)) ? 'Yes' : 'No' if @farm.site_state_id != 47 %>
      <%= (@is_farm_meets_baseline) ? 'Yes' : 'No' if @farm.site_state_id == 47 %>
    </li>
    <li>
      <div class='wide'>Baseline N load fields:</div>
      <%= number_with_precision(@baseline_n_load_fields, :precision => 2, delimiter: ',') %>
      lb
    </li>
    <li>
      <div class='wide'>Current N load fields:</div>
      <%= number_with_precision(@current_n_load_fields, :precision => 2, delimiter: ',') %>
    </li>
    <li>
      <div class='wide'>Future N load fields:</div>
      <%= number_with_precision(@future_n_load_fields, :precision => 2, delimiter: ',') %>
    </li>
    <li>
      <div class='wide'>Current N load for Animal HQ:</div>
      <%= number_with_precision(@current_n_load_animals, :precision => 2, delimiter: ',') %>
    </li>

    <li><h2 class='sectionHeading'>P Load Information</h2></li>
    <li>
      <div class='wide'>Farm meets P baseline:</div>
      <%= (@is_farm_meets_baseline && (@baseline_p_load_fields > @current_p_load_fields)) ? 'Yes' : 'No' if @farm.site_state_id != 47 %>
      <%= (@is_farm_meets_baseline) ? 'Yes' : 'No' if @farm.site_state_id == 47 %>
    </li>
    <li>
      <div class='wide'>Baseline P load fields:</div>
      <%= number_with_precision(@baseline_p_load_fields, :precision => 2, delimiter: ',') %>
      lb
    </li>
    <li>
      <div class='wide'>Current P load fields:</div>
      <%= number_with_precision(@current_p_load_fields, :precision => 2, delimiter: ',') %>
      lb
    </li>
    <li>
      <div class='wide'>Future P load fields:</div>
      <%= number_with_precision(@future_p_load_fields, :precision => 2, delimiter: ',') %>
    </li>
    <li>
      <div class='wide'>Current P load for Animal HQ:</div>
      <%= number_with_precision(@current_p_load_animals, :precision => 2, delimiter: ',') %>
    </li>

    <li><h2 class='sectionHeading'>Sediment Load Information</h2></li>
    <li>
      <div class='wide'>Farm meets sediment baseline:</div>
      <%= (@is_farm_meets_baseline && (@baseline_sediment_load_fields > @current_sediment_load_fields)) ? 'Yes' : 'No' if @farm.site_state_id != 47 %>
      <%= (@is_farm_meets_baseline) ? 'Yes' : 'No' if @farm.site_state_id == 47 %>
    </li>
    <li>
      <div class='wide'>Baseline sediment load fields:</div>
      <%= number_with_precision(@baseline_sediment_load_fields, :precision => 2, delimiter: ',') %>
      tons
    </li>
    <li>
      <div class='wide'>Current sediment load fields:</div>
      <%= number_with_precision(@current_sediment_load_fields, :precision => 2, delimiter: ',') %>
      tons
    </li>
    <li>
      <div class='wide'>Future sediment load fields:</div>
      <%= number_with_precision(@future_sediment_load_fields, :precision => 2, delimiter: ',') %>
    </li>
    <li>
      <div class='wide'>Current sediment load for Animal HQ:</div>
      <%= number_with_precision(@current_sediment_load_animals, :precision => 2, delimiter: ',') %>
    </li>


  </ol>
</fieldset>
<fieldset>
  <ol>
    <li><h2 class='sectionHeading'>Totals</h2></li>
    <li>
      <div class='wide'>Farm area (from map):</div>
      <%= number_with_precision(@farm.acres, :precision => 2, :separator => '.', :delimiter => ',') %>
      <%= 'ac' unless @farm.acres.nil? %>
    </li>
    <li>
      <div class='wide'>Farm area (sum of fields):</div>
      <%= number_with_precision(@farm.acres_from_fields, :precision => 2, :separator => '.', :delimiter => ',') %>
      <%= 'ac' unless @farm.acres_from_fields == 0 %>
    </li>
    <li>
      <div class='wide'>Animal headquarters:</div>
      <%= @farm.animal_headquarters %>
    </li>
    <li>
      <div class='wide'>Nonmanaged land:</div>
      <%= @farm.nonmanaged_land %>
    </li>
    <li>
      <div class='wide'>Number of fields (crop/pasture/hay):</div>
      <%= @farm.number_of_fields %>
    </li>
    <li>
      <div class='wide'>Percent complete:</div>
      <%= @farm.percentCompleted %> %
    </li>
    <li>
      <div class='wide'>Buffered area:</div>
      <%= number_with_precision(@farm.buffered_area, :precision => 2, :separator => '.', :delimiter => ',') %>
      <%= 'ac' unless @farm.buffered_area == 'N/A' %>
    </li>
    <li>
      <div class='wide'>Wetland area:</div>
      <%= number_with_precision(@farm.wetland_area, :precision => 2, :separator => '.', :delimiter => ',') %>
      <%= 'ac' unless @farm.wetland_area == 'N/A' %>
    </li>
    <li>
      <div class='wide'>Streambank fencing area:</div>
      <%= number_with_precision(@farm.streambank_fencing_area, :precision => 2, :separator => '.', :delimiter => ',') unless @farm.streambank_fencing_area == 'N/A' %>
      <%= 'N/A' if @farm.streambank_fencing_area == 'N/A' %>
      <%= 'ac' unless @farm.streambank_fencing_area == 'N/A' %>
    </li>
    <li>
      <div class='wide'>Converted area:</div>
      <%= number_with_precision(@farm.converted_area, :precision => 2, :separator => '.', :delimiter => ',') unless @farm.converted_area == 'N/A' %>
      <%= 'N/A' if @farm.converted_area == 'N/A' %>
      <%= 'ac' unless @farm.converted_area == 'N/A' %>
    </li>
    <li></li>
    <li></li>
    <li><h2 class='sectionHeading'>&nbsp;</h2></li>
    <li>
      <div class='wide'>Future N load for animal HQ:</div>
      <%= number_with_precision(@future_n_load_animals, :precision => 2, delimiter: ',') %>
      lbs per year
    </li>
    <li>
      <div class='wide'>Total Reductions:</div>
      <%= number_with_precision((@current_n_load_fields + @current_n_load_animals)-(@future_n_load_fields + @future_n_load_animals), :precision => 2, delimiter: ',') %>
      lbs per year
    </li>
    <li>
      <div class='wide'>Eligible reductions:</div>
      <%= 'TBD' %>
    </li>
    <li>
      <div class='wide'>Delivery factor:</div>
      <%= 'TBD' %>
    </li>
    <li>
      <div class='wide'>Credits:</div>
      <%= 'TBD' %>
    </li>

    <li><h2 class='sectionHeading'>&nbsp;</h2></li>
    <li>
      <div class='wide'>Future P load for animal HQ:</div>
      <%= number_with_precision(@future_p_load_animals, :precision => 2, delimiter: ',') %>
      lbs per year
    </li>
    <li>
      <div class='wide'>Total Reductions:</div>
      <%= number_with_precision((@current_p_load_fields + @current_p_load_animals)-(@future_p_load_fields + @future_p_load_animals), :precision => 2, delimiter: ',') %>
      lbs per year
    </li>
    <li>
      <div class='wide'>Eligible reductions:</div>
      <%= 'TBD' %>
    </li>
    <li>
      <div class='wide'>Delivery factor:</div>
      <%= 'TBD' %>
    </li>
    <li>
      <div class='wide'>Credits:</div>
      <%= 'TBD' %>
    </li>

    <li><h2 class='sectionHeading'>&nbsp;</h2></li>
    <li>
      <div class='wide'>Future sediment load for animal HQ:</div>
      <%= number_with_precision(@future_sediment_load_animals, :precision => 2, delimiter: ',') %>
      lbs per year
    </li>
    <li>
      <div class='wide'>Total Reductions:</div>
      <%= number_with_precision((@current_sediment_load_fields + @current_sediment_load_animals)-(@future_sediment_load_fields + @future_sediment_load_animals), :precision => 2, delimiter: ',') %>
      lbs per year
    </li>
    <li>
      <div class='wide'>Eligible reductions:</div>
      <%= 'TBD' %>
    </li>
    <li>
      <div class='wide'>Delivery factor:</div>
      <%= 'TBD' %>
    </li>
    <li>
      <div class='wide'>Credits:</div>
      <%= 'TBD' %>
    </li>


  </ol>
</fieldset>
</div>
<div style="clear: both"></div>
</div>


<table class="listingTable" width="100%" cellspacing="0" cellpadding="3" border="0">
  <tr>
    <th>Field</th>
    <th>Area (ac)</th>
    <th>Baseline</th>
    <th>Current</th>
    <th>Planned</th>
    <th>Reduction to Bay</th>
    <th class="actions">Action</th>

  </tr>

  <% @farm.fields.each do |field| %>
      <tr>
        <td>
          <%= link_to field.name, edit_farm_field_path(@farm, field) unless field.watershed_segment.nil? %>
          <%= "Field '#{field.name}' is not in watershed." if field.watershed_segment.nil? %>
          <br/>
          <%= field.field_type.name unless field.field_type.nil? %>
        </td>
        <td><%= number_with_precision(field.acres, :precision => 2, :delimiter => ',') %></td>
        <td>
          N: <%= number_with_precision(field.n_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> lbs/a
          <br/>
          P: <%= number_with_precision(field.p_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> lbs/a
          <br/>
          S: <%= number_with_precision(field.sediment_baseline, :precision => 2, :separator => '.', :delimiter => ',') %>
          t/a
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= link_to image_tag('/images/delete.png', :alt => 'Delete', :title => 'Delete field'), farm_field_path(@farm, field), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>


</body>
</html>