<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
</head>

<body>

<form action='http://ims.missouri.edu/marylandNN/Default2.aspx' method='post'>

  County: <input type='text' size='80' name='county' value='<%= @farm.county.name %> County'>
  <br/>
  <input type='text' size='80' name='sometext' value='########################3'>
  <br/>
  Source id: <input type='text' size='80' name='source_id' value='<%= session[:session_id] %>'>
  <br/>
  return_url: <input type='text' size='80' name='return_url' value='<%= farm_url(@farm) %>/receive_from_mapping_site'>
  <br/>

  parcelcoords: <input type='text' size='80' name='parcelcoords' value='<%= @farm.coordinates %>'>
  <br/>

  <% @farm.fields.each_with_index do |field, index| %>
      field_id: <input type='text' size='80' name='<%= "field#{index+1}id" %>' value='<%= field.name %>'>
      <br/>
      field
      coordinates:<input type='text' size='80' name='<%= "field#{index+1}coords" %>' value='<%= field.coordinates %>'>
      <br/>
  <% end %>

  <input type='submit' name='Click here' value='Submit'>


</form>

</body>
</html>