<div class="nn-form sectionRest clearfix">
<div>
  <fieldset>
    <ol>
      <li><h2 class='sectionHeading'>Details</h2></li>
      <li>
        <div class='extrawide'>Project name:</div>
        <%= @farm.name %>
      </li>
      <li>
        <div class='extrawide'>(FSA) Tract number:</div>
        <%= @farm.tract_number %>
      </li>
      <li>
        <div class='extrawide'>Project notes:</div>
        <%= @farm.farm_notes %>
      </li>
      <li>
        <div class='extrawide'>Generator type:</div>
        <%= @farm.generator_type.name unless @farm.generator_type == nil %>
      </li>
      <li>
        <div class='extrawide'>Applicant name:</div>
        <%= @farm.site_name %>
      </li>
      <li>
        <div class='extrawide'>Street 1:</div>
        <%= @farm.site_street_1 %>
      </li>
      <li>
        <div class='extrawide'>Street 2:</div>
        <%= @farm.site_street_2 %>
      </li>
      <li>
        <div class='extrawide'>Location description:</div>
        <%= @farm.site_description %>
      </li>
      <li>
        <div class='extrawide'>ZIP code:</div>
        <%= @farm.site_zip %>
      </li>
      <li>
        <div class='extrawide'>State:</div>
        <%= @farm.state.name %>
      </li>
      <li>
        <div class='extrawide'>County:</div>
        <%= @farm.county.name %>
      </li>
      <li>
        <div class='extrawide'>Watershed:</div>
        <%= @arrWatersheds.join(" / ").html_safe %>
      </li>
      <li>
        <div class='extrawide'>Major basin:</div>
        <%= @arrMajorBasins.join(" / ").html_safe %>
      </li>
      <li>
        <div class='extrawide'>TMDL:</div>
        <%= @arrTMDLs.join(" / ").html_safe %>
      </li>
    </ol>
  </fieldset>

 

</div>
<div style="clear: both"></div>
</div>


<table class="listingTable" width="100%" cellspacing="0" cellpadding="3" border="0">
  <tr>
    <th>Field</th>
    <th>Area (ac)</th>
    <th>Baseline</th>
    <th>Current</th>
    <th>Future</th>
    <th>Reduction to Bay</th>
    <th class="actions">Action</th>

  </tr>
  <% @fields.each do |field| %>
  <% field.id %> 
  <% end %>
  <% @fields.each do |field| %>
      <tr>
        <td>
          <%= link_to field.name, edit_farm_field_path(@farm, field) unless field.watershed_segment.nil? %>
          <%= "Field '#{field.name}' is not in watershed." if field.watershed_segment.nil? %>
          <br/>
          <%= field.field_type.name unless field.field_type.nil? %>
        </td>
        <td><%= number_with_precision(field.acres, :precision => 2, :delimiter => ',') %></td>
        <td>
          <% if (!field.field_type.nil? && field.field_type_id <= 3) %>
              N: <%= number_with_precision(field.n_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> lbs/a
              <br/>
              P: <%= number_with_precision(field.p_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> lbs/a
              <br/>
              S: <%= number_with_precision(field.sediment_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> tons/a
          <% end %>
        </td>
        <td>
          N: <%= number_with_precision(field.bmp_calculations[:new_total_n], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          P: <%= number_with_precision(field.bmp_calculations[:new_total_p], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          S: <%= number_with_precision(field.bmp_calculations[:new_total_sediment], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'tons/a' : 'tons' %>
        </td>
        <td>
          N: <%= number_with_precision(field.bmp_calculations[:new_total_n_future], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          P: <%= number_with_precision(field.bmp_calculations[:new_total_p_future], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          S: <%= number_with_precision(field.bmp_calculations[:new_total_sediment_future], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'tons/a' : 'tons' %></td>
        <td>
          N: <%= number_with_precision([0, (field.bmp_calculations[:new_total_n] - field.bmp_calculations[:new_total_n_future])* field.watershed_segment.n_delivery_factor].max, :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          P: <%= number_with_precision([0, (field.bmp_calculations[:new_total_p] - field.bmp_calculations[:new_total_p_future])* field.watershed_segment.p_delivery_factor].max, :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          S: <%= number_with_precision([0, (field.bmp_calculations[:new_total_sediment] - field.bmp_calculations[:new_total_sediment_future])* field.watershed_segment.sediment_delivery_factor].max, :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'tons/a' : 'tons' %></td>
        </td>
        <td><%= link_to image_tag('/images/delete.png', :alt => 'Delete', :title => 'Delete field'), farm_field_path(@farm, field), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>


