<div class="nn-summary sectionRest clearfix">
<div>
  <fieldset>
    <ol>
      <li><h2 class='sectionHeading'>Details</h2></li>
      <li>
        <div class='extrawide'>Farm/Project name:</div>
        <%= @farm.name %>
      </li>
      <li>
        <div class='extrawide'>(FSA) Tract number:</div>
        <%= @farm.tract_number %>
      </li>
      <li>
        <div class='extrawide'>Project notes:</div>
        <%= @farm.farm_notes %>
      </li>
      <li>
        <div class='extrawide'>Generator type:</div>
        <%= @farm.generator_type.name unless @farm.generator_type == nil %>
      </li>
      <li>
        <div class='extrawide'>Applicant name:</div>
        <%= @farm.site_name %>
      </li>
      <li>
        <div class='extrawide'>Street 1:</div>
        <%= @farm.site_street_1 %>
      </li>
      <li>
        <div class='extrawide'>Street 2:</div>
        <%= @farm.site_street_2 %>
      </li>
      <li>
        <div class='extrawide'>Location description:</div>
        <%= @farm.site_description %>
      </li>
      <li>
        <div class='extrawide'>ZIP code:</div>
        <%= @farm.site_zip %>
      </li>
      <li>
        <div class='extrawide'>State:</div>
        <%= @farm.state.name %>
      </li>
      <li>
        <div class='extrawide'>County:</div>
        <%= @farm.county.name %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <ol>
      <li><h2 class='sectionHeading'>Watershed Information</h2></li>
            <li>
        <div class='extrawide'>Watershed:</div>
      <%= @arrWatersheds.join(" / ").html_safe %>
      </li>
                  <li>
        <div class='extrawide'>CBWM Segment:</div>
       <%= @cb_segment %>
      </li>
      <li>
        <div class='extrawide'>Major basin:</div>
        <%= @arrMajorBasins.join(" / ").html_safe %>
      </li>
      <li>
        <div class='extrawide'>TMDL:</div>
        <%= @arrTMDLs.join(" / ").html_safe %>
      </li>
      <li></li>
      <li><h2 class='sectionHeading'>Totals</h2></li>
      <li>
        <div class='extrawide'>Farm area (from map):</div>
        <%= number_with_precision(@farm.acres, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.acres.nil? %>
      </li>
      <li>
        <div class='extrawide'>Farm area (sum of fields):</div>
        <%= number_with_precision(@farm.acres_from_fields, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.acres_from_fields == 0 %>
      </li>
      <li>
        <div class='extrawide'>Animal headquarters:</div>
        <%= @farm.animal_headquarters %>
      </li>
      <li>
        <div class='extrawide'>Nonmanaged land:</div>
        <%= @farm.nonmanaged_land %>
      </li>
      <li>
        <div class='extrawide'>Number of fields (crop/pasture/hay):</div>
        <%= @farm.number_of_fields %>
      </li>
      <li>
        <div class='extrawide'>Percent complete:</div>
        <%= @farm.percentCompleted %> %
      </li>
    
    </ol>
  </fieldset>

</div>
<div style="clear: both"></div>

<div>
  <fieldset>
    <ol>
      <li><h2 class='sectionHeading'>N Load Information</h2></li>
      <li>
        <div class='extrawide'>Farm meets N baseline:</div>
        <%= (@is_farm_meets_baseline && (@baseline_n_load_fields > @current_n_load_fields)) ? 'Yes' : 'No' if @farm.site_state_id != 47 %>
        <%= (@is_farm_meets_baseline) ? 'Yes' : 'No' if @farm.site_state_id == 47 %>


      <% if (!@is_farm_meets_baseline) || (@current_n_load_fields > @baseline_n_load_fields) %> &nbsp&nbsp<a href="#" id="trigger">(Why?)</a><% end %>

      </li>
      <li>
        <div class='extrawide'>Baseline N load fields (EOS):</div>
        <%= number_with_precision(@baseline_n_load_fields, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Current N load fields (EOS):</div>
        <%= number_with_precision(@current_n_load_fields, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Future N load fields (EOS):</div>
        <%= number_with_precision(@future_n_load_fields, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Current N load for Animal HQ (EOS):</div>
        <%= number_with_precision(@current_n_load_animals, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>

      <li><h2 class='sectionHeading'>P Load Information (EOS)</h2></li>
      <li>
        <div class='extrawide'>Farm meets P baseline:</div>
        <%= (@is_farm_meets_baseline && (@baseline_p_load_fields > @current_p_load_fields)) ? 'Yes' : 'No' if @farm.site_state_id != 47 %>
        <%= (@is_farm_meets_baseline) ? 'Yes' : 'No' if @farm.site_state_id == 47 %>
             

             <% if (!@is_farm_meets_baseline) || (@current_p_load_fields > @baseline_p_load_fields) %> 
        &nbsp&nbsp<a href="#" id="ptrigger">(Why?)</a><% end %>

      </li>
      <li>
        <div class='extrawide'>Baseline P load fields (EOS):</div>
        <%= number_with_precision(@baseline_p_load_fields, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Current P load fields (EOS):</div>
        <%= number_with_precision(@current_p_load_fields, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Future P load fields (EOS):</div>
        <%= number_with_precision(@future_p_load_fields, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Current P load for Animal HQ (EOS):</div>
        <%= number_with_precision(@current_p_load_animals, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>

      <li><h2 class='sectionHeading'>Sediment Load Information</h2></li>
      <li>
        <div class='extrawide'>Farm meets sediment baseline:</div>
        <%= (@is_farm_meets_baseline && (@baseline_sediment_load_fields > @current_sediment_load_fields)) ? 'Yes' : 'No' if @farm.site_state_id != 47 %>
        <%= (@is_farm_meets_baseline) ? 'Yes' : 'No' if @farm.site_state_id == 47 %>

             <% if (!@is_farm_meets_baseline) || (@current_sediment_load_fields > @baseline_sediment_load_fields) %> 
        &nbsp&nbsp<a href="#" id="strigger">(Why?)</a><% end %>
      </li>
      <li>
        <div class='extrawide'>Baseline sediment load fields (EOS):</div>
        <%= number_with_precision(@baseline_sediment_load_fields*2000, :precision => 2, delimiter: ',') %>
        lbs/yr (<%= number_with_precision(@baseline_sediment_load_fields, :precision => 2, delimiter: ',') %>
        t/yr)
      </li>
      <li>
        <div class='extrawide'>Current sediment load fields (EOS):</div>
        <%= number_with_precision(@current_sediment_load_fields*2000, :precision => 2, delimiter: ',') %>
        lbs/yr (<%= number_with_precision(@current_sediment_load_fields, :precision => 2, delimiter: ',') %>
        t/yr)
      </li>
      <li>
        <div class='extrawide'>Future sediment load fields (EOS):</div>
        <%= number_with_precision(@future_sediment_load_fields*2000, :precision => 2, delimiter: ',') %>
        lbs/yr (<%= number_with_precision(@future_sediment_load_fields, :precision => 2, delimiter: ',') %>
        t/yr)
      </li>
      <li>
        <div class='extrawide'>Current load for Animal HQ (EOS):</div>
        <%= number_with_precision(@current_sediment_load_animals*2000, :precision => 2, delimiter: ',') %>
        lbs/yr (<% if @current_sediment_load_animals == 0 %>0.00 t/yr<% else %><%= number_with_precision(@current_sediment_load_animals, :precision => 2, delimiter: ',') %>
        t/yr<% end %>)</li>
          <li>
        <h2 class='sectionHeading'>BMP Information</h2></li>

              <li> <div class='extrawide'>&nbsp</div><div class='narrow'><b>Current</b></div>
<div class='extranarrow'><b># of fields</b></div>
                <div class='narrow'><b>Future</b></div>
              <div class='extranarrow'><b># of fields</b></div></li>
                                                          <li>
        <div class='extrawide'>Conservation Tillage:</div>
 <div class='narrow'><%= number_with_precision(@farm.conservation_tillage, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.conservation_tillage == 'N/A' %></div>
 <div class='extranarrow'><%= @farm.conservation_tillage_fields %></div> <div class='narrow'><%= number_with_precision(@farm.conservation_tillage_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.conservation_tillage_future == 'N/A' %></div><div class='extranarrow'><%= @farm.conservation_tillage_fields %></div>
      </li>
                                                <li>
        <div class='extrawide'>Cover Crop:</div>
 <div class='narrow'><%= number_with_precision(@farm.cover_crop, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.cover_crop == 'N/A' %></div>
 <div class='extranarrow'><%= @farm.cover_crop_fields %></div> <div class='narrow'><%= number_with_precision(@farm.cover_crop_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.cover_crop_future == 'N/A' %></div><div class='extranarrow'><%= @farm.cover_crop_future_fields %></div>
      </li>
              <li>
        <div class='extrawide'>Grass buffer area:</div>
        <div class='narrow'><%= number_with_precision(@farm.grass_buffered_area, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.grass_buffered_area == 'N/A' %></div>  <div class='extranarrow'><%= @farm.grass_buffered_area_fields %></div> <div class='narrow'><%= number_with_precision(@farm.grass_buffered_area_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.grass_buffered_area_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.grass_buffered_area_future_fields %></div> 
      </li>
            <li>
        <div class='extrawide'>Forest buffer area:</div>
         <div class='narrow'><%= number_with_precision(@farm.forest_buffered_area, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.forest_buffered_area == 'N/A' %></div>  <div class='extranarrow'><%= @farm.forest_buffered_area_fields %></div> <div class='narrow'><%= number_with_precision(@farm.forest_buffered_area_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.forest_buffered_area_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.forest_buffered_area_future_fields %></div> 
      </li>
      <li>
        <div class='extrawide'>Wetland area:</div>
         <div class='narrow'><%= number_with_precision(@farm.wetland_area, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.wetland_area == 'N/A' %></div>  <div class='extranarrow'><%= @farm.wetland_area_fields %></div> <div class='narrow'><%= number_with_precision(@farm.wetland_area_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.wetland_area_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.wetland_area_future_fields %></div> 
      </li>
      <li>
        <div class='extrawide'>Streambank fencing area:</div>
         <div class='narrow'><%= number_with_precision(@farm.streambank_fencing_area, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.streambank_fencing_area == 'N/A' %></div>  <div class='extranarrow'><%= @farm.streambank_fencing_area_fields %></div> <div class='narrow'><%= number_with_precision(@farm.streambank_fencing_area_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.streambank_fencing_area_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.streambank_fencing_area_future_fields %></div> 
      </li>
            <li>
        <div class='extrawide'>Fertilizer application setback:</div>
         <div class='narrow'><%= number_with_precision(@farm.setback_area, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.setback_area == 'N/A' %></div> <div class='extranarrow'><%= @farm.setback_area_fields %></div>  <div class='narrow'>
        <%= number_with_precision(@farm.setback_area_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.setback_area_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.setback_area_future_fields %></div> 
      </li>
      <li>
        <div class='extrawide'>Other land use conversion:</div>
 <div class='narrow'><%= number_with_precision(@farm.other_conversion, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.other_conversion == 'N/A' %></div>  <div class='extranarrow'><% logger.debug "$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ other_conversion_fields: #{@farm.other_conversion_fields}"%><%= @farm.other_conversion_fields %></div> <div class='narrow'><%= number_with_precision(@farm.other_conversion_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.other_conversion_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.other_conversion_future_fields %></div> 
      </li>
      <li>
        <div class='extrawide'>Total Converted area:</div>
 <div class='narrow'><%= number_with_precision(@farm.converted_area, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.converted_area == 'N/A' %></div>  <div class='extranarrow'><%= @farm.converted_area_fields %></div> <div class='narrow'><%= number_with_precision(@farm.converted_area_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.converted_area_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.converted_area_fields_future %></div> 
      </li>

            <li>
        <div class='extrawide'>Soil and water management plans:</div>
 <div class='narrow'><%= number_with_precision(@farm.soil_water_management_plan, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.soil_water_management_plan == 'N/A' %></div>  <div class='extranarrow'><%= @farm.soil_water_management_plan_fields %></div> <div class='narrow'><%= number_with_precision(@farm.soil_water_management_plan_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.soil_water_management_plan_future == 'N/A' %></div>   <div class='extranarrow'><%= @farm.soil_water_management_plan_future_fields %></div>     </li>
                  <li>
        <div class='extrawide'>Water control structures:</div>
 <div class='narrow'><%= number_with_precision(@farm.water_control_structures, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.water_control_structures == 'N/A' %></div> <div class='extranarrow'><%= @farm.water_control_structures_fields %></div>  <div class='narrow'><%= number_with_precision(@farm.water_control_structures_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.water_control_structures_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.water_control_structures_future_fields %></div> 
      </li>
                        <li>
        <div class='extrawide'>Sorbing materials in ag ditches:</div>
 <div class='narrow'><%= number_with_precision(@farm.sorbing_materials, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.sorbing_materials == 'N/A' %></div>  <div class='extranarrow'><%= @farm.sorbing_materials_fields %></div> <div class='narrow'><%= number_with_precision(@farm.sorbing_materials_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.sorbing_materials_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.sorbing_materials_fields_future %></div> 
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <ol>
      <li><h2 class='sectionHeading'>&nbsp;</h2></li>
      <li>
        <div class='extrawide'>Future N load for animal HQ (EOS):</div>
        <%= number_with_precision(@future_n_load_animals, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>
            <li>
        <div class='extrawide'>Delivery Ratio:</div>
        <%= @n_factors %>
      </li>
      <li>
        <div class='extrawide'>Total Reductions (EOS):</div>
        <% if @future_n_load_fields == 0 %>
        0.00
        <% else %>
        <%= number_with_precision((@current_n_load_fields + @current_n_load_animals)-(@future_n_load_fields + @future_n_load_animals), :precision => 2, delimiter: ',') %>
        <% end %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Eligible reductions:</div>
        <% if @future_n_load_fields == 0 %>
        0.00
        <% else %>
        <% if @farm.site_state_id != 47 %>
        <%= ((@is_farm_meets_baseline && (@baseline_n_load_fields > @current_n_load_fields))) ? number_with_precision([0, (@current_n_load_fields + @current_n_load_animals)-(@future_n_load_fields + @future_n_load_animals)].max, :precision => 2, delimiter: ',') : 0.00 %>
        <% else %>
        <%= @is_farm_meets_baseline ? number_with_precision([0, (@current_n_load_fields + @current_n_load_animals)-(@future_n_load_fields + @future_n_load_animals)].max, :precision => 2, delimiter: ',') : 0.00 %>
        <% end %><% end %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Credits:</div>
        <% if @future_n_load_fields > @current_n_load_fields %>
        0
        <% elsif @future_n_load_fields == 0 %>
        0
        <% else %>
        <%= ((@farm.site_state_id != 47 && @is_farm_meets_baseline && (@baseline_n_load_fields > @current_n_load_fields)) || (@farm.site_state_id == 47 && @is_farm_meets_baseline)) ? number_with_precision(@farm.credits[:total_n], :precision => 0, delimiter: ',') : 0.00 %><% end %>
      </li>

      <li><h2 class='sectionHeading'>&nbsp;</h2></li>
      <li>
        <div class='extrawide'>Future P load for animal HQ:</div>
        <%= number_with_precision(@future_p_load_animals, :precision => 2, delimiter: ',') %>
        lbs/yr
      </li>
                  <li>
        <div class='extrawide'>Delivery Ratio:</div>
        <%= @p_factors %>
      </li>
      <li>
        <div class='extrawide'>Total Reductions (EOS):</div>
        <% if @future_p_load_fields == 0 %>
        0.00
        <% else %>
        <%= number_with_precision((@current_p_load_fields + @current_p_load_animals)-(@future_p_load_fields + @future_p_load_animals), :precision => 2, delimiter: ',') %>
        <% end %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Eligible reductions:</div>
        <% if @future_p_load_fields == 0 %>
        0.00
        <% else %>
        <% if @farm.site_state_id != 47 %>
        <%= ((@is_farm_meets_baseline && (@baseline_p_load_fields > @current_p_load_fields))) ? number_with_precision([0, (@current_p_load_fields + @current_p_load_animals)-(@future_p_load_fields + @future_p_load_animals)].max, :precision => 2, delimiter: ',') : 0.00 %>
        <% else %>
        <%= @is_farm_meets_baseline ? number_with_precision([0, (@current_p_load_fields + @current_p_load_animals)-(@future_p_load_fields + @future_p_load_animals)].max, :precision => 2, delimiter: ',') : 0.00 %>
        <% end %><% end %>
        lbs/yr
      </li>
      <li>
        <div class='extrawide'>Credits:</div>
        <% if @future_p_load_fields > @current_p_load_fields %>
        0
        <% elsif @future_p_load_fields == 0 %>
        0
        <% else %>
        <%= ((@farm.site_state_id != 47 && @is_farm_meets_baseline && (@baseline_p_load_fields > @current_p_load_fields)) || (@farm.site_state_id == 47 && @is_farm_meets_baseline)) ? number_with_precision(@farm.credits[:total_p], :precision => 0, delimiter: ',') : 0.00 %><% end %>
      </li>
      <li><h2 class='sectionHeading'>&nbsp;</h2></li>
      <li>
        <div class='extrawide'>Future sediment load for animal HQ (EOS):</div>
        <%= number_with_precision(@future_sediment_load_animals*2000, :precision => 2, delimiter: ',') %>
        lbs/yr (<% if @future_sediment_load_animals == 0 %>0.00 t/yr<% else %><%= number_with_precision(@future_sediment_load_animals, :precision => 2, delimiter: ',') %> 
        t/yr<% end %>)
      </li>
                        <li>
        <div class='extrawide'>Delivery Ratio:</div>
        <%= @s_factors %>
      </li>
      <li>
        <div class='extrawide'>Total Reductions (EOS):</div>
        <% if @future_sediment_load_fields == 0 %>
        0.00 lbs/yr (0.00 t/yr)
        <% else %>
         <%= number_with_precision(((@current_sediment_load_fields + @current_sediment_load_animals)-(@future_sediment_load_fields + @future_sediment_load_animals))*2000, :precision => 2, delimiter: ',') %> lbs/yr (<%= number_with_precision((@current_sediment_load_fields + @current_sediment_load_animals)-(@future_sediment_load_fields + @future_sediment_load_animals), :precision => 2, delimiter: ',') %> t/yr)
        <% end %>
      </li>
      <li>
        <div class='extrawide'>Eligible reductions:</div>
        <% if @future_sediment_load_fields == 0 %>
        0.00 lbs/yr (0.00 t/yr)
        <% else %>
        <% if @farm.site_state_id != 47 %>
        <%= ((@is_farm_meets_baseline && (@baseline_sediment_load_fields > @current_sediment_load_fields))) ? number_with_precision(([0, (@current_sediment_load_fields + @current_sediment_load_animals)-(@future_sediment_load_fields + @future_sediment_load_animals)].max)*2000.00, :precision => 2, delimiter: ',') : 0.00 %> lbs/yr (<%= ((@is_farm_meets_baseline && (@baseline_sediment_load_fields > @current_sediment_load_fields))) ? number_with_precision(([0, (@current_sediment_load_fields + @current_sediment_load_animals)-(@future_sediment_load_fields + @future_sediment_load_animals)].max), :precision => 2, delimiter: ',') : 0.00 %> t/yr)
        <% else %>
        <%= @is_farm_meets_baseline ? number_with_precision(([0, (@current_sediment_load_fields + @current_sediment_load_animals)-(@future_sediment_load_fields + @future_sediment_load_animals)].max*2000.00), :precision => 2, delimiter: ',') : 0.00 %> lbs/yr
        <% end %><% end %>
      </li>
      <li>
        <div class='extrawide'>Credits:</div>
        <% if @future_sediment_load_fields > @current_sediment_load_fields %>
        0
        <% elsif @future_sediment_load_fields == 0 %>
        0
        <% else %>
        <%= ((@farm.site_state_id != 47 && @is_farm_meets_baseline && (@baseline_sediment_load_fields > @current_sediment_load_fields)) || (@farm.site_state_id == 47 && @is_farm_meets_baseline)) ? number_with_precision(@farm.credits[:total_sediment], :precision => 0, delimiter: ',') : 0 %><% end %>
      </li>
         <li><!--
        <h2 class='sectionHeading'>Land Use Conversion</h2>-->
      </li>
                <li> <div class='extrawide'>&nbsp</div><div class='narrow'><b>Current</b></div>
<div class='extranarrow'><b># of fields</b></div>
                <div class='narrow'><b>Future</b></div>
              <div class='extranarrow'><b># of fields</b></div></li>
                                            <li>
        <div class='extrawide'>Decision/precision agriculture:</div>
 <div class='narrow'><%= number_with_precision(@farm.decision_ag, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.decision_ag == 'N/A' %></div>  <div class='extranarrow'><%= @farm.decision_ag_fields %></div> <div class='narrow'><%= number_with_precision(@farm.decision_ag_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.decision_ag_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.decision_ag_future_fields %></div> 
      </li>
                              <li>
        <div class='extrawide'>Prescribed grazing:</div>
<div class='narrow'><%= number_with_precision(@farm.prescribed_grazing, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.prescribed_grazing == 'N/A' %></div>  <div class='extranarrow'><%= @farm.prescribed_grazing_fields %></div> <div class='narrow'><%= number_with_precision(@farm.prescribed_grazing_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.prescribed_grazing_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.prescribed_grazing_future_fields %></div> 
      </li>
                                    <li>
        <div class='extrawide'>Off stream watering without Fencing:</div>
<div class='narrow'><%= number_with_precision(@farm.off_stream, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.off_stream == 'N/A' %></div>  <div class='extranarrow'><%= @farm.off_stream_fields %></div> <div class='narrow'><%= number_with_precision(@farm.off_stream_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.off_stream_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.off_stream_future_fields %></div> 
      </li>
            <li>
        <div class='extrawide'>Horse pasture management:</div>
<div class='narrow'><%= number_with_precision(@farm.horse_pasture, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.horse_pasture == 'N/A' %></div>  <div class='extranarrow'><%= @farm.horse_pasture_fields %></div> <div class='narrow'><%= number_with_precision(@farm.horse_pasture_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.horse_pasture_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.horse_pasture_future_fields %></div> 
      </li>
            <li>
        <div class='extrawide'>Biofilters:</div>
<div class='narrow'><%= number_with_precision(@farm.biofilters, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.biofilters == 'N/A' %></div>  <div class='extranarrow'><%= @farm.biofilters_fields %></div> <div class='narrow'><%= number_with_precision(@farm.biofilters_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.biofilters_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.biofilters_future_fields %></div> 
      </li>
            <li>
        <div class='extrawide'>Barnyard Runoff Controls:</div>
<div class='narrow'><%= number_with_precision(@farm.barnyard_runoff, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.barnyard_runoff == 'N/A' %></div>  <div class='extranarrow'><%= @farm.barnyard_runoff_fields %></div> <div class='narrow'><%= number_with_precision(@farm.barnyard_runoff_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.barnyard_runoff_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.barnyard_runoff_future_fields %></div> 
      </li>
            <li>
        <div class='extrawide'>Mortality Composting:</div>
<div class='narrow'><%= number_with_precision(@farm.mortality_composting, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.mortality_composting == 'N/A' %></div>  <div class='extranarrow'><%= @farm.mortality_composting_fields %></div> <div class='narrow'><%= number_with_precision(@farm.mortality_composting_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.mortality_composting_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.mortality_composting_future_fields %></div> 
      </li>
            <li>
        <div class='extrawide'>Animal Waste Management System:</div>
<div class='narrow'><%= number_with_precision(@farm.animal_waste, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.animal_waste == 'N/A' %></div>  <div class='extranarrow'><%= @farm.animal_waste_fields %></div> <div class='narrow'><%= number_with_precision(@farm.animal_waste_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.animal_waste_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.animal_waste_future_fields %></div> 
      </li>
            <li>
        <div class='extrawide'>Poultry Litter Treatment/Alum:</div>
<div class='narrow'><%= number_with_precision(@farm.poultry_litter, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.poultry_litter == 'N/A' %></div>  <div class='extranarrow'><%= @farm.poultry_litter_fields %></div> <div class='narrow'><%= number_with_precision(@farm.poultry_litter_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.poultry_litter_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.poultry_litter_future_fields %></div> 
      </li>
            <li>
        <div class='extrawide'>Heavy Use Pads:</div>
<div class='narrow'><%= number_with_precision(@farm.heavy_use, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.heavy_use == 'N/A' %></div>  <div class='extranarrow'><%= @farm.heavy_use_fields %></div> <div class='narrow'><%= number_with_precision(@farm.heavy_use_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.heavy_use_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.heavy_use_future_fields %></div> 
      </li>
      </li>
            <li>
        <div class='extrawide'>Treatment Wetland:</div>
<div class='narrow'><%= number_with_precision(@farm.treatment_wetland, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.treatment_wetland == 'N/A' %></div>  <div class='extranarrow'><%= @farm.treatment_wetland_fields %></div> <div class='narrow'><%= number_with_precision(@farm.treatment_wetland_future, :precision => 2, :separator => '.', :delimiter => ',') %>
        <%= 'ac' unless @farm.treatment_wetland_future == 'N/A' %></div> <div class='extranarrow'><%= @farm.treatment_wetland_future_fields %></div> 
      </li>
      </li>
    </ol>
  </fieldset>

</div>
<div style="clear: both"></div>
</div>


<table class="listingTable" width="100%" cellspacing="0" cellpadding="3" border="0">
  <tr>
    <th>Field</th>
    <th>Area (ac)</th>
    <th>Slope</th>
    <th>Baseline</th>
    <th>Current</th>
    <th>Future</th>
    <th>Reduction to Bay</th>
    <th class="actions">Action</th>

  </tr>

  <% @fields.each do |field| %>
      <tr>
        <td>
          <%= link_to field.name, edit_farm_field_path(@farm, field) unless field.watershed_segment.nil? %>
          <%= "Field '#{field.name}' is not in watershed." if field.watershed_segment.nil? %>
          <br/>
          <%= field.field_type.name unless field.field_type.nil? %>
        </td>
        <td><%= number_with_precision(field.acres, :precision => 2, :delimiter => ',') %></td>
        <td>
          <% i = 1 %>
          <% field.soils.each do |soil| %>
          Soil <%= i %>: <%= soil.slope %><br>
          <% i+=1 %>
          <% end %>
        </td>
        <td>
          <% if (!field.field_type.nil? && field.field_type_id <= 3) %>
              N: <%= number_with_precision(field.n_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> lbs/a
              <br/>
              P: <%= number_with_precision(field.p_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> lbs/a
              <br/>
              S: <%= number_with_precision(field.sediment_baseline*2000, :precision => 2, :separator => '.', :delimiter => ',') %> lbs/a
          <% end %>
        </td>
        <td>
          N: <%= number_with_precision((field.bmp_calculations[:new_total_n])/(field.acres), :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          P: <%= number_with_precision((field.bmp_calculations[:new_total_p])/(field.acres), :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          S: <%= number_with_precision((field.bmp_calculations[:new_total_sediment]*2000)/(field.acres), :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
        </td>
        <% if field.other_land_use_conversion_acres_future %>
        <td>
          N: <%= number_with_precision((field.bmp_calculations[:new_total_n])/(field.acres), :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          P: <%= number_with_precision((field.bmp_calculations[:new_total_p])/(field.acres), :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          S: <%= number_with_precision((field.bmp_calculations[:new_total_sediment]*2000)/(field.acres), :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %></td>
          <% else %>
          <td>
          N: <%= number_with_precision((field.bmp_calculations[:new_total_n_future])/(field.acres), :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          P: <%= number_with_precision((field.bmp_calculations[:new_total_p_future])/(field.acres), :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          S: <%= number_with_precision((field.bmp_calculations[:new_total_sediment_future]*2000)/(field.acres), :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %></td>
          <% end %>
        <td>
          N: <% if field.ntt_xml_future.nil? %> 0.00 <% else %><%= number_with_precision([0, ((field.bmp_calculations[:new_total_n])/(field.acres) - (field.bmp_calculations[:new_total_n_future])/(field.acres))* field.watershed_segment.n_delivery_factor].max, :precision => 2, delimiter: ',') %><% end %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          P: <% if field.ntt_xml_future.nil? %> 0.00 <% else %><%= number_with_precision([0, ((field.bmp_calculations[:new_total_p])/(field.acres) - (field.bmp_calculations[:new_total_p_future])/(field.acres))* field.watershed_segment.p_delivery_factor].max, :precision => 2, delimiter: ',') %><% end %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          S: <% if field.ntt_xml_future.nil? %> 0.00 <% else %><%= number_with_precision(([0, ((field.bmp_calculations[:new_total_sediment])/(field.acres) - (field.bmp_calculations[:new_total_sediment_future])/(field.acres))* field.watershed_segment.sediment_delivery_factor].max)*2000, :precision => 2, delimiter: ',') %><% end %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %></td>
        </td>
        <td><%= link_to image_tag('/images/delete.png', :alt => 'Delete', :title => 'Delete field'), farm_field_path(@farm, field), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

    <div id="pop-up">
      <h3>Farm Does Not Meet N Baseline</h3>
      <p>
        <% if @farm.site_state_id != 47 %>
          <% if( @baseline_n_load_fields < @current_n_load_fields) %>
            Current N load is greater than Baseline N load.<br><br>
          <% end %>
        <% end %>
        <% @farm.show_meets_baseline.each do |i| %>
        <%= i %><br><br>
        <% end %>
      </p>
    </div>

    <div id="p-pop-up">
      <h3>Farm Does Not Meet P Baseline</h3>
      <p>
        <% if @farm.site_state_id != 47 %>
          <% if( @baseline_p_load_fields < @current_p_load_fields) %>
            Current P load is greater than Baseline P load.<br><br>
          <% end %>
        <% end %>
        <% @farm.show_meets_baseline.each do |i| %>
        <%= i %><br><br>
        <% end %>
      </p>
    </div>

    <div id="s-pop-up">
      <h3>Farm Does Not Meet S Baseline</h3>
      <p>
        <% if @farm.site_state_id != 47 %>
          <% if( @baseline_sediment_load_fields < @current_sediment_load_fields) %>
            Current S load is greater than Baseline S load.<br><br>
          <% end %>
        <% end %>
        <% @farm.show_meets_baseline.each do |i| %>
        <%= i %><br><br>
        <% end %>
      </p>
    </div>
    <script>
    $(function() {
  var moveLeft = 20;
  var moveDown = 10;

  $('a#trigger').hover(function(e) {
    $('div#pop-up').show();
      //.css('top', e.pageY + moveDown)
      //.css('left', e.pageX + moveLeft)
      //.appendTo('body');
  }, function() {
    $('div#pop-up').hide();
  });

  $('a#trigger').mousemove(function(e) {
    $("div#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
  });

});
    </script>

        <script>
    $(function() {
  var moveLeft = 20;
  var moveDown = 10;

  $('a#ptrigger').hover(function(e) {
    $('div#p-pop-up').show();
      //.css('top', e.pageY + moveDown)
      //.css('left', e.pageX + moveLeft)
      //.appendTo('body');
  }, function() {
    $('div#p-pop-up').hide();
  });

  $('a#ptrigger').mousemove(function(e) {
    $("div#p-pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
  });

});
    </script>


        <script>
    $(function() {
  var moveLeft = 20;
  var moveDown = 10;

  $('a#strigger').hover(function(e) {
    $('div#s-pop-up').show();
      //.css('top', e.pageY + moveDown)
      //.css('left', e.pageX + moveLeft)
      //.appendTo('body');
  }, function() {
    $('div#s-pop-up').hide();
  });

  $('a#strigger').mousemove(function(e) {
    $("div#s-pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
  });

});
    </script>