<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
  <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <META http-equiv="X-UA-Compatible" content="IE=8">
  <TITLE>MDA CCRForm</TITLE>
  <STYLE type="text/css">

      body {margin-top: 0px;margin-left: 0px;}

      #page_1 {position:relative; overflow: hidden;margin: 38px 0px 55px 76px;padding: 0px;border: none;width: 740px;}

      #page_1 #dimg1 {position:absolute;top:0px;left:1px;z-index:-1;width:642px;height:61px;}
      #page_1 #dimg1 #img1 {width:642px;height:61px;}




      #page_2 {position:relative; overflow: hidden;margin: 63px 0px 48px 76px;padding: 0px;border: none;width: 740px;}





      #page_3 {position:relative; overflow: hidden;margin: 47px 0px 378px 69px;padding: 0px;border: none;width: 747px;height: 631px;}

      #page_3 #dimg1 {position:absolute;top:174px;left:0px;z-index:-1;width:678px;height:457px;}
      #page_3 #dimg1 #img1 {width:678px;height:457px;}




      .dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

      .ft0{font: bold 16px 'Tahoma';line-height: 19px;}
      .ft1{font: bold 11px 'Tahoma';line-height: 13px;}
      .ft2{font: 11px 'Tahoma';line-height: 13px;}
      .ft3{font: 1px 'Tahoma';line-height: 1px;}
      .ft4{font: 12px 'Tahoma';line-height: 14px;}
      .ft5{font: 12px 'Tahoma';margin-left: 12px;line-height: 14px;}
      .ft6{font: 12px 'Tahoma';margin-left: 12px;line-height: 24px;}
      .ft7{font: bold 12px 'Tahoma';line-height: 24px;}
      .ft8{font: 12px 'Tahoma';line-height: 24px;}
      .ft9{font: bold 12px 'Tahoma';line-height: 14px;}
      .ft10{font: 12px 'Tahoma';margin-left: 5px;line-height: 14px;}
      .ft11{font: 12px 'Tahoma';margin-left: 4px;line-height: 14px;}
      .ft12{font: 11px 'Tahoma';margin-left: 12px;line-height: 14px;}
      .ft13{font: 11px 'Tahoma';line-height: 14px;}
      .ft14{font: bold 13px 'Tahoma';line-height: 16px;}
      .ft15{font: bold 11px 'Tahoma';line-height: 14px;}
      .ft16{font: 13px 'Calibri';line-height: 15px;}
      .ft17{font: bold 13px 'Calibri';line-height: 15px;}
      .ft18{font: 11px 'Calibri';line-height: 13px;}

      .p0{text-align: left;padding-left: 274px;margin-top: 45px;margin-bottom: 0px;}
      .p1{text-align: left;padding-left: 203px;margin-top: 0px;margin-bottom: 0px;}
      .p2{text-align: left;padding-left: 139px;margin-top: 0px;margin-bottom: 0px;}
      .p3{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p4{text-align: left;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p5{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p6{text-align: left;padding-left: 151px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p7{text-align: left;padding-left: 29px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p8{text-align: left;padding-left: 35px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p9{text-align: left;padding-left: 134px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p10{text-align: left;padding-left: 149px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p11{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p12{text-align: left;padding-left: 115px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p13{text-align: left;padding-left: 152px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p14{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p15{text-align: center;padding-right: 113px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p16{text-align: left;padding-left: 13px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p17{text-align: left;padding-left: 145px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p18{text-align: center;padding-right: 116px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p19{text-align: left;padding-left: 130px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p20{text-align: justify;padding-left: 25px;margin-top: 13px;margin-bottom: 0px;}
      .p21{text-align: justify;padding-left: 49px;margin-top: 0px;margin-bottom: 0px;}
      .p22{text-align: justify;padding-left: 49px;margin-top: 15px;margin-bottom: 0px;}
      .p23{text-align: right;padding-right: 22px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p24{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p25{text-align: right;padding-right: 27px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p26{text-align: center;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p27{text-align: right;padding-right: 29px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p28{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p29{text-align: right;padding-right: 32px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p30{text-align: center;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p31{text-align: justify;padding-left: 48px;padding-right: 265px;margin-top: 25px;margin-bottom: 0px;text-indent: -23px;}
      .p32{text-align: justify;padding-left: 25px;margin-top: 11px;margin-bottom: 0px;}
      .p33{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p34{text-align: left;padding-left: 18px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p35{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p36{text-align: left;padding-left: 17px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p37{text-align: left;padding-left: 166px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p38{text-align: right;padding-right: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p39{text-align: left;padding-left: 48px;padding-right: 84px;margin-top: 17px;margin-bottom: 0px;}
      .p40{text-align: justify;padding-left: 25px;margin-top: 16px;margin-bottom: 0px;}
      .p41{text-align: justify;padding-left: 49px;padding-right: 100px;margin-top: 29px;margin-bottom: 0px;text-indent: -24px;}
      .p42{text-align: justify;padding-left: 49px;margin-top: 1px;margin-bottom: 0px;}
      .p43{text-align: left;padding-left: 49px;padding-right: 77px;margin-top: 15px;margin-bottom: 0px;text-indent: -23px;}
      .p44{text-align: left;padding-left: 49px;margin-top: 1px;margin-bottom: 0px;}
      .p45{text-align: left;padding-left: 49px;margin-top: 15px;margin-bottom: 0px;}
      .p46{text-align: justify;padding-left: 25px;margin-top: 15px;margin-bottom: 0px;}
      .p47{text-align: justify;padding-left: 73px;padding-right: 72px;margin-top: 17px;margin-bottom: 0px;text-indent: -24px;}
      .p48{text-align: justify;padding-left: 73px;margin-top: 1px;margin-bottom: 0px;}
      .p49{text-align: left;padding-left: 349px;margin-top: 1px;margin-bottom: 0px;}
      .p50{text-align: justify;padding-left: 73px;padding-right: 72px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
      .p51{text-align: justify;padding-left: 73px;padding-right: 77px;margin-top: 19px;margin-bottom: 0px;text-indent: -24px;}
      .p52{text-align: justify;padding-left: 25px;margin-top: 21px;margin-bottom: 0px;}
      .p53{text-align: justify;padding-left: 48px;padding-right: 78px;margin-top: 92px;margin-bottom: 0px;}
      .p54{text-align: justify;padding-left: 25px;margin-top: 18px;margin-bottom: 0px;}
      .p55{text-align: left;padding-left: 449px;margin-top: 2px;margin-bottom: 0px;}
      .p56{text-align: left;padding-left: 164px;margin-top: 0px;margin-bottom: 0px;}
      .p57{text-align: left;padding-left: 244px;margin-top: 15px;margin-bottom: 0px;}
      .p58{text-align: left;padding-left: 244px;margin-top: 1px;margin-bottom: 0px;}
      .p59{text-align: left;padding-left: 244px;margin-top: 0px;margin-bottom: 0px;}
      .p60{text-align: left;padding-left: 261px;margin-top: 44px;margin-bottom: 0px;}
      .p61{text-align: justify;padding-left: 8px;padding-right: 76px;margin-top: 17px;margin-bottom: 0px;}
      .p62{text-align: left;padding-left: 119px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p63{text-align: right;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p64{text-align: left;padding-left: 93px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p65{text-align: right;padding-right: 94px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p66{text-align: center;padding-left: 13px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p67{text-align: left;padding-left: 8px;margin-top: 26px;margin-bottom: 0px;}
      .p68{text-align: left;padding-left: 8px;margin-top: 30px;margin-bottom: 0px;}
      .p69{text-align: left;padding-left: 8px;margin-top: 15px;margin-bottom: 0px;}

      .td0{padding: 0px;margin: 0px;width: 11px;vertical-align: bottom;}
      .td1{padding: 0px;margin: 0px;width: 597px;vertical-align: bottom;}
      .td2{padding: 0px;margin: 0px;width: 295px;vertical-align: bottom;}
      .td3{padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;}
      .td4{padding: 0px;margin: 0px;width: 155px;vertical-align: bottom;}
      .td5{padding: 0px;margin: 0px;width: 442px;vertical-align: bottom;}
      .td6{padding: 0px;margin: 0px;width: 307px;vertical-align: bottom;}
      .td7{padding: 0px;margin: 0px;width: 251px;vertical-align: bottom;}
      .td8{padding: 0px;margin: 0px;width: 242px;vertical-align: bottom;}
      .td9{padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;}
      .td10{padding: 0px;margin: 0px;width: 58px;vertical-align: bottom;}
      .td11{padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
      .td12{padding: 0px;margin: 0px;width: 199px;vertical-align: bottom;}
      .td13{padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
      .td14{padding: 0px;margin: 0px;width: 26px;vertical-align: bottom;}
      .td15{padding: 0px;margin: 0px;width: 178px;vertical-align: bottom;}
      .td16{padding: 0px;margin: 0px;width: 38px;vertical-align: bottom;}
      .td17{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
      .td18{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
      .td19{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
      .td20{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 57px;vertical-align: bottom;}
      .td21{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
      .td22{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 198px;vertical-align: bottom;}
      .td23{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
      .td24{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
      .td25{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
      .td26{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
      .td27{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
      .td28{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 215px;vertical-align: bottom;}
      .td29{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
      .td30{padding: 0px;margin: 0px;width: 343px;vertical-align: bottom;}
      .td31{padding: 0px;margin: 0px;width: 223px;vertical-align: bottom;}
      .td32{padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;}
      .td33{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 342px;vertical-align: bottom;}
      .td34{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
      .td35{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
      .td36{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 26px;vertical-align: bottom;}
      .td37{padding: 0px;margin: 0px;width: 288px;vertical-align: bottom;}
      .td38{padding: 0px;margin: 0px;width: 261px;vertical-align: bottom;}
      .td39{padding: 0px;margin: 0px;width: 333px;vertical-align: bottom;}

      .tr0{height: 15px;}
      .tr1{height: 14px;}
      .tr2{height: 44px;}
      .tr3{height: 29px;}
      .tr4{height: 16px;}
      .tr5{height: 17px;}

      .t0{width: 608px;margin-left: 25px;margin-top: 71px;font: 12px 'Tahoma';}
      .t1{width: 558px;margin-left: 25px;margin-top: 30px;font: 11px 'Tahoma';}
      .t2{width: 664px;margin-top: 15px;font: 12px 'Tahoma';}
      .t3{width: 665px;font: 12px 'Tahoma';}
      .t4{width: 621px;margin-left: 8px;margin-top: 65px;font: 12px 'Tahoma';}

  </STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<DIV id="dimg1">
  <%= wicked_pdf_image_tag('MDA_CCR_Form/top_left.jpg') %>
</DIV>

<DIV class="dclr"></DIV>
<P class="p0 ft0">State of Maryland</P>
<P class="p1 ft0">Maryland Department of Agriculture</P>
<P class="p2 ft0">Nutrient Credit Certification and Registration Form</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
  <TR>
    <TD class="tr0 td0"><P class="p3 ft1">1.</P></TD>
    <TD colspan=3 class="tr0 td1"><P class="p4 ft1"><SPAN class="ft2">Applicant Information: </SPAN><%= @farm.owner.first_name + ' ' + @farm.owner.last_name %></P></TD>
  </TR>
  <TR>
    <TD class="tr1 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td2"><P class="p6 ft4">First Name</P></TD>
    <TD class="tr1 td3"><P class="p7 ft4">MI</P></TD>
    <TD class="tr1 td4"><P class="p8 ft4">Last Name</P></TD>
  </TR>
  <TR>
    <TD class="tr0 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD colspan=3 class="tr0 td1"><P class="p9 ft1"><%= @farm.owner.org_name %></P></TD>
  </TR>
  <TR>
    <TD class="tr1 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD colspan=2 class="tr1 td5"><P class="p6 ft4">Company Name (if applicable)</P></TD>
    <TD class="tr1 td4"><P class="p5 ft4">Title</P></TD>
  </TR>
  <TR>
    <TD class="tr2 td0"><P class="p3 ft1">2.</P></TD>
    <TD colspan=3 class="tr2 td1"><P class="p4 ft1"><SPAN class="ft2">Applicant Address: </SPAN><%= @farm.owner.org_street1 %><br/><%= @farm.owner.org_street1 %></P></TD>
  </TR>
  <TR>
    <TD class="tr1 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td2"><P class="p10 ft4">Number</P></TD>
    <TD class="tr1 td3"><P class="p11 ft4">Street</P></TD>
    <TD class="tr1 td4"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr0 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD colspan=3 class="tr0 td1"><P class="p12 ft1">_______________________________________________________________</P></TD>
  </TR>
  <TR>
    <TD class="tr1 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td2"><P class="p13 ft4">Town</P></TD>
    <TD class="tr1 td3"><P class="p14 ft4">State</P></TD>
    <TD class="tr1 td4"><P class="p15 ft4">Zip</P></TD>
  </TR>
  <TR>
    <TD class="tr3 td0"><P class="p3 ft1">3.</P></TD>
    <TD class="tr3 td2"><P class="p4 ft4">Property Information:</P></TD>
    <TD class="tr3 td3"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr3 td4"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr0 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD colspan=3 class="tr0 td1"><P class="p4 ft4">If the applicant is not the property owner or renter with control, enter the name of the owner or party in</P></TD>
  </TR>
  <TR>
    <TD class="tr1 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD colspan=3 class="tr1 td1"><P class="p16 ft1"><SPAN class="ft2">control of the property: </SPAN><%= @farm.name %></P></TD>
  </TR>
  <TR>
    <TD class="tr0 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td2"><P class="p17 ft4">First</P></TD>
    <TD class="tr0 td3"><P class="p5 ft4">MI</P></TD>
    <TD class="tr0 td4"><P class="p18 ft2">Last</P></TD>
  </TR>
  <TR>
    <TD class="tr3 td0"><P class="p3 ft1">4.</P></TD>
    <TD colspan=3 class="tr3 td1"><P class="p4 ft1"><SPAN class="ft2">Property Address: </SPAN><%= @farm.site_street_1 %><br/><%= @farm.site_street_2 %></P></TD>
  </TR>
  <TR>
    <TD class="tr1 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td2"><P class="p10 ft4">Number</P></TD>
    <TD class="tr1 td3"><P class="p11 ft4">Street</P></TD>
    <TD class="tr1 td4"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr0 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD colspan=3 class="tr0 td1"><P class="p19 ft1"><%= @farm.site_city %> <%= @farm.state.abbreviation %> <%= @farm.site_zip %></P></TD>
  </TR>
  <TR>
    <TD class="tr4 td0"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr4 td2"><P class="p13 ft4">Town</P></TD>
    <TD class="tr4 td3"><P class="p14 ft4">State</P></TD>
    <TD class="tr4 td4"><P class="p15 ft4">Zip</P></TD>
  </TR>
</TABLE>
<P class="p20 ft4"><SPAN class="ft1">5.</SPAN><SPAN class="ft5">Property Description (optional):</SPAN></P>
<P class="p21 ft4"><%= @farm.site_description %></P>

<TABLE cellpadding=0 cellspacing=0 class="t1">
  <TR>
    <TD class="tr1 td6"><P class="p23 ft1">6. <SPAN class="ft2">Property County: </SPAN><%= @farm.county.name %></P></TD>
    <TD class="tr1 td7"><P class="p24 ft1"><SPAN class="ft2">Watershed: </SPAN><%= @arrWatersheds.join(" / ").html_safe %></P></TD>
  </TR>
  <TR>
    <TD class="tr3 td6"><P class="p25 ft4">Tract Number: <%= @farm.tract_number %></P></TD>
    <TD class="tr3 td7"><P class="p26 ft2">Watershed Segment ID: __________________</P></TD>
  </TR>
  <TR>
    <TD class="tr3 td6"><P class="p27 ft4">MD Property View Acct. ID(s): ______________</P></TD>
    <TD class="tr3 td7"><P class="p28 ft2">Coordinates: <%= @farm.coordinates %></P></TD>
  </TR>
  <TR>
    <TD class="tr0 td6"><P class="p29 ft4">______________</P></TD>
    <TD class="tr0 td7"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr5 td6"><P class="p29 ft4">______________</P></TD>
    <TD class="tr5 td7"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
</TABLE>
<P class="p31 ft8"><SPAN class="ft1">7.</SPAN><SPAN class="ft6">Total Annual Credits Generated: </SPAN><SPAN class="ft7">______________ </SPAN>(N); <SPAN class="ft7">_____________ </SPAN>(P) Total Years: __________________</P>
<P class="p32 ft4"><SPAN class="ft1">8.</SPAN><SPAN class="ft5">Indicate BMPs that will be used to generate credits:</SPAN></P>
<TABLE cellpadding=0 cellspacing=0 class="t2">
  <TR>
    <TD colspan=3 class="tr0 td8"><P class="p33 ft9"><SPAN class="ft4"># </SPAN>Land Conversion/Streambank</P></TD>
    <TD class="tr0 td9"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td10"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td11"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td12"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td13"><P class="p34 ft9">Acres</P></TD>
  </TR>
  <TR>
    <TD class="tr1 td14"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td15"><P class="p35 ft9">BMPs</P></TD>
    <TD class="tr1 td16"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td9"><P class="p36 ft9">Acres</P></TD>
    <TD class="tr1 td10"><P class="p5 ft3">&nbsp;</P></TD>
    <TD colspan=3 class="tr1 td2"><P class="p35 ft9"><SPAN class="ft4"># </SPAN>Field Management BMPs</P></TD>
  </TR>
  <TR>
    <TD class="tr0 td17"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr5 td15"><P class="p35 ft4">Wetland</P></TD>
    <TD class="tr5 td18"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td19"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr5 td20"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td21"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr5 td22"><P class="p35 ft4">Conservation tillage*</P></TD>
    <TD class="tr0 td23"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td15"><P class="p35 ft4">Land use conversion: hay</P></TD>
    <TD class="tr0 td18"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td25"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td20"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td26"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td22"><P class="p35 ft4">Continuous no-till*</P></TD>
    <TD class="tr1 td27"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td15"><P class="p35 ft4">Land use conversion: grass</P></TD>
    <TD class="tr0 td18"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td25"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td20"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td26"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td22"><P class="p35 ft4">Enhanced nutrient management*</P></TD>
    <TD class="tr1 td27"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td15"><P class="p35 ft4">Land use conversion: forest</P></TD>
    <TD class="tr0 td18"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td25"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td20"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td26"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td22"><P class="p35 ft4">Decision agriculture</P></TD>
    <TD class="tr1 td27"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
    <TD colspan=2 class="tr0 td28"><P class="p35 ft4">Land use conversion: perennial crop*</P></TD>
    <TD class="tr1 td25"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td20"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td26"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td22"><P class="p35 ft4">Water control structure</P></TD>
    <TD class="tr1 td27"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr0 td24"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr4 td15"><P class="p35 ft4">Forested buffer/fencing</P></TD>
    <TD class="tr4 td18"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td25"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr4 td20"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td26"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr4 td22"><P class="p35 ft4">Cover crop*</P></TD>
    <TD class="tr0 td27"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td15"><P class="p35 ft4">Grass buffer/fencing</P></TD>
    <TD class="tr0 td18"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td25"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td10"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td29"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td22"><P class="p37 ft4">Type</P></TD>
    <TD class="tr1 td27"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td15"><P class="p35 ft4">Streambank restoration</P></TD>
    <TD class="tr0 td18"><P class="p5 ft4">Feet</P></TD>
    <TD class="tr1 td25"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td20"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr1 td26"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td22"><P class="p35 ft4">Commodity cover crop*</P></TD>
    <TD class="tr1 td27"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD class="tr0 td14"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td15"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td16"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td9"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td10"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td11"><P class="p5 ft3">&nbsp;</P></TD>
    <TD class="tr0 td22"><P class="p37 ft4">Type</P></TD>
    <TD class="tr1 td27"><P class="p5 ft3">&nbsp;</P></TD>
  </TR>
</TABLE>
</DIV>
<DIV id="page_2">


  <TABLE cellpadding=0 cellspacing=0 class="t3">
    <TR>
      <TD class="tr1 td14"><P class="p38 ft4">#</P></TD>
      <TD class="tr1 td30"><P class="p35 ft9">Livestock Area BMPs</P></TD>
      <TD colspan=2 class="tr1 td31"><P class="p35 ft9"><SPAN class="ft4"># </SPAN>Pasture BMPs</P></TD>
      <TD class="tr1 td32"><P class="p34 ft9">Acres</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td17"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr4 td33"><P class="p35 ft4">Clean water diversion</P></TD>
      <TD class="tr1 td21"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr4 td22"><P class="p35 ft4">Alternative watering facility</P></TD>
      <TD class="tr1 td34"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr0 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr4 td33"><P class="p35 ft4">Heavy use area protection</P></TD>
      <TD class="tr0 td26"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr4 td22"><P class="p35 ft4">Horse pasture management</P></TD>
      <TD class="tr0 td35"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td33"><P class="p35 ft4">Heavy use area pad</P></TD>
      <TD class="tr1 td26"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td22"><P class="p35 ft4">Prescribed grazing/PIRG</P></TD>
      <TD class="tr1 td35"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td33"><P class="p35 ft4">Runoff collection & infiltration</P></TD>
      <TD class="tr1 td26"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td22"><P class="p35 ft4">Fencing (forest buffer)</P></TD>
      <TD class="tr1 td35"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td33"><P class="p35 ft4">Vegetated swales</P></TD>
      <TD class="tr1 td26"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td22"><P class="p35 ft4">Fencing (grass buffer)</P></TD>
      <TD class="tr1 td35"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td30"><P class="p35 ft4">Water control structure</P></TD>
      <TD class="tr0 td11"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td12"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td32"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td30"><P class="p35 ft4">Treatment wetland</P></TD>
      <TD class="tr0 td11"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td12"><P class="p35 ft9">Manure Management</P></TD>
      <TD class="tr0 td32"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td14"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr1 td30"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr1 td11"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr1 td12"><P class="p35 ft4">Dairy precision feeding*</P></TD>
      <TD class="tr1 td32"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr0 td36"><P class="p38 ft4">#</P></TD>
      <TD class="tr4 td30"><P class="p35 ft9">Ammonia BMPs</P></TD>
      <TD class="tr4 td11"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr4 td12"><P class="p35 ft4">Manure export*</P></TD>
      <TD class="tr4 td32"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td30"><P class="p35 ft4">Lagoon cover</P></TD>
      <TD class="tr0 td11"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td12"><P class="p35 ft4">Poultry/swine phytase*</P></TD>
      <TD class="tr0 td32"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td30"><P class="p35 ft4">Poultry litter treatment</P></TD>
      <TD class="tr0 td11"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td12"><P class="p35 ft4">Manure injection*</P></TD>
      <TD class="tr0 td32"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr0 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr4 td30"><P class="p35 ft4">Biofilters</P></TD>
      <TD class="tr4 td11"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr4 td12"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr4 td32"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr1 td24"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td30"><P class="p35 ft4">Vegetated environmental buffers</P></TD>
      <TD class="tr0 td11"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td12"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr0 td32"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
  </TABLE>
  <P class="p39 ft4">* These BMPs are reflected in crop management scenarios as differences in crop rotation, tillage practices, manure N/P concentrations, nutrient application regimes, etc.</P>
  <P class="p40 ft4"><SPAN class="ft1">9.</SPAN><SPAN class="ft5">Describe any BMP used to generate credits that is not listed above:</SPAN></P>
  <P class="p21 ft4">__________________________________________________________________________________________</P>
  <P class="p22 ft4">__________________________________________________________________________________________</P>
  <P class="p41 ft4"><SPAN class="ft1">10.</SPAN><SPAN class="ft10">If any BMPs are not fully implemented, list below those planned and contingent on sale, along with contingency sale date:</SPAN></P>
  <P class="p42 ft4">___________________________________________________________________________________________</P>
  <P class="p22 ft4">___________________________________________________________________________________________</P>
  <P class="p43 ft4"><SPAN class="ft9">11. </SPAN>Category 2 and 3 BMPs (consult BMP list in Users Guide) require additional analysis and technical review. List below any BMPs in those categories:</P>
  <P class="p44 ft4">___________________________________________________________________________________________</P>
  <P class="p45 ft4">___________________________________________________________________________________________</P>
  <P class="p46 ft4"><SPAN class="ft1">12.</SPAN><SPAN class="ft11">Compliance Statements:</SPAN></P>
  <P class="p47 ft13"><SPAN class="ft1">A.</SPAN><SPAN class="ft12">I attest that all occupied lands under my operation (owned or rented) are in compliance with Maryland Nutrient Management requirements and I maintain a current Soil and Water Quality Plan, and if applicable, a Waste System Management Plan. Furthermore, I confirm that I am following all recommendations of my plan(s).</SPAN></P>
  <P class="p48 ft9">___________ <SPAN class="ft4">(initial)</SPAN></P>
  <P class="p49 ft14">or</P>
  <P class="p50 ft13"><SPAN class="ft9">B.</SPAN><SPAN class="ft12">I attest that I have the authority to represent the owner or controlling party named above and affirm that the referenced lands are in compliance with Maryland Nutrient Management requirements and operate under a current Soil and Water Quality Plan, and if applicable, a Waste System Management Plan. Furthermore, I confirm that all recommendations in any of those plan(s) are being followed. </SPAN><SPAN class="ft15">___________ </SPAN>(initial)</P>
  <P class="p51 ft4"><SPAN class="ft9">C.</SPAN><SPAN class="ft5">I attest that all existing BMP’s submitted to generate credits are not or no longer subject to contractual obligations under funding provided by any NRCS or MACS program: </SPAN><SPAN class="ft9">_________ </SPAN>(initial)</P>
  <P class="p52 ft4"><SPAN class="ft1">13.</SPAN><SPAN class="ft11">Any other pertinent information or additional comments may be entered in box below:</SPAN></P>
  <P class="p53 ft15">This Form Must be Accompanied by Farm Summary Worksheet from the Maryland Trading Program Website (or Similar Document) and Any Project Proposals for Planned BMPs</P>
  <P class="p54 ft17"><SPAN class="ft1">14.</SPAN><SPAN class="ft11">Signature</SPAN><SPAN class="ft16">: </SPAN>____________________________________________________ ___________</P>
  <P class="p55 ft18">Date</P>
</DIV>
<DIV id="page_3">
  <DIV id="dimg1">
    <%= wicked_pdf_image_tag('MDA_CCR_Form/top_left.jpg') %>
  </DIV>


  <P class="p56 ft9">Send completed form and any accompanying materials to:</P>
  <P class="p57 ft4">Maryland Department of Agriculture</P>
  <P class="p58 ft4">Resource Conservation Operations</P>
  <P class="p59 ft4">Attention: Nutrient Trading Program</P>
  <P class="p58 ft4">50 Harry S. Truman Parkway</P>
  <P class="p59 ft4">Annapolis, MD 21401</P>
  <P class="p60 ft9">Public Information Notice</P>
  <P class="p61 ft4">Your application cannot be processed unless all of the requested information and accompanying documents have been supplied. These materials will be used by the Maryland Department of Agriculture to confirm the applicant’s eligibility to participate in the Maryland Nutrient Trading Program, verify existing and planned BMPs, and certify and register tradable credits. You have the right to inspect, amend, or correct any information provided. Under State Government Article, §10- 611 et seq., Annotated Code of Maryland, the information contained in your application and documents may be available for public inspection. This information is not routinely shared with the general public or state, federal, or local governmental agencies.</P>
  <TABLE cellpadding=0 cellspacing=0 class="t4">
    <TR>
      <TD class="tr1 td37"><P class="p5 ft9">For Department Use Only:</P></TD>
      <TD class="tr1 td38"><P class="p5 ft3">&nbsp;</P></TD>
      <TD class="tr1 td13"><P class="p5 ft3">&nbsp;</P></TD>
    </TR>
    <TR>
      <TD class="tr3 td37"><P class="p5 ft4">Application Received: ______________ (Date)</P></TD>
      <TD colspan=2 class="tr3 td39"><P class="p62 ft2">Identification #____________________</P></TD>
    </TR>
    <TR>
      <TD class="tr2 td37"><P class="p5 ft2">____________________________________________</P></TD>
      <TD class="tr2 td38"><P class="p3 ft4">_____________________________________</P></TD>
      <TD class="tr2 td13"><P class="p63 ft4">_________</P></TD>
    </TR>
    <TR>
      <TD class="tr5 td37"><P class="p64 ft4">Name of Verifier</P></TD>
      <TD class="tr5 td38"><P class="p65 ft4">Signature</P></TD>
      <TD class="tr5 td13"><P class="p66 ft2">Date</P></TD>
    </TR>
  </TABLE>
  <P class="p67 ft4">Credits Approved: ___________ (N) ___________ (P) ______________________________________ (Certifier)</P>
  <P class="p68 ft4">Reason for <NOBR>Non-approval:</NOBR></P>
  <P class="p69 ft4">___________________________________________________________________________________________________</P>
  <P class="p69 ft4">___________________________________________________________________________________________________</P>
  <P class="p69 ft4">___________________________________________________________________________________________________</P>
</DIV>
</BODY>
</HTML>
