<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dummy.name %>
</p>

<p>
  <b>Body:</b>
  <%= @dummy.body %>
</p>

<p>
  <b>Project:</b>
  <%= @dummy.project %>
</p>


<%= link_to 'Edit', edit_dummy_path(@dummy) %> |
<%= link_to 'Back', dummies_path %>
