<!-- update welcome email -->
<!-- TODO: update email message -->
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>An issue was reported by: <%= @user.first_name %> <%= @user.last_name %></h1>

<p>
  Project ID: <%= @project_issue.farm_id %>
  <br/>
  Project Name: <%= @project_issue.farm_name %>
  <br>
  Message: <%= @project_issue.message %>
</p>

<p>
  To login to the site, just follow this
  link: <%= link_to url_for(:controller => 'farms', :action => 'show', :id => @project_issue.farm_id, :only_path => false), :controller => 'farms', :action => 'show', :id => @project_issue.farm_id %>
  .
</p>

</body>
</html>