<%= nested_form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form", :novalidate => 'novalidate'} do |f| %>

    <% if @field.errors.any? %>
        <div id="error_explanation" class="alert">
          <b><%= pluralize(@field.errors.count, "error") %> encountered:</b>

          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="sectionRest clearfix">
      <%= f.hidden_field :step, :value => '2' %>
      <div>
        <fieldset>
          <ol>
            <li><h2 class='sectionHeading'>Field and Soil Characteristics</h2></li>
            <li>
              Enter field and soil information. Soils are derived from your field location. Click "show details" to view
              or edit soil characteristics.
            </li>
            <li>
              <div class='wide'>Field area:<em>*</em></div>
              <%= f.radio_button :is_acres_from_map, true %>
              <%= f.label :is_acres_from_map_true, number_with_precision(@field.acres_from_map, :precision => 2, :separator => '.', :delimiter => ',') + ' ac (from map)' %>
              <br/>

              <div class='wide'>&nbsp;</div>
              <%= f.radio_button :is_acres_from_map, false %>
              <%= f.text_field :acres_from_user, :required => 'true', :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any' %>
              &nbsp;<%= f.label :is_acres_from_map_false, 'ac' %>
            </li>
            <% if (@field.field_type_id == 1) then %>
                <li>
                  <%= f.label :crop_type_id, 'Tillage type:<em>*</em>'.html_safe, :class => 'wide' %>
                  <%= f.collection_select :crop_type_id, CropType.all, :id, :name, {:prompt => 'Select tillage type'}, :required => true %>
                </li>
            <% end %>
            <li>
              <%= f.label :tile_drainage_depth, 'Tile drainage depth:', :class => 'wide' %>
              <%= f.text_field :tile_drainage_depth, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any' %>
              &nbsp;ft
            </li>
            <li>
              <%= f.label :irrigation_id, 'Irrigation:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.collection_select :irrigation_id, Irrigation.all, :id, :name, {:prompt => 'Select irrigation'}, :required => true %>
            </li>
            <li id='efficiency'>
              <%= f.label :efficiency, 'Efficiency<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :efficiency, :class => 'textboxMedium', :type => 'number', :required => true, :min => 0, :max => 100, :step => 'any' %>
              &nbsp;% &nbsp;&nbsp;&nbsp;&nbsp;<span id='default_efficiency'></span>
            </li>
            <li id='fertigation_n'>
              <%= f.label :fertigation_n, 'N concentration in irrigation water (for fertigation)', :class => 'wide' %>
              <%= f.text_field :fertigation_n, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any' %>
              &nbsp;ppm
            </li>
            <li>
              <%= f.label :soil_test_laboratory_id, 'Soil Test Laboratory:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.collection_select :soil_test_laboratory_id, @soil_test_laboratories, :id, :name, {:prompt => 'Select Test Laboratory'}, {:required => true} %>
            </li>
            <li>
              <%= f.label :soil_p_extractant_id, 'Soil P Extractant:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.hidden_field :soil_p_extractant_id %>
              <span id='soil_p_extractant_id' style="display: table">N/A</span>

            </li>
            <li>
              <%= f.label :p_test_value, 'Soil P test value:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :p_test_value, :class => 'textboxMedium', :type => 'number', :required => true, :min => 0, :step => 'any' %>
              &nbsp;<span id='p_test_value_unit'></span>
            </li>

            <% if !@field.soils.empty? %>

                <div id='li_soil'>

                  <%= f.fields_for :soils do |soils_form| %>
                      <%= render 'soil_fields', :f => soils_form, :soil_index => @field.soils.index(soils_form.object) %>
                  <% end %>

                </div>

            <% end %>
            <div id='div_soil_texture' <% if !@field.soils.empty? %> style='display:none' <% end %> >
                <li>
                  <%= f.label :soil_texture_id, 'Soil texture:<em>*</em>'.html_safe, :class => 'wide' %>
                  <%= f.collection_select :soil_texture_id, SoilTexture.all, :id, :name, {:prompt => 'Select soil texture'}, :required => @field.soils.empty? %>
                </li>
                <li>
                  <%= f.label :slope, 'Soil slope:<em>*</em>'.html_safe, :class => 'wide' %>
                  <%= f.text_field :slope, :class => 'textboxMedium', :type => 'number', :required => @field.soils.empty?, :min => 0, :max => 100, :step => 'any' %>                </li>
                </li>
             </div>
          </ol>
        </fieldset>

      </div>
      <div style="clear: both"></div>

      <%= f.submit 'Save and Continue', :class => 'button' %>
    </div>
<% end %>


<script>
$(function(){
   $("#efficiency").hide();
   $("#irrigation_id").change(function(){
        if ($("#irrigation_id").val()==!"531"){
            $("#efficiency").show();
        } else {
            $("#efficiency").hide();
        }
    })
        
   
})
</script>