<%= nested_form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form"} do |f| %>

    <% if @field.errors.any? %>
        <div id="error_explanation" class="alert">
          <b><%= pluralize(@field.errors.count, "error") %> encountered:</b>

          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="sectionRest clearfix">

      <%= f.hidden_field :step, :value => '3' %>

      <input type='hidden' name='addCropForStrip' id='addCropForStrip'>


      <div id="div_strip">

        <%= f.fields_for :strips do |strips_form| %>
            <%= render 'strip_fields', :f => strips_form %>
        <% end %>

      </div>
    </div>
    <%= f.link_to_add "Add strip", :strips, :class => 'button', :id => 'addStripBtn', :data => {:target => "#div_strip"} %>

    <%= f.submit 'Save and Continue', :class => 'button' %>

<% end %>