<%= nested_form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form"} do |f| %>

    <% if @field.errors.any? %>
        <br/>
        <div id="error_explanation" class="alert">
          <h2><%= pluralize(@field.errors.count, "error") %> encountered:</h2>

          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="sectionRest clearfix">
      <%= hidden_field_tag :step, 2 %>
      <div>
        <fieldset>
          <ol>
            <li><h2 class='sectionHeading'>Soil Characteristics</h2></li>
            <li>
              Enter soil information. If the soil information below, derived from the farm's location, is incorrect,
              complete one or more of the soil characteristic survey questions below.

            </li>
            <li>
              <div class='wide'>Field area:<em>*</em></div>
              <%= f.radio_button :is_acres_from_map, true %>
              <%= f.label :acres_use_map_true, number_with_precision(@field.acres_from_map, :precision => 2, :separator => '.', :delimiter => ',') + ' ac (from map)' %>
              <br/>

              <div class='wide'>&nbsp;</div>
              <%= f.radio_button :is_acres_from_map, false %>
              <%= f.text_field :acres_from_user, :required => 'true', :size => 5 %>
              <%= f.label :acres_use_map_false, 'ac' %>


            </li>
            <li>
              <%= f.label :tile_drainage_depth, 'Tile drainage depth:', :class => 'wide' %>
              <%= f.text_field :tile_drainage_depth, :value => (number_with_precision(@field.tile_drainage_depth, :precision => 2, :separator => '.', :delimiter => ',')), :size => 5 %>
              ft
            </li>
            <li>
              <%= f.label :irrigation_id, 'Irrigation:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.collection_select :irrigation_id, Irrigation.all, :id, :name, {:prompt => 'Select irrigation'}, :required => true %>
            </li>
            <li id='efficiency'>
              <%= f.label :efficiency, 'Efficiency<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :efficiency, :type => 'number', :size => 5, :required => true, :min => 0, :max => 100 %> % &nbsp;&nbsp;&nbsp;&nbsp;<span id='default_efficiency'></span>
            </li>
            <li id='fertigation_n'>
              <%= f.label :fertigation_n, 'N concentration in irrigation water (for fertigation)', :class => 'wide' %>
              <%= f.text_field :fertigation_n, :value => (number_with_precision(@field.fertigation_n, :precision => 2, :separator => '.', :delimiter => ',')), :size => 5 %>
              ppm
            </li>
            <li>
              <%= f.label :p_test_method_id, 'Soil P test method:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.collection_select :p_test_method_id, PTestMethod.all, :id, :name, {:prompt => 'Select P test method'}, :required => false %>
            </li>
            <li>
              <%= f.label :p_test_value, 'Soil P test value:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :p_test_value, :value => (number_with_precision(@field.p_test_value, :precision => 2, :separator => '.', :delimiter => ',')), :size => 5, :required => true %>
              ppm
            </li>
                      <div id='li_soil'>

              <%= f.fields_for :soils do |soils_form| %>
                  <%= render 'soil_fields', :f => soils_form, :soil_index => @field.soils.index(soils_form.object)  %>
              <% end %>

            </div>

          </ol>
        </fieldset>

      </div>
      <div style="clear: both"></div>

      <%= f.submit 'Save and Continue', :class => 'button' %>
    </div>
<% end %>