<% if !flash[:error].nil? %>
    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol>
            <li></li>
            <li>
              Please contact your administrator.<br/></li>
          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>
    </div>

<% else %>

    <div class="sectionRest clearfix nn-form">

    <div>
    <fieldset>
    <ol>
      <br>
<%= link_to "Update Future Nutrient Load Results", run_model_future_farm_field_path, class: "callntt", method: :post %>
<br><br>

    <li><h2 class='sectionHeading'>Nitrogen</h2></li>
    <li><span class='wide'>Baseline Load (EOS):</span>
      <% if @field.tmdl.nil? %>
          <%= number_with_precision(@watershed_segment[:n_crop_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
          <%= number_with_precision(@watershed_segment[:n_pasture_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
          <%= number_with_precision(@watershed_segment[:n_hay_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      <% else # use Maryland TMDL %>
          <%= number_with_precision(@field.tmdl[:total_n] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
          <%= number_with_precision(@field.tmdl[:total_n] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
          <%= number_with_precision(@field.tmdl[:total_n] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      <% end %>

      lb
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
      <% if @field.tmdl.nil? %>
          <%= number_with_precision(@watershed_segment[:n_crop_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
          <%= number_with_precision(@watershed_segment[:n_pasture_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
          <%= number_with_precision(@watershed_segment[:n_hay_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      <% else # use Maryland TMDL %>
          <%= number_with_precision(@field.tmdl[:total_n], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
          <%= number_with_precision(@field.tmdl[:total_n], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
          <%= number_with_precision(@field.tmdl[:total_n], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      <% end %>
      lb/ac)
    </li>
    <li><span class='wide'>Current Load (EOS):</span>
      <%= number_with_precision(@current_totals[:new_total_n], :precision => 2, delimiter: ',') %> lb
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@current_totals[:new_total_n] / @field.acres, :precision => 2, delimiter: ',') %>
      lb/ac)
    </li>
    <li><span class='wide'>Future Load (EOS):</span>
      <%= number_with_precision(@current_totals[:new_total_n_future], :precision => 2, delimiter: ',') %> lb
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@current_totals[:new_total_n_future] / @field.acres, :precision => 2, delimiter: ',') %>
      lb/ac)
    </li>
    <li><span class='wide'>Reductions (EOS):</span>
      <%= number_with_precision(@current_totals[:new_total_n] - @current_totals[:new_total_n_future], :precision => 2, delimiter: ',') %>
      lb
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision((@current_totals[:new_total_n] - @current_totals[:new_total_n_future]) / @field.acres, :precision => 2, delimiter: ',') %>
      lb/ac)
    </li>
    <li><span class='wide'>Delivery factor:</span>
      <%= number_with_precision(@field.watershed_segment.n_delivery_factor, :precision => 2, delimiter: ',') %>
    </li>
    <li><span class='wide'>Reductions to the Chesapeake bay:</span>
      <%= number_with_precision([0, (@current_totals[:new_total_n] - @current_totals[:new_total_n_future])* @field.watershed_segment.n_delivery_factor].max, :precision => 2, delimiter: ',') %>
      lb
    </li>

    <li><h2 class='sectionHeading'>Phosphorus</h2></li>
    <li><span class='wide'>Baseline Load (EOS):</span>
      <% if @field.tmdl.nil? %>
          <%= number_with_precision(@watershed_segment[:p_crop_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
          <%= number_with_precision(@watershed_segment[:p_pasture_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
          <%= number_with_precision(@watershed_segment[:p_hay_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      <% else # use Maryland TMDL %>
          <%= number_with_precision(@field.tmdl[:total_p] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
          <%= number_with_precision(@field.tmdl[:total_p] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
          <%= number_with_precision(@field.tmdl[:total_p] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      <% end %>
      lb
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
      <% if @field.tmdl.nil? %>
          <%= number_with_precision(@watershed_segment[:p_crop_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
          <%= number_with_precision(@watershed_segment[:p_pasture_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
          <%= number_with_precision(@watershed_segment[:p_hay_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      <% else # use Maryland TMDL %>
          <%= number_with_precision(@field.tmdl[:total_p], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
          <%= number_with_precision(@field.tmdl[:total_p], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
          <%= number_with_precision(@field.tmdl[:total_p], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      <% end %>
      lb/ac)
    </li>
    <li><span class='wide'>Current Load (EOS):</span>
      <%= number_with_precision(@current_totals[:new_total_p], :precision => 2, delimiter: ',') %> lb

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
      <%= number_with_precision(@current_totals[:new_total_p] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
      <%= number_with_precision(@current_totals[:new_total_p] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
      <%= number_with_precision(@current_totals[:new_total_p] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      lb/ac)
    </li>
    <li><span class='wide'>Future Load (EOS):</span>
      <%= number_with_precision(@current_totals[:new_total_p_future], :precision => 2, delimiter: ',') %> lb

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
      <%= number_with_precision(@current_totals[:new_total_p_future] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
      <%= number_with_precision(@current_totals[:new_total_p_future] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
      <%= number_with_precision(@current_totals[:new_total_p_future] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      lb/ac)
    </li>
    <li><span class='wide'>Reductions (EOS):</span>
      <%= number_with_precision(@current_totals[:new_total_p] - @current_totals[:new_total_p_future], :precision => 2, delimiter: ',') %>
      lb

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
      <%= number_with_precision((@current_totals[:new_total_p] - @current_totals[:new_total_p_future]) / @field.acres, :precision => 2, delimiter: ',') %>
      lb/ac)
    </li>
    <li><span class='wide'>Delivery factor:</span>
      <%= number_with_precision(@field.watershed_segment.p_delivery_factor, :precision => 2, delimiter: ',') %>
    </li>
    <li><span class='wide'>Reductions to the Chesapeake bay:</span>
      <%= number_with_precision([0, (@current_totals[:new_total_p] - @current_totals[:new_total_p_future])* @field.watershed_segment.p_delivery_factor].max, :precision => 2, delimiter: ',') %>
      lb
    </li>

    <li><h2 class='sectionHeading'>Sediment</h2></li>
    <li><span class='wide'>Baseline Load (EOS):</span>
      <%= number_with_precision(@watershed_segment[:sediment_crop_baseline] * @field.acres / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
      <%= number_with_precision(@watershed_segment[:sediment_pasture_baseline] * @field.acres / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
      <%= number_with_precision(@watershed_segment[:sediment_hay_baseline] * @field.acres / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      tons
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
      <%= number_with_precision(@watershed_segment[:sediment_crop_baseline] / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
      <%= number_with_precision(@watershed_segment[:sediment_pasture_baseline] / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
      <%= number_with_precision(@watershed_segment[:sediment_hay_baseline] / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
      tons/ac)
    </li>
    <li><span class='wide'>Current Load (EOS):</span>
      <%= number_with_precision(@current_totals[:new_total_sediment], :precision => 2, delimiter: ',') %> tons
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@current_totals[:new_total_sediment] / @field.acres, :precision => 2, delimiter: ',') %>
      tons/ac)
    </li>
    <li><span class='wide'>Future Load (EOS):</span>
      <%= number_with_precision(@current_totals[:new_total_sediment_future], :precision => 2, delimiter: ',') %> tons
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@current_totals[:new_total_sediment_future] / @field.acres, :precision => 2, delimiter: ',') %>
      tons/ac)
    </li>
    <li><span class='wide'>Reductions (EOS):</span>
      <%= number_with_precision(@current_totals[:new_total_sediment] - @current_totals[:new_total_sediment_future], :precision => 2, delimiter: ',') %>
      tons
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision((@current_totals[:new_total_sediment] - @current_totals[:new_total_sediment_future]) / @field.acres, :precision => 2, delimiter: ',') %>
      tons/ac)
    </li>
    <li><span class='wide'>Delivery factor:</span>
      <%= number_with_precision(@field.watershed_segment.sediment_delivery_factor, :precision => 2, delimiter: ',') %>
    </li>
    <li><span class='wide'>Reduction to the Chesapeake bay:</span>
      <%= number_with_precision([0, (@current_totals[:new_total_sediment] - @current_totals[:new_total_sediment_future])* @field.watershed_segment.sediment_delivery_factor].max, :precision => 2, delimiter: ',') %>
      lb
    </li>

    <li><h2 class='sectionHeading'>NTT Results Summary</h2></li>
    <li>Below are the results from the NTT model run. NTT models the N, P and Sediment loads for your field based on field management, soils data and historic weather. The results represent the average nutrient losses at the edge of the field and prior to any structural BMPs (i.e any BMPs indicated in the “current BMPs” or “future BMPs” tab) being applied.</li>

    <table cellpadding='10' cellspacing='10' width='500px'>
    <tr>
      <td>
      </td>
      <td>
        <b>Current &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
      </td>
      <td>
        <b>Future</b>
      </td>
    </tr>
    <tr>
      <td style="white-space: nowrap">
        <b>Total N (before BMPs applied) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
      </td>
      <td>
        <b>
          <%= @field.current_total_n %>
          lbs/ac
        </b>
      </td>
      <td>
        <b>
          <%= @field.future_total_n %>
          lbs/ac
        </b>
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sediment (Organic N)
      </td>
      <td>
        <%= @field.current_sediment_organic_n %>
        lbs/ac
      </td>
      <td>
        <%= @field.future_sediment_organic_n %>
        lbs/ac
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soluble N (NO3)
      </td>
      <td>
        <%= @field.current_soluble_n %>
        lbs/ac
      </td>
      <td>
        <%= @field.future_soluble_n %>
        lbs/ac
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tile Drained N
      </td>
      <td>
        <%= @field.tile_drained_n %>
        lbs/ac
      </td>
      <td>
        <%= @field.future_tile_drained_n %>
        lbs/ac
      </td>
    </tr>
    <tr>
      <td>
        <b>Total P (before BMPs applied)</b>
      </td>
      <td>
        <b>
          <%= @field.current_total_p %>
          lbs/ac
        </b>
      </td>
      <td>
        <b>
          <%= @field.future_total_p %>
          lbs/ac
        </b>
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sediment (Organic P)
      </td>
      <td>
        <%= @field.current_sediment_organic_p %>
        lbs/ac
      </td>
      <td>
        <%= @field.future_sediment_organic_p %>
        lbs/ac
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soluble P
      </td>
      <td>
        <%= @field.current_soluble_p %>
        lbs/ac
      </td>
      <td>
        <%= @field.future_soluble_p %>
        lbs/ac
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tile Drained P
      </td>
      <td>
        <%= @field.tile_drained_p %>
        lbs/ac
      </td>
      <td>
        <%= @field.future_tile_drained_p %>
        lbs/ac
      </td>
    </tr>
    <tr>
      <td>
        <b>Flow</b>
      </td>
      <td>
        <b>
          <%= @field.current_flow %>
          in
        </b>
      </td>
      <td>
        <b>
          <%= @field.future_flow %>
          in
        </b>
      </td>
    </tr>
    <tr>
      <td>
        <b>Sediment</b>
      </td>
      <td>
        <b>
          <%= @field.current_sediment %>
          tons/ac
        </b>
      </td>
      <td>
        <b>
          <%= @field.future_sediment %>
          tons/ac
        </b>
      </td>
    </tr>
    <tr>
      <td>
        <b>Carbon</b>
      </td>
      <td>
        <b>
          <%= @field.current_carbon %>
          lbs/ac
        </b>
      </td>
      <td>
        <b>
          <%= @field.future_carbon %>
          lbs/ac
        </b>
      </td>
    </tr>
        <tr>
          <td>
            <b>Crop Yield</b>
          </td>
          <td>
            <b></b>
          </td>
          <td>
            <b></b>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="white-space: nowrap">
            <% if !@ntt_results.nil? %>
            <% if !@ntt_results[:crops].nil? %>
                <% @ntt_results[:crops].each do |crop| %>
                    <b><%= Crop.where(:code => crop['CropCode']).first[:name] unless Crop.where(:code => crop['CropCode']).first.nil? %>:</b>
                    <%= crop['Yield'] %>&nbsp;<%= crop['Unit'] %>/ac
                    <br/>
                <% end %>
            <% end %>
            <% end %>
          </td>
          <td style="white-space: nowrap">
            <% if !@ntt_results_future.nil? %>
            <% if !@ntt_results_future[:crops].nil? %>
                <% @ntt_results_future[:crops].each do |crop| %>
                    <b><%= Crop.where(:code => crop['CropCode']).first[:name] unless Crop.where(:code => crop['CropCode']).first.nil? %>:</b>
                    <%= crop['Yield'] %>&nbsp;<%= crop['Unit'] %>/ac
                    <br/>
                <% end %>
            <% end %>
            <% end %>
          </td>
        </tr>
    </table>

    </ol>
    </fieldset>
    </div>

    <div style="clear: both"></div>
    </div>

<% end %>