<% if !flash[:error].nil? %>
    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol>
            <li></li>
            <li>
              Please contact your administrator.<br/></li>
          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>
    </div>

<% else %>

    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol><!--
<%= link_to "Calculate Current Nutrient Load Results", run_model_farm_field_path, class: "callntt", method: :post, id: "nttcall" %>
<div id="loading-indicator">
  <br>
 <%= image_tag("loading.gif", :id => "loading") %> Calculating results...
<br>
</div><br><br>
<script>
$(function() {
  $('#loading-indicator').hide();
  $(function() {
         $('#nttcall').click( function() {
      $('#loading-indicator').show();
    })
  });
});
</script>-->
            <li><h2 class='sectionHeading'>Nitrogen</h2></li>
            <li><span class='wide'>Baseline Load (EOS):</span>
              <%= number_with_precision(@field.n_baseline * @field.acres, :precision => 2, :separator => '.', :delimiter => ',') %>

      lb
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@field.n_baseline, :precision => 2, :separator => '.', :delimiter => ',') %>
      lb/ac)
    </li>
    <li><span class='wide'>Current Load (EOS):</span>
      <%= number_with_precision((@field.current_n_load_fields), :precision => 2, delimiter: ',') %> lb
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision((@field.current_n_load_fields)/(@field.acres), :precision => 2, delimiter: ',') %>
      lb/ac)
    </li>




            <li><h2 class='sectionHeading'>Phosphorus</h2></li>
            <li><span class='wide'>Baseline Load (EOS):</span>
             <%= number_with_precision(@field.p_baseline * @field.acres, :precision => 2, :separator => '.', :delimiter => ',') %>

      lb
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@field.p_baseline, :precision => 2, :separator => '.', :delimiter => ',') %>
      lb/ac)
    </li>
    <li><span class='wide'>Current Load (EOS):</span>
      <%= number_with_precision((@field.current_p_load_fields), :precision => 2, delimiter: ',') %> lb
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision((@field.current_p_load_fields)/(@field.acres), :precision => 2, delimiter: ',') %>
      lb/ac)
    </li>

            <li><h2 class='sectionHeading'>Sediment</h2></li>
            <li><span class='wide'>Baseline Load (EOS):</span>
                 <%= number_with_precision(@field.sediment_baseline_lbs * @field.acres, :precision => 2, :separator => '.', :delimiter => ',') %>
              lbs
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@field.sediment_baseline_lbs, :precision => 2, :separator => '.', :delimiter => ',') %>
              lbs/ac)

              <br>
<span class='wide'>&nbsp</span>

              <%= number_with_precision(@field.sediment_baseline * @field.acres, :precision => 2, :separator => '.', :delimiter => ',') %>

              tons
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@field.sediment_baseline, :precision => 2, :separator => '.', :delimiter => ',') %>
              tons/ac)



            </li>
            <li><span class='wide'>Current Load (EOS):</span>
                   <%= number_with_precision((@field.current_s_load_fields*2000), :precision => 2, delimiter: ',') %> lbs

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision((@field.current_s_load_fields*2000)/(@field.acres), :precision => 2, delimiter: ',') %>
              lbs/ac)

 <br>
<span class='wide'>&nbsp</span>

               <%= number_with_precision((@field.current_s_load_fields), :precision => 2, delimiter: ',') %> tons

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision((@field.current_s_load_fields)/(@field.acres), :precision => 2, delimiter: ',') %>
              tons/ac)
    </li>


            </li>

            <li><h2 class='sectionHeading'>NTT Results Summary</h2></li>
            <li>Below are the results from the NTT model run. NTT models the N, P and Sediment loads for your field based on field management, soils data and historic weather. The results represent the average nutrient losses at the edge of the field and prior to any structural BMPs (i.e any BMPs indicated in the “current BMPs” tab) being applied.</li>
            <li><span class='extrawide'>&nbsp;</span><b>Current</b></li>

            <li><span class='extrawide'>Total N (before BMPs applied)</span><b>
              <%= number_with_precision((@ntt_results['OrganicN'].to_f + @ntt_results['NO3'].to_f + @ntt_results['TileDrainN'].to_f), :precision => 2, delimiter: ',') if (@ntt_results.key?('OrganicN') && @ntt_results.key?('NO3') && @ntt_results.key?('TileDrainN')) %>
              lbs/ac
            </b></li>

            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sediment (Organic N)</span>
              <%= number_with_precision(@ntt_results['OrganicN'], :precision => 2, delimiter: ',') if @ntt_results.key?('OrganicN') %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soluble N (NO3)</span>
              <%= number_with_precision(@ntt_results['NO3'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tile Drained N</span>
              <%= number_with_precision(@ntt_results['TileDrainN'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>


            <li><span class='extrawide'>Total P (before BMPs applied)</span><b>
              <%= number_with_precision((@ntt_results['OrganicP'].to_f + @ntt_results['SolubleP'].to_f + @ntt_results['TileDrainP'].to_f), :precision => 2, delimiter: ',') %>
              lbs/ac
            </b></li>

            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sediment (Organic P)</span>
              <%= number_with_precision(@ntt_results['OrganicP'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soluble P</span>
              <%= number_with_precision(@ntt_results['SolubleP'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tile Drained P</span>
              <%= number_with_precision(@ntt_results['TileDrainP'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>

            <li><span class='extrawide'>Flow</span><b>
              <%= number_with_precision(@ntt_results['Flow'], :precision => 2, delimiter: ',') %>
              in
            </b></li>

            <li><span class='extrawide'>Sediment</span><b>
              <%= number_with_precision((@ntt_results['Sediment'].to_f)*2000, :precision => 2, delimiter: ',') %>
              lbs/ac
            </b></li>

            <li><span class='extrawide'>Carbon</span><b>
              <%= number_with_precision(@ntt_results['Carbon'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </b></li>

            <li><span class='extrawide'>Crop Yield</span><b></b></li>
            <% if !@ntt_results[:crops].nil? %>
                <% @ntt_results[:crops].each do |crop| %>
                    <li>
                      <span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= Crop.where(:code => crop['CropCode']).first[:name] unless Crop.where(:code => crop['CropCode']).first.nil? %></span>
                      <%= crop['Yield'] %>&nbsp;<%= crop['Unit'] %>/ac
                    </li>
                <% end %>
            <% end %>
          </ol>
        </fieldset>
      </div>

      <div style="clear: both"></div>
      <br/>
      <%= link_to "Save and Continue", edit_farm_field_path(@farm, @field, :step => 6), :class => 'button', :id => 'saveAndContinue' %><br><br>
            <%= link_to "Review Current Results", current_farm_path(@farm), :class => 'button', :id => 'review' %>

    </div>

<% end %>