<% if !flash[:error].nil? %>
    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol>
            <li></li>
            <li>
              Please contact your administrator.<br/></li>
          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>
    </div>

<% else %>

    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol>
            <li><h2 class='sectionHeading'>Nitrogen</h2></li>
            <li><span class='wide'>Baseline Load (EOS):</span>
              <% if @field.tmdl.nil? %>
                  <%= number_with_precision(@watershed_segment[:n_crop_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@watershed_segment[:n_pasture_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@watershed_segment[:n_hay_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% else # use Maryland TMDL    %>
                  <%= number_with_precision(@field.tmdl[:total_n] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@field.tmdl[:total_n] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@field.tmdl[:total_n] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% end %>

              lb
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
              <% if @field.tmdl.nil? %>
                  <%= number_with_precision(@watershed_segment[:n_crop_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@watershed_segment[:n_pasture_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@watershed_segment[:n_hay_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% else # use Maryland TMDL    %>
                  <%= number_with_precision(@field.tmdl[:total_n], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@field.tmdl[:total_n], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@field.tmdl[:total_n], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% end %>
              lb/ac)
            </li>
            <li><span class='wide'>Current Load (EOS):</span>
              <%= number_with_precision(@current_totals[:new_total_n], :precision => 2, delimiter: ',') %> lb

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@current_totals[:new_total_n] / @field.acres, :precision => 2, delimiter: ',') %>
              lb/ac)
            </li>

            <li><h2 class='sectionHeading'>Phosphorus</h2></li>
            <li><span class='wide'>Baseline Load (EOS):</span>
              <% if @field.tmdl.nil? %>
                  <%= number_with_precision(@watershed_segment[:p_crop_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@watershed_segment[:p_pasture_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@watershed_segment[:p_hay_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% else # use Maryland TMDL    %>
                  <%= number_with_precision(@field.tmdl[:total_p] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@field.tmdl[:total_p] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@field.tmdl[:total_p] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% end %>
              lb
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
              <% if @field.tmdl.nil? %>
                  <%= number_with_precision(@watershed_segment[:p_crop_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@watershed_segment[:p_pasture_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@watershed_segment[:p_hay_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% else # use Maryland TMDL    %>
                  <%= number_with_precision(@field.tmdl[:total_p], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@field.tmdl[:total_p], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@field.tmdl[:total_p], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% end %>
              lb/ac)
            </li>
            <li><span class='wide'>Current Load (EOS):</span>
              <%= number_with_precision(@current_totals[:new_total_p], :precision => 2, delimiter: ',') %> lb

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
              <%= number_with_precision(@current_totals[:new_total_p] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
              <%= number_with_precision(@current_totals[:new_total_p] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
              <%= number_with_precision(@current_totals[:new_total_p] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              lb/ac)
            </li>

            <li><h2 class='sectionHeading'>Sediment</h2></li>
            <li><span class='wide'>Baseline Load (EOS):</span>
              <%= number_with_precision(@watershed_segment[:sediment_crop_baseline] * @field.acres / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
              <%= number_with_precision(@watershed_segment[:sediment_pasture_baseline] * @field.acres / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
              <%= number_with_precision(@watershed_segment[:sediment_hay_baseline] * @field.acres / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              tons
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(
              <%= number_with_precision(@watershed_segment[:sediment_crop_baseline] / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
              <%= number_with_precision(@watershed_segment[:sediment_pasture_baseline] / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
              <%= number_with_precision(@watershed_segment[:sediment_hay_baseline] / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              tons/ac)
            </li>
            <li><span class='wide'>Current Load (EOS):</span>
              <%= number_with_precision(@current_totals[:new_total_sediment], :precision => 2, delimiter: ',') %> tons

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@current_totals[:new_total_sediment] / @field.acres, :precision => 2, delimiter: ',') %>
              tons/ac)
            </li>

            <li><h2 class='sectionHeading'>NTT Results Summary</h2></li>
            <li>TBD: Mindy to provide some text.</li>
            <li><span class='extrawide'>&nbsp;</span><b>Baseline</b></li>

            <li><span class='extrawide'>Total N (before BMPs applied)</span><b>
              <%= number_with_precision((@ntt_results['OrganicN'].to_f + @ntt_results['NO3'].to_f + @ntt_results['TileDrainN'].to_f), :precision => 2, delimiter: ',') if (@ntt_results.key?('OrganicN') && @ntt_results.key?('NO3') && @ntt_results.key?('TileDrainN')) %>
              lbs/ac
            </b></li>

            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sediment (Organic N)</span>
              <%= number_with_precision(@ntt_results['OrganicN'], :precision => 2, delimiter: ',') if @ntt_results.key?('OrganicN') %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soluble N (NO3)</span>
              <%= number_with_precision(@ntt_results['NO3'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tile Drained N</span>
              <%= number_with_precision(@ntt_results['TileDrainN'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>


            <li><span class='extrawide'>Total P (before BMPs applied)</span><b>
              <%= number_with_precision((@ntt_results['OrganicP'].to_f + @ntt_results['SolubleP'].to_f + @ntt_results['TileDrainP'].to_f), :precision => 2, delimiter: ',') %>
              lbs/ac
            </b></li>

            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sediment (Organic P)</span>
              <%= number_with_precision(@ntt_results['OrganicP'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soluble P (NO3)</span>
              <%= number_with_precision(@ntt_results['SolubleP'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tile Drained P</span>
              <%= number_with_precision(@ntt_results['TileDrainP'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </li>

            <li><span class='extrawide'>Flow</span><b>
              <%= number_with_precision(@ntt_results['Flow'], :precision => 2, delimiter: ',') %>
              in
            </b></li>

            <li><span class='extrawide'>Sediment</span><b>
              <%= number_with_precision(@ntt_results['Sediment'], :precision => 2, delimiter: ',') %>
              tons/ac
            </b></li>

            <li><span class='extrawide'>Carbon</span><b>
              <%= number_with_precision(@ntt_results['Carbon'], :precision => 2, delimiter: ',') %>
              lbs/ac
            </b></li>

            <li><span class='extrawide'>Crop Yield</span><b></b></li>
            <% @ntt_results[:crops].each do |crop| %>
                <li>
                  <span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= Crop.where(:code => crop['CropCode']).first[:name] %></span>
                  <%= crop['Yield'] %>&nbsp;<%= crop['Unit'] %>/ac
                </li>
            <% end %>
          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>
    </div>

<% end %>