<% if !flash[:error].nil? %>
    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol>
            <li></li>
            <li>
              Please contact your administrator.<br/></li>
          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>
    </div>

<% else %>

    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol>
<br>
<%= link_to "Update Current Nutrient Load Results", run_model_farm_field_path, class: "callntt", method: :post %>
<br><br>


            <li><h2 class='sectionHeading'>Nitrogen</h2></li>
            <li><span class='wide'>Baseline Load (EOS):</span>
              <% if @field.tmdl.nil? %>
                  <%= number_with_precision(@watershed_segment[:n_crop_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@watershed_segment[:n_pasture_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@watershed_segment[:n_hay_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% else # use Maryland TMDL     %>
                  <%= number_with_precision(@field.tmdl[:total_n] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@field.tmdl[:total_n] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@field.tmdl[:total_n] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% end %>

              lb
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% if @field.tmdl.nil? %>
                  (<%= number_with_precision(@watershed_segment[:n_crop_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@watershed_segment[:n_pasture_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@watershed_segment[:n_hay_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% else # use Maryland TMDL %>
                  <%= number_with_precision(@field.tmdl[:total_n], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@field.tmdl[:total_n], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@field.tmdl[:total_n], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% end %>lb/ac)
            </li>
            <li><span class='wide'>Current Load (EOS):</span>
              <%= number_with_precision(@current_totals[:new_total_n], :precision => 2, delimiter: ',') %> lb

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@current_totals[:new_total_n] / @field.acres, :precision => 2, delimiter: ',') %>
              lb/ac)
            </li>

            <li><h2 class='sectionHeading'>Phosphorus</h2></li>
            <li><span class='wide'>Baseline Load (EOS):</span>
              <% if @field.tmdl.nil? %>
                  <%= number_with_precision(@watershed_segment[:p_crop_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@watershed_segment[:p_pasture_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@watershed_segment[:p_hay_baseline] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% else # use Maryland TMDL     %>
                  <%= number_with_precision(@field.tmdl[:total_p] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@field.tmdl[:total_p] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@field.tmdl[:total_p] * @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% end %>
              lb
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% if @field.tmdl.nil? %>
                  (<%= number_with_precision(@watershed_segment[:p_crop_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@watershed_segment[:p_pasture_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@watershed_segment[:p_hay_baseline], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% else # use Maryland TMDL     %>
                  <%= number_with_precision(@field.tmdl[:total_p], :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
                  <%= number_with_precision(@field.tmdl[:total_p], :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
                  <%= number_with_precision(@field.tmdl[:total_p], :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              <% end %>lb/ac)
            </li>
            <li><span class='wide'>Current Load (EOS):</span>
              <%= number_with_precision(@current_totals[:new_total_p], :precision => 2, delimiter: ',') %> lb

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              (<%= number_with_precision(@current_totals[:new_total_p] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
              <%= number_with_precision(@current_totals[:new_total_p] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
              <%= number_with_precision(@current_totals[:new_total_p] / @field.acres, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              lb/ac)
            </li>

            <li><h2 class='sectionHeading'>Sediment</h2></li>
            <li><span class='wide'>Baseline Load (EOS):</span>
              <%= number_with_precision(@watershed_segment[:sediment_crop_baseline] * @field.acres / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
              <%= number_with_precision(@watershed_segment[:sediment_pasture_baseline] * @field.acres / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
              <%= number_with_precision(@watershed_segment[:sediment_hay_baseline] * @field.acres / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              tons
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              (<%= number_with_precision(@watershed_segment[:sediment_crop_baseline] / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 1 %>
              <%= number_with_precision(@watershed_segment[:sediment_pasture_baseline] / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 2 %>
              <%= number_with_precision(@watershed_segment[:sediment_hay_baseline] / 2000.0, :precision => 2, delimiter: ',') if @field.field_type_id == 3 %>
              tons/ac)
            </li>
            <li><span class='wide'>Current Load (EOS):</span>
              <%= number_with_precision(@current_totals[:new_total_sediment], :precision => 2, delimiter: ',') %> tons

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<%= number_with_precision(@current_totals[:new_total_sediment] / @field.acres, :precision => 2, delimiter: ',') %>
              tons/ac)
            </li>

            <li><h2 class='sectionHeading'>NTT Results Summary</h2></li>
            <li>Below are the results from the NTT model run. NTT models the N, P and Sediment loads for your field based on field management, soils data and historic weather. The results represent the average nutrient losses at the edge of the field and prior to any structural BMPs (i.e any BMPs indicated in the “current BMPs” tab) being applied.</li>
            <li><span class='extrawide'>&nbsp;</span><b>Current</b></li>

            <li><span class='extrawide'>Total N (before BMPs applied)</span><b>
              <%= @field.current_total_n %>
              lbs/ac
            </b></li>

            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sediment (Organic N)</span>
              <%= @field.current_sediment_organic_n %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soluble N (NO3)</span>
              <%= @field.current_soluble_n %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tile Drained N</span>
              <%= @field.tile_drained_n %>
              lbs/ac
            </li>


            <li><span class='extrawide'>Total P (before BMPs applied)</span><b>
              <%= @field.current_total_p %>
              lbs/ac
            </b></li>

            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sediment (Organic P)</span>
              <%= @field.current_sediment_organic_p %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soluble P (NO3)</span>
              <%= @field.current_soluble_p %>
              lbs/ac
            </li>
            <li><span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tile Drained P</span>
              <%= @field.tile_drained_p %>
              lbs/ac
            </li>

            <li><span class='extrawide'>Flow</span><b>
              <%= @field.current_flow %>
              in
            </b></li>

            <li><span class='extrawide'>Sediment</span><b>
              <%= @field.current_sediment %>
              tons/ac
            </b></li>

            <li><span class='extrawide'>Carbon</span><b>
              <%= @field.current_carbon %>
              lbs/ac
            </b></li>

            <li><span class='extrawide'>Crop Yield</span><b></b></li>
              <% if !@ntt_results[:crops].nil? %>
                  <% @field.crops.each do |crop| %>
                      <li>
                        <span class='extrawide_not_bold'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= Crop.where(:code => crop['CropCode']).first[:name] unless Crop.where(:code => crop['CropCode']).first.nil? %></span>
                        <%= crop['Yield'] %>&nbsp;<%= crop['Unit'] %>/ac
                      </li>
                  <% end %>
            <% else %> 0
            <% end %>
          </ol>
        </fieldset>
      </div>

      <div style="clear: both"></div>
      <br/>

      <%= link_to "Save and Continue", edit_farm_field_path(@farm, @field, :step => 6), :class => 'button', :id => 'saveAndContinue' %>

    </div>

<% end %>