<%= nested_form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form"} do |f| %>

    <% if @field.errors.any? %>
        <div id="error_explanation" class="alert">
          <b><%= pluralize(@field.errors.count, "error") %> encountered:</b>
          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="sectionRest clearfix">
    <%= f.hidden_field :step, :value => '7' %>

    <div>
    <fieldset>
    <ol>
    <li><h2 class='sectionHeading'>Current BMPs</h2></li>
    <li>All additional BMPs not captured under the Current Crop Management tab should be listed here.</li>

    <%= link_to 'Import current BMPs ', populateFutureBMPs_farm_field_path(@field.farm.id, @field.id, :step => 7), :class => 'button', :method => :post %>

    <!-- only show if permanent pasture -->
    <% if (@field.field_type_id == 2) then %>
        <% if @field.is_pasture_adjacent_to_stream? %>
            <li><h2 class='sectionHeading'>Streambank fencing / Exclusion</h2></li>
            <li>
              <label class="wide"><b>Is fencing/exclusion in place<em>*</em></b></label>
              <%= f.radio_button :is_streambank_fencing_in_place_future, true, :required => true %>
              <%= f.label :is_streambank_fencing_in_place_future_true, 'Yes' %>
              <%= f.radio_button :is_streambank_fencing_in_place_future, false, :required => true %>
              <%= f.label :is_streambank_fencing_in_place_future_false, 'No' %>
            </li>
            <div id='div_is_fencing_in_place_future'
                 <% if !@field.is_streambank_fencing_in_place_future? %>style='display: none'
                 <% end %>>
              <li>
                <%= f.label :name, 'Vegetation type:<em>*</em>'.html_safe, :class => 'wide' %>
                <%= f.collection_select :vegetation_type_fence_stream_id_future, VegetationType.all, :id, :name, {:prompt => 'Select vegetation type'}, {:required => true} %>
              </li>
              <li>
                <%= f.label :distance_fence_stream_future, 'Distance between fence/exclusion and stream:<em>*</em>'.html_safe, :class => 'wide' %>
                <%= f.text_field :distance_fence_stream_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :step => 'any', :required => true %>
                ft
              </li>
              <li></li>
              <li>
                <%= f.label :exclusion_description_future, 'If the above describes an alternative to fencing that is used to exclude animals from the stream, please describe exclusion method here:' %>
              </li>
              <li>
                <%= f.text_area :exclusion_description_future, :rows => 5 %>
              </li>
            </div>
        <% end %>

        <li><h2 class='sectionHeading'>Riparian/Conservation Buffer BMPs</h2></li>
        <li>
          <%= f.label :is_forest_buffer_future, 'Forest buffer:', :class => 'wide' %>
          <%= f.check_box :is_forest_buffer_future %>
        </li>
        <div id='div_is_forest_buffer_future'
             <% if !@field.is_forest_buffer_future? %>style='display: none'
             <% end %> >
          <li>
            <%= f.label :forest_buffer_average_width_future, 'Average width of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :forest_buffer_average_width_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :forest_buffer_length_future, 'Linear feet of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :forest_buffer_length_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :forest_buffer_area_future, 'Area of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <input type='text' id='forest_buffer_area_future' size='10' class='readonlyInput' value='<%= (number_with_precision(@field.forest_buffer_area_future, :precision => 2, :separator => '.', :delimiter => ',')) %>' readonly='readonly'>
            ac
          </li>
          <li>
            <%= f.label :is_forest_buffer_planned_future, 'Planned:', :class => 'wide' %>
            <%= f.check_box :is_forest_buffer_planned_future %>
            <hr/>
          </li>
        </div>

        <li>
          <%= f.label :is_grass_buffer_future, 'Grass buffer:', :class => 'wide' %>
          <%= f.check_box :is_grass_buffer_future %>
        </li>

        <div id='div_is_grass_buffer_future'
             <% if !@field.is_grass_buffer_future? %>style='display: none'
             <% end %> >
          <li>
            <%= f.label :grass_buffer_average_width_future, 'Average width of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :grass_buffer_average_width_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :grass_buffer_length_future, 'Linear feet of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :grass_buffer_length_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :grass_buffer_area_future, 'Area of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <input type='text' id='grass_buffer_area_future' size='10' class='readonlyInput' value='<%= (number_with_precision(@field.grass_buffer_area_future, :precision => 2, :separator => '.', :delimiter => ',')) %>' readonly='readonly'>
            ac
          </li>
          <li>
            <%= f.label :is_grass_buffer_planned_future, 'Planned:', :class => 'wide' %>
            <%= f.check_box :is_grass_buffer_planned_future %>
          </li>
        </div>

    <% end %>
    <!-- end only show if permanent pasture -->

    <!-- only show if crop or continuous hay -->
    <% if (@field.field_type_id == 1 || @field.field_type_id == 3) then %>
        <li><h2 class='sectionHeading'>Riparian/Conservation Buffer BMPs</h2></li>
        <li>Enter information if you have a riparian/conservation buffer BMP in place.
          Note: If the nitrogen load reduction calculated for alternative watering facility is greater than that
          for buffers, it will be used instead.
        </li>
        <li>
          <%= f.label :is_forest_buffer_future, 'Forest buffer:', :class => 'wide' %>
          <%= f.check_box :is_forest_buffer_future %>
        </li>
        <div id='div_is_forest_buffer_future'
             <% if !@field.is_forest_buffer_future? %>style='display: none'
             <% end %> >
          <li>
            <%= f.label :forest_buffer_average_width_future, 'Average width of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :forest_buffer_average_width_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :forest_buffer_length_future, 'Linear feet of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :forest_buffer_length_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :forest_buffer_area_future, 'Area of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <input type='text' id='forest_buffer_area_future' size='10' class='readonlyInput' value='<%= (number_with_precision(@field.forest_buffer_area_future, :precision => 2, :separator => '.', :delimiter => ',')) %>' readonly='readonly'>
            ac
          </li>
          <li>
            <%= f.label :is_forest_buffer_planned_future, 'Planned:', :class => 'wide' %>
            <%= f.check_box :is_forest_buffer_planned_future %>
            <hr/>
          </li>
        </div>

        <li>
          <%= f.label :is_grass_buffer_future, 'Grass buffer:', :class => 'wide' %>
          <%= f.check_box :is_grass_buffer_future %>
        </li>

        <div id='div_is_grass_buffer_future'
             <% if !@field.is_grass_buffer_future? %>style='display: none'
             <% end %> >
          <li>
            <%= f.label :grass_buffer_average_width_future, 'Average width of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :grass_buffer_average_width_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :grass_buffer_length_future, 'Linear feet of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :grass_buffer_length_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :grass_buffer_area_future, 'Area of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
            <input type='text' id='grass_buffer_area_future' size='10' class='readonlyInput' value='<%= (number_with_precision(@field.grass_buffer_area_future, :precision => 2, :separator => '.', :delimiter => ',')) %>' readonly='readonly'>
            ac
          </li>
          <li>
            <%= f.label :is_grass_buffer_planned_future, 'Planned:', :class => 'wide' %>
            <%= f.check_box :is_grass_buffer_planned_future %>
          </li>
        </div>

        <li><h2 class='sectionHeading'>Fertilizer application setback</h2></li>
        <li>
          <%= f.label :is_fertilizer_application_setback_future, 'Setback in place/planned:', :class => 'wide' %>
          <%= f.check_box :is_fertilizer_application_setback_future %>
        </li>
        <div id='div_is_fertilizer_application_setback_future'
             <% if !@field.is_fertilizer_application_setback_future? %>style='display: none'
             <% end %> >
          <li>
            <%= f.label :fertilizer_application_setback_average_width_future, 'Average width of setback:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :fertilizer_application_setback_average_width_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :fertilizer_application_setback_length_future, 'Linear feet of setback:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :fertilizer_application_setback_length_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :fertilizer_application_setback_area_future, 'Area of setback:<em>*</em>'.html_safe, :class => 'wide' %>
            <input type='text' id='fertilizer_application_setback_area_future' size='10' class='readonlyInput' value='<%= (number_with_precision(@field.fertilizer_application_setback_area_future, :precision => 2, :separator => '.', :delimiter => ',')) %>' readonly='readonly'>
            ac
          </li>
          <li>
            <%= f.label :is_fertilizer_application_setback_planned_future, 'Planned:', :class => 'wide' %>
            <%= f.check_box :is_fertilizer_application_setback_planned_future %>
          </li>
        </div>


    <% end %>
    <!-- end only show if crop or continuous hay -->

    <li><h2 class='sectionHeading'>Wetland</h2></li>
    <li>
      <%= f.label :is_wetland_future, 'Wetland in place/planned:', :class => 'wide' %>
      <%= f.check_box :is_wetland_future %>
    </li>
    <div id='div_is_wetland_future'
         <% if !@field.is_wetland_future? %>style='display: none'
         <% end %> >
      <li>
        <%= f.label :wetland_area_future, 'Area of wetland:<em>*</em>'.html_safe, :class => 'wide' %>
        <%= f.text_field :wetland_area_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
        ac
      </li>
      <li>
        <%= f.label :wetland_treated_area_future, 'Upland area treated by wetland:<em>*</em>'.html_safe, :class => 'wide' %>
        <%= f.text_field :wetland_treated_area_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
        ac
      </li>
      <li>
        <%= f.label :is_wetland_planned_future, 'Planned:', :class => 'wide' %>
        <%= f.check_box :is_wetland_planned_future %>
      </li>
    </div>

    <li><h2 class='sectionHeading'>Other land use conversion</h2></li>
    <li>Please indicate any non-riperian land conversion in place or planned on this field.</li>
    <li>
      <%= f.label :other_land_use_conversion_acres_future, 'Acres converted:', :class => 'wide' %>
      <%= f.text_field :other_land_use_conversion_acres_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => false %>
      ac
    </li>
    <li>
      <%= f.label :other_land_use_conversion_vegetation_type_id_future, 'Converted to:', :class => 'wide' %>
      <%= f.collection_select :other_land_use_conversion_vegetation_type_id_future, VegetationType.all, :id, :name, {:prompt => 'Select vegetation type'}, {:required => false} %></td>
    </li>
    <li>
      <%= f.label :is_other_land_use_conversion_planned_future, 'Planned:', :class => 'wide' %>
      <%= f.check_box :is_other_land_use_conversion_planned_future %>
    </li>

    <li><h2 class='sectionHeading'>Other best management practices</h2></li>

    <div id='div_bmp'>

      <%= f.fields_for :future_bmps do |future_bmps_form| %>
          <%= render 'bmp_fields', :f => future_bmps_form, :bmp_index => @field.future_bmps.index(future_bmps_form.object) %>
      <% end %>

    </div>
    <li><%= f.link_to_add "Add BMP", :future_bmps, :class => 'button', :id => 'addBmpBtn', :data => {:target => "#div_bmp"} %></li>

    <% if @field.is_pasture_adjacent_to_stream? %>
        <li><h2 class='sectionHeading'>Streambank restoration</h2></li>
        <li>
          <%= f.label :is_streambank_restoration_future, 'Streambank restoration in place:', :class => 'wide' %>
          <%= f.check_box :is_streambank_restoration_future %>
        </li>
        <div id='div_is_streambank_restoration_future'
             <% if !@field.is_streambank_restoration_future? %>style='display: none'
             <% end %> >
          <li>
            <%= f.label :streambank_restoration_length_future, 'Linear feet:<em>*</em>'.html_safe, :class => 'wide' %>
            <%= f.text_field :streambank_restoration_length_future, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %>
            ft
          </li>
          <li>
            <%= f.label :is_streambank_restoration_planned_future, 'Planned:', :class => 'wide' %>
            <%= f.check_box :is_streambank_restoration_planned_future %>
          </li>
        </div>
    <% end %>

    <li><h2 class='sectionHeading'>Planned changes to crop management</h2></li>
    <li>If any aspects of your crop management are not yet implemented and were entered in order to meet baseline,
      please explain below.
    </li>
    <li>
      <%= f.label :planned_management_details_future, 'Details if applicable:', :class => 'wide' %>
      <%= f.text_area :planned_management_details_future, :rows => 5 %>
    </li>

    </ol>
    </fieldset>
    </div>
    <div style="clear: both"></div>

    <%= f.submit 'Save and Continue', :class => 'button' %>
    </div>
<% end %>
<div class="sectionRest clearfix">

</div>