<%= form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form"} do |f| %>
    <% if @field.errors.any? %>
        <br/>
        <div id="error_explanation" class="alert">
          <h2><%= pluralize(@field.errors.count, "error") %> encountered:</h2>

          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="sectionRest clearfix">
<%= hidden_field_tag :step, 4 %>

      <div>
        <fieldset>
          <ol>
            <li><h2 class='sectionHeading'>Baseline BMPs</h2></li>
            <li>All additional BMPs not captured under the Baseline Crop Management tab should be listed here.</li>
            <li></li>
            <li><h2 class='sectionHeading'>Riparian/Conservation Buffer BMPs</h2></li>
            <li>Enter information if you have a riparian/conservation buffer BMP in place.
              Note: If the nitrogen load reduction calculated for alternative watering facility is greater than that for buffers, it will be used instead.</li>
            <li>
              <%= f.label :is_forest_buffer, 'Forest buffer in place:', :class => 'wide' %>
              <%= f.check_box  :is_forest_buffer %>
            </li>
            <li>
              <%= f.label :forest_buffer_average_width, 'Average width of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :forest_buffer_average_width, :size => 5, :type => 'number' %> ft
            </li>
            <li>
              <%= f.label :forest_buffer_length, 'Linear feet of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :forest_buffer_length, :size => 5, :type => 'number' %> ft
            </li>
            <li>
              <%= f.label :forest_buffer_area, 'Area of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
              <input type='text' id='forest_buffer_area' value='<%= (number_with_precision(@field.forest_buffer_area, :precision => 2, :separator => '.', :delimiter => ',')) %>' disabled='disabled'> ac
            </li>
            <li>
              <%= f.label :is_forest_buffer_planned, 'Planned:', :class => 'wide' %>
              <%= f.check_box  :is_forest_buffer_planned %>
              <hr/>
            </li>

            <li>
              <%= f.label :is_grass_buffer, 'Grass buffer in place:', :class => 'wide' %>
              <%= f.check_box  :is_grass_buffer %>
            </li>
            <li>
              <%= f.label :grass_buffer_average_width, 'Average width of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :grass_buffer_average_width, :size => 5, :type => 'number' %> ft
            </li>
            <li>
              <%= f.label :grass_buffer_length, 'Linear feet of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :grass_buffer_length, :size => 5, :type => 'number' %> ft
            </li>
            <li>
              <%= f.label :grass_buffer_area, 'Area of buffer:<em>*</em>'.html_safe, :class => 'wide' %>
              <input type='text' id='grass_buffer_area' value='<%= (number_with_precision(@field.grass_buffer_area, :precision => 2, :separator => '.', :delimiter => ',')) %>' disabled='disabled'> ac
            </li>
            <li>
              <%= f.label :is_grass_buffer_planned, 'Planned:', :class => 'wide' %>
              <%= f.check_box  :is_grass_buffer_planned %>
              <hr/>
            </li>

            <li>
              <%= f.label :is_wetland, 'Wetland in place:', :class => 'wide' %>
              <%= f.check_box  :is_wetland %>
            </li>
            <li>
              <%= f.label :wetland_area, 'Area of wetland:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :wetland_area, :size => 5, :type => 'number' %> ft
            </li>
            <li>
              <%= f.label :wetland_treated_area, 'Upland area treated by wetland:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :wetland_treated_area, :size => 5, :type => 'number' %> ft
            </li>
            <li>
              <%= f.label :is_wetland_planned, 'Planned:', :class => 'wide' %>
              <%= f.check_box  :is_wetland_planned %>
            </li>

            <li>
              <% BmpType.all.each do |bmp_type| %>
                  <%= check_box_tag 'field[bmp_type_ids][]', bmp_type.id, true, :id => 'bmp_type_' + bmp_type.id.to_s %>
                  <%= label_tag('bmp_type_' + bmp_type.id.to_s, bmp_type.name) -%>
                  <br>
              <% end %>
            </li>


          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>

      <%= f.submit 'Save and Continue', :class => 'button' %>
    </div>
<% end %>