<%= form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form"} do |f| %>
    <% if @field.errors.any? %>
        <div id="error_explanation" class="alert">
          <b><%= pluralize(@field.errors.count, "error") %> encountered:</b>

          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="sectionRest clearfix">
      <%= f.hidden_field :step, :value => '1' %>

      <div>
        <fieldset>
          <ol>
            <li><h2 class='sectionHeading'>Field Information</h2></li>
            <li>Enter field information.</li>
            <li>
              <div class='wide'>Watershed:</div>
              <%= @field.watershed_name %>
            </li>
            <li>
              <div class='wide'>Land river segment:</div>
              <%= @field.watershed_segment.key unless @field.watershed_segment.nil? %>
            </li>
            <li>
              <div class='wide'>Major basin:</div>
              <%= @field.watershed_segment.major_basin unless @field.watershed_segment.nil? %>
            </li>
            <li>
              <div class='wide'>TMDL watershed:</div>
              <% if @farm.site_state_id == 21 %>
                  <%= @field.tmdl != nil ? @field.tmdl.name : 'N/A' %>
              <% else %>
                  <%= @field.tmdl_va %>
              <% end %>
            </li>
            <li>
              <%= f.label :name, '(FSA) Field number:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.text_field :name, :required => 'true', :class => 'textboxLarge' %>
            </li>
            <li>
              <%= f.label :field_type_id, 'Field type:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.collection_select :field_type_id, FieldType.all, :id, :name, {:prompt => 'Select field type'}, {:required => true} %>
            </li>


                <li><h2 class='sectionHeading'>Streambank fencing / Exclusion</h2></li>
                <li>
                  <label class="wide"><b>Pasture is adjacent to stream<em>*</em></b></label>
                  <%= f.radio_button :is_pasture_adjacent_to_stream, true, :required => true %>
                  <%= f.label :is_pasture_adjacent_to_stream_true, 'Yes' %>
                  <%= f.radio_button :is_pasture_adjacent_to_stream, false, :required => true %>
                  <%= f.label :is_pasture_adjacent_to_stream_false, 'No' %>
                </li>
                <div id='div_is_pasture_adjacent_to_stream'
                     <% if !@field.is_pasture_adjacent_to_stream? %>style='display: none'
                     <% end %>>
                  <li>
                    <%= f.label :fence_length, 'Linear feet of streabank:<em>*</em>'.html_safe, :class => 'wide' %>
                    <%= f.text_field :fence_length, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :step => 'any', :required => true %>
                    ft
                  </li>
                  <li>
                    <label class="wide"><b>Is fencing/exclusion in place<em>*</em></b></label>
                    <%= f.radio_button :is_streambank_fencing_in_place, true, :required => true %>
                    <%= f.label :is_streambank_fencing_in_place_true, 'Yes' %>
                    <%= f.radio_button :is_streambank_fencing_in_place, false, :required => true %>
                    <%= f.label :is_streambank_fencing_in_place_false, 'No' %>
                  </li>
                  <div id='div_is_fencing_in_place'
                       <% if !@field.is_streambank_fencing_in_place? %>style='display: none'
                       <% end %>>
                    <li>
                      <%= f.label :name, 'Vegetation type:<em>*</em>'.html_safe, :class => 'wide' %>
                      <%= f.collection_select :vegetation_type_fence_stream_id, VegetationType.all, :id, :name, {:prompt => 'Select vegetation type'}, {:required => true} %>
                    </li>
                    <li>
                      <%= f.label :distance_fence_stream, 'Distance between fence/exclusion and stream:<em>*</em>'.html_safe, :class => 'wide' %>
                      <%= f.text_field :distance_fence_stream, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :step => 'any', :required => true %>
                      ft
                    </li>
                    <li></li>
                    <li>
                      <%= f.label :exclusion_description, 'If the above describes an alternative to fencing that is used to exclude animals from the stream, please describe exclusion method here:' %>
                    </li>
                    <li>
                      <%= f.text_area :exclusion_description, :rows => 5 %>
                    </li>
                  </div>
                </div>

            <li>
              <div class='wide'>Notes:</div>
              <%= f.text_area :notes, :rows => 5 %>
            </li>
          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>

      <%= f.submit 'Save and Continue', :class => 'button' %>
    </div>
<% end %>