<%= nested_form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form", :novalidate => 'novalidate'} do |f| %>

    <% if @field.errors.any? %>
        <div id="error_explanation" class="alert">
          <b><%= pluralize(@field.errors.count, "error") %> encountered:</b>

          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="sectionRest clearfix">

      <%= f.hidden_field :step, :value => '6' %>

      <input type='hidden' name='addCropForStrip' id='addCropForStrip'>
<br>
       <li>
              <%= f.label :future_field_type_id, 'Future field type:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.collection_select :future_field_type_id, FieldType.convertable_fields, :id, :name, {:prompt => 'Select field type'}, {:required => true} %>
            </li>

      <br/>The crops in this field's current crop rotation are listed below. You may add a crop to the rotation or click
      on a specific crop to edit it.<br/><br/>


      <div id="div_strip">
        <%= f.fields_for :strips do |strips_form| %>
            <%= render 'strip_fields_future', :f => strips_form if strips_form.object.is_future || strips_form.object.id.nil? %>
        <% end %>
      </div>
    </div>
    <a class="button" href="<%= new_farm_field_strip_path(@field.farm, @field, :step => 6) %>">Add strip for strip cropping</a>

    <%= f.submit 'Save and Continue', :class => 'button' %>

<% end %>


<% if !@other_fields.nil? && !@other_fields.empty? %>
    <div class="sectionRest clearfix">
      <br/>


      <%= form_tag(export_farm_field_path(@field.farm.id, @field.id), :name => 'exportForm', method: "post") do %>
          <%= hidden_field_tag :step, 6 %>
          <select name='isExport' id='isExport'>
            <option value='true'>Copy data into</option>
            <option value='false'>Copy data from</option>
          </select>
          <%= select_tag 'target_field_id', options_from_collection_for_select(@other_fields, 'id', 'name') %>
          <%= button_tag 'Submit' %>
      <% end %>
    </div>

<% end %>

<div class="sectionRest clearfix">
  <%= form_tag(populateFutureCropManagement_farm_field_path(@field.farm.id, @field.id), :name => 'populateFutureCropManagementForm', method: "post") do %>
      <%= hidden_field_tag :step, 6 %>
      <% if @field.field_type_id == 2 %>
      <%= button_tag 'Import current pasture' %>
      <% else %>
      <%= button_tag 'Import current crop rotations' %>
      <% end %>
  <% end %>
</div>


<script>
document.getElementById('field_future_field_type_id').addEventListener('change',function(){
  var new_field_id = parseInt(document.getElementById('field_future_field_type_id').value)
  $.ajax({
    url: "change_future_field",
    type: 'put',
    data: {future_field_type_id: new_field_id}
  });
            });
</script>