<% title 'Accounts' %>

<div style="position:relative">

  <div style="position:absolute;top: 5px;right:0;z-index:2">
    <%= form_tag users_path, :method => 'get' do %>
        <%= hidden_field_tag :tab, params[:tab] %>
        <%= text_field_tag :search, params[:search], :placeholder => 'Search here' %>
        <%= submit_tag 'Search', :body => nil %>
    <% end %>
  </div>

  <ul id="tabNav">
    <li <%= 'class=selected' if params[:tab]=='all' %>><%= link_to 'All', users_path(:tab => 'all') %></li>
    <li <%= 'class=selected' if params[:tab]=='deleted' %>><%= link_to 'Deleted accounts', users_path(:tab => 'deleted') %></li>
    <li class="shadow"></li>
  </ul>
</div>
<br/>



<table class="listingTable" width="100%" cellspacing="0" cellpadding="3" border="0">
  <tr>
    <th><%= sortable 'username', 'Username' %></th>
    <th><%= sortable 'first_name', 'First name' %></th>
    <th><%= sortable 'last_name', 'Last name' %></th>
    <th><%= sortable 'email', 'Email' %></th>
    <th><%= sortable 'created_at', 'Created on' %></th>
    <% if params[:tab]=='deleted' %>
        <th><%= sortable 'deleted_at', 'Deleted on' %></th>
    <% end %>
    <th class="actions">Action</th>

  </tr>


  <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= l user.created_at %></td>
        <% if params[:tab]=='deleted' %>
            <td><%= l user.deleted_at %></td>
        <% end %>

        <td>
          <%= link_to image_tag('/images/view.png', :alt => 'Show', :title => 'Show'), user %>
          &nbsp;
          <%= link_to image_tag('/images/edit.png', :alt => 'Edit', :title => 'Edit'), edit_user_path(user) %>
          &nbsp;
          <%= link_to image_tag('/images/delete.png', :alt => 'Delete', :title => 'Delete user'), user, method: :delete, data: {confirm: 'Are you sure?'} unless user.deleted %></td>

      </tr>
  <% end %>
</table>

<div style="position:relative">
  <div style="position:absolute;top:3px;right:0;z-index:2">
    <%= page_entries_info @users, :model => 'Account' %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= will_paginate @users, :container => false %>
  </div>
</div>

<BR/>

