<div class="nn-form sectionRest clearfix">
  <div>
    <fieldset>
      <ol>
        <li>
          <label class='wide'>Email:</label>
          <%= @user.email %>
        </li>
        <li>
          <label class="wide">First name:</label>
          <%= @user.first_name %>
        </li>

        <li>
          <label class="wide">Last name:</label>
          <%= @user.last_name %>
        </li>
        <li>
          <label class="wide">Approved:</label>
          <%= radio_button_tag(:approved, 'true', @user.approved?, :disabled => 'true') %>
          <%= label_tag(:approved, 'Yes', :value => 'true') %>
          <%= radio_button_tag(:approved, 'false', !@user.approved?, :disabled => 'false') %>
          <%= label_tag(:approved, 'No', :value => 'false') %>
        </li>
        <li>
          <label class="wide">Roles:</label>
          <div style="float: left;">
            <% @roles.each do |role| %>
                <%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role), :id => 'user_role_' + role.id.to_s, :disabled => true %>
                <%= label_tag('user_role_' + role.id.to_s, role.name) -%>
                <br>
            <% end %>
          </div>
        </li>


      </ol>

    </fieldset>
    <fieldset>

      <ol>
        <li>
          <label class='wide'>Sign-in count:</label>
          <%= @user.sign_in_count %>
        </li>
      </ol>
    </fieldset>
  </div>
  <div style="clear: both"></div>
</div>

<div class="actions">
  <%= submit_tag 'Back', :type => 'button', :onclick => "location.href = '#{users_path}'" %>
</div>