<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td>
      Email:
    </td>
    <td>
      <%= @user.email  %>
    </td>
  </tr>
  <tr>
    <td>
      First name:
    </td>
    <td>
      <%= @user.first_name %>
    </td>
  </tr>
  <tr>
    <td>
      Last name:
    </td>
    <td>
      <%= @user.last_name %>
    </td>
  </tr>
  <tr>
    <td>
      Locked:
    </td>
    <td>
      <%= !@user.locked_at.nil? %>
    </td>
  </tr>
  <tr>
    <td>
      Approved:
    </td>
    <td>
      <%= @user.approved? %>
    </td>
  </tr>
  <tr>
    <td>
      Delete:
    </td>
    <td>
      <%= !@user.deleted_at.nil? %>
    </td>
  </tr>
  <tr>
    <td>
      Number sign-ins:
    </td>
    <td>
      <%= @user.sign_in_count %>
    </td>
  </tr>
  <tr>
    <td>
     Last login on:
    </td>
    <td>
      <%= l @user.last_sign_in_at unless @user.last_sign_in_at.nil? %>
      <!-- TODO: format data l datetime? -->
    </td>
  </tr>

</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
