<!-- This hidden field is used to check if HTML 5 is supported (to remove required attributes) -->
<input class="checkHTML5" style="display: none;" type="date">

<div id="pageHeader">
  <div style="float: right;">
    <ul id="accountnav">

      <% if user_signed_in? %>
          <li>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
          <li>
            <%= link_to('My account', edit_user_registration_path) unless current_user.role? :project_administrator %>
            <%= link_to('User accounts', users_path) if current_user.role? :project_administrator %>
          </li>
      <% else %>
          <li>
            <%= link_to('Login', new_user_session_path) %>
          </li>
      <% end %>

      <li><a class="last" href="/pdfs/CBNTT_User_Guide.pdf" target='_blank'>Help</a></li>
    </ul>
  </div>
  <h1><a href="/" id="nutrientnet-logo">Chesapeake Bay Nutrient Trading</a></h1>
</div>