<%= form_for(@project, :html => {:class => 'nn-form'}) do |f| %>
    <% if @project.errors.any? %>
        <br/>
        <div id="error_explanation" class="alert">
          <h2><%= pluralize(@project.errors.count, "error") %> encountered:</h2>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    
    <%= hidden_field_tag :step, 1 %>

    <div class="sectionRest clearfix">
    <div>
    <table>
      <tr>
        <td>
          <%= f.label :name, 'Farm name:<em>*</em>'.html_safe, :class => 'wide' %>
        </td>
        <td>
          <%= f.text_field :name, :required => 'true' %>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <h2 class='sectionHeading'>Worksheet and project information</h2>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :tract_number, '(FSA) Tract number:<em>*</em>'.html_safe, :class => 'wide' %>
        </td>
        <td>
          <%= f.text_field :tract_number, :required => 'true' %>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <%= f.label :farm_notes, 'Farm notes:<em>*</em>'.html_safe, :class => 'wide' %>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <%= f.text_area :farm_notes, :required => 'true', :rows => 10 %>
        </td>
      </tr>

      <tr>
        <td colspan=2>
          <h2 class='sectionHeading'>Site information</h2>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :tract_number, '(FSA) Tract number:<em>*</em>'.html_safe, :class => 'wide' %>
        </td>
        <td>
          <%= f.text_field :tract_number, :required => 'true' %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :site_name, 'Site name:<em>*</em>'.html_safe, :class => 'wide' %>
        </td>
        <td>
          <%= f.text_field :site_name, :required => 'true' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :site_street_1, 'Street 1:', :class => 'wide' %>
        </td>
        <td>
          <%= f.text_field :site_street_1 %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :site_street2, 'Street 2:', :class => 'wide' %>
        </td>
        <td>
          <%= f.text_field :site_street_2 %>
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <%= f.label :site_description, 'Location description:', :class => 'wide' %>
        </td>  </tr><tr>
        <td colspan='2'>
          <%= f.text_area :site_description, :rows => 10 %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :site_zip, 'ZIP code:', :class => 'wide' %>
        </td>
        <td>
          <%= f.text_field :site_zip %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :site_state_id, 'State:<em>*</em>'.html_safe, :class => 'wide' %>
        </td>
        <td>
          <%= f.collection_select :site_state_id, State.local_states, :id, :name, {:prompt => 'Select state'}, {:required => true} %></td>
      <tr>
        <td>
          <%= f.label :site_county_id, 'County:<em>*</em>'.html_safe, :class => 'wide' %>
        </td>
        <td>
          <select id="project_site_county_id" name="project[site_county_id]" disabled="disabled" required='required'>
            <option>First select a state</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <h2 class='sectionHeading'>Animals</h2>
        </td>
      </tr>

      <tr >
        <td >
          <%= f.label :site_zip, 'Does this project site include confined or pastured animals?', :class => 'wide' %>
        </td>
        <td>
          <input type='radio' id='has_animals_yes' name='has_animals' value='true'
                 <% if @project.has_animals? %>
                    checked='checked'
                 <% end %> >
          <label for='has_animals_yes'>Yes</label>
          <input type='radio' id='has_animals_no' name='has_animals' value='false'
                 <% if !@project.has_animals? %>
                    checked='checked'
                 <% end %> >
          <label for='has_animals_no'>No</label>

        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :animals, 'Animals:<em>*</em>'.html_safe, :class => 'wide', :id => 'label_animals', :style => 'display: none;"' %>
        </td>
        <td>
          <div id="animals" style="display: none;">
            <div class='animal' >
              <%= f.collection_select :animal_ids, Animal.all, :id, :name, {:prompt => 'Select animal'}, {:name => 'project[animal_ids][]'} %>
              <%= link_to image_tag('/images/delete.png', :alt => 'Delete', :title => 'Delete', :class => 'remove_animal_button'), '#' %>
            </div>
          </div>
          <input type="button" id='add_animal_button' value='Add animal' style="display: none;" />

        </td>
      </tr>


    </table>


    </div>
    <div style="clear: both"></div>
    </div>

    <div class="actions">
      <%= submit_tag 'Cancel', :type => 'button', :onclick => "location.href = '#{projects_path}'" %>
      <%= f.submit 'Submit' %>
    </div>


<% end %>



