<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Tract number:</b>
  <%= @project.tract_number %>
</p>

<p>
  <b>Farm notes:</b>
  <%= @project.farm_notes %>
</p>


<table class="listingTable" width="100%" cellspacing="0" cellpadding="3" border="0">
  <tr>
    <th>Field</th>
    <th>Area (ac)</th>
    <th>Baseline & Load</th>
    <th>Reduction to Bay</th>
    <th>Credits to Trade</th>
    <th>Reduction to Bay</th>
    <th class="actions">Action</th>

  </tr>

<% @project.fields.each do |field| %>
      <tr>
        <td><%= link_to field.name, project_field_path(@project, field)  %></td>
        <td><%= field.area %></td>
        <td><%= field.baseline_load %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= link_to image_tag('/images/delete.png', :alt => 'Delete'), project_field_path(@project, field), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
</table>



<!--
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
-->
