<%= nested_form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form"} do |f| %>

    <% if @field.errors.any? %>
        <div id="error_explanation" class="alert">
          <b><%= pluralize(@field.errors.count, "error") %> encountered:</b>

          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="sectionRest clearfix">
      <%= f.hidden_field :step, :value => '2' %>

      <div>
        <fieldset>
          <ol>

            <li><h2 class='sectionHeading'>Area</h2></li>
            <li>
              <div class='wide'>Field area:<em>*</em></div>
              <%= f.radio_button :is_acres_from_map, true %>
              <%= f.label :is_acres_from_map_true, number_with_precision(@field.acres_from_map, :precision => 2, :separator => '.', :delimiter => ',') + ' ac (from map)' %>
              <br/>

              <div class='wide'>&nbsp;</div>
              <%= f.radio_button :is_acres_from_map, false %>
              <%= f.text_field :acres_from_user, :required => 'true', :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any' %>
              &nbsp;<%= f.label :is_acres_from_map_false, 'ac' %>
            </li>

            <li><h2 class='sectionHeading'>Livestock</h2></li>
            <li>Enter information for the entire life cycle of this operation. First, select a method with which to
              enter your animal confinement data. Select the Totals per type method to enter nutrient totals or select
              the Average per type method to list average per-animal attributes.
            </li>
            <li></li>
            <li>
              <%= f.label :livestock_input_method_id, 'Input method:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.collection_select :livestock_input_method_id, LivestockInputMethod.all, :id, :name, {:prompt => 'Select input method'}, {:required => true} %>
            </li>
            <div id='div_livestock'>
              <%= f.fields_for :field_livestocks do |field_livestocks_form| %>
                  <%= render 'field_livestock_fields', :f => field_livestocks_form %>
              <% end %>
            </div>
            <li><%= f.link_to_add "Add Livestock", :field_livestocks, :class => 'button', :id => 'addFieldLivestockBtn', :data => {:target => "#div_livestock"} %></li>


            <li><h2 class='sectionHeading'>Poultry</h2></li>
            <li>Enter information for the entire life cycle of this operation.</li>
            <div id='div_poultry'>
              <%= f.fields_for :field_poultry do |field_poultry_form| %>
                  <%= render 'field_poultry_fields', :f => field_poultry_form %>
              <% end %>
            </div>
            <li><%= f.link_to_add "Add Poultry", :field_poultry, :class => 'button', :id => 'addFieldPoultryBtn', :data => {:target => "#div_poultry"} %></li>

          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>

      <%= f.submit 'Save and Continue', :class => 'button' %>
    </div>
<% end %>