<%= form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form"} do |f| %>
    <% if @field.errors.any? %>
        <div id="error_explanation" class="alert">
          <b><%= pluralize(@field.errors.count, "error") %> encountered:</b>

          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="sectionRest clearfix">
      <%= f.hidden_field :step, :value => '3' %>

      <div>
        <fieldset>
          <ol>
            <% if @farm.site_state_id == 21 # only for Maryland    %>
            <li><h2 class='sectionHeading'>Requirements</h2></li>
            <li>Landowners must have an implemented nutrient management plan and a soil and water conservation plan
              before being eligible to generate credits.<br/><br/>
              For confined livestock, operators must have a properly sized and maintained manure storage and runoff
              system to be eligible to generate credits.
              <br/><br/>
            </li>
            <li>
              <%= f.label :is_livestock_implemented_nutrient_plan, 'I have an implemented nutrient management plan:', :class => 'extrawide' %>
              <%= f.check_box :is_livestock_implemented_nutrient_plan %>
            </li>
            <li>
              <%= f.label :is_livestock_implemented_soil_water_plan, 'I have an implemented soil and water conservation plan:', :class => 'extrawide' %>
              <%= f.check_box :is_livestock_implemented_soil_water_plan %>
            </li>
            <li>
              <%= f.label :is_livestock_properly_sized_maintained, 'I have a properly sized and maintained manure storage and runoff system:', :class => 'extrawide' %>
              <%= f.check_box :is_livestock_properly_sized_maintained %>
            </li>
            <% end %>
            <% if @farm.site_state_id != 21 # not Maryland    %>
            <li>Baseline requirements for your state are to be determined.</li>
            <% end %>

          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>

      <%= f.submit 'Save and Continue', :class => 'button' %>
    </div>
<% end %>