<% if !flash[:error].nil? %>
    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol>
            <li></li>
            <li>
              Please contact your administrator.<br/></li>
          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>
    </div>


<% else %>

    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol>
            <li><h2 class='sectionHeading'>Current Load (EOS):</h2></li>
            <li><span class='wide'>Nitrogen:</span>
              <%= number_with_precision(@field.totals[:new_total_n], :precision => 2, delimiter: ',') %>
              lbs/yr
            </li>
            <li><span class='wide'>Phosphorus:</span>
              <%= number_with_precision(@field.totals[:new_total_p], :precision => 2, delimiter: ',') %>
              lbs/yr
            </li>
            <li><span class='wide'>Sediment:</span>
              <%= number_with_precision(@field.totals[:new_total_sediment], :precision => 2, delimiter: ',') %>
              tons/yr
            </li>
          </ol>
          <br/>
          <%= link_to 'Continue', edit_farm_field_path(@field.farm.id, @field.id, :step => 6), :class => 'button', :method => :get %>
<br><br>
            <%= link_to "Review Current Results", current_farm_path(@farm), :class => 'button', :id => 'review' %>
        </fieldset>
      </div>


      <div style="clear: both"></div>
    </div>

    <% if session[:debug] %>
        <br/><br/>

        total_n_livestock: <%= @current_totals[:total_n_livestock] %> <br/>
        total_nh3_livestock: <%= @current_totals[:total_nh3_livestock] %> <br/>
        total_n_livestock: <%= @current_totals[:total_n_livestock] %> <br/>
        total_p_livestock: <%= @current_totals[:total_p_livestock] %> <br/>
        total_org_p_livestock: <%= @current_totals[:total_org_p_livestock] %> <br/>
        total_po4p_livestock: <%= @current_totals[:total_po4p_livestock] %> <br/>

        animal_v_ammonia: <%= @current_totals[:animal_v_ammonia] %> <br/>
        animal_eof_confined_nh3: <%= @current_totals[:animal_eof_confined_nh3] %> <br/>
        animal_eof_confined_org_n: <%= @current_totals[:animal_eof_confined_org_n] %> <br/>
        animal_eof_confined_org_p: <%= @current_totals[:animal_eof_confined_org_p] %> <br/>
        animal_eof_confined_po4p: <%= @current_totals[:animal_eof_confined_po4p] %> <br/>

        total_n_poultry: <%= @current_totals[:total_n_poultry] %> <br/>
        total_nh3_poultry: <%= @current_totals[:total_nh3_poultry] %> <br/>
        total_org_n_poultry: <%= @current_totals[:total_org_n_poultry] %> <br/>
        total_p_poultry: <%= @current_totals[:total_p_poultry] %> <br/>
        total_org_p_poultry: <%= @current_totals[:total_org_p_poultry] %> <br/>
        total_po4p_poultry: <%= @current_totals[:total_po4p_poultry] %> <br/>

        poultry_v_ammonia: <%= @current_totals[:poultry_v_ammonia] %> <br/>
        poultry_eof_confined_nh3: <%= @current_totals[:poultry_eof_confined_nh3] %> <br/>
        poultry_eof_confined_org_n: <%= @current_totals[:poultry_eof_confined_org_n] %> <br/>
        poultry_eof_confined_org_p: <%= @current_totals[:poultry_eof_confined_org_p] %> <br/>
        poultry_eof_confined_po4p: <%= @current_totals[:poultry_eof_confined_po4p] %> <br/>
    <% end %>

<% end %>