<% if !flash[:error].nil? %>
    <div class="sectionRest clearfix nn-form">

      <div>
        <fieldset>
          <ol>
            <li></li>
            <li>
              Please contact your administrator.<br/></li>
          </ol>
        </fieldset>
      </div>


      <div style="clear: both"></div>
    </div>


<% else %>

    <div class="sectionRest clearfix nn-form">
      <div>
        <fieldset>
          <ol>
            <li><h2 class='sectionHeading'>Nitrogen</h2></li>
            <li><span class='wide'>Current Load:</span>
              <%= number_with_precision(@current_totals[:current_load_nitrogen], :precision => 2, delimiter: ',') %>
              lbs/yr
            </li>
            <li><span class='wide'>Future Load:</span>
              <%= number_with_precision(@future_totals[:current_load_nitrogen], :precision => 2, delimiter: ',') %>
              lbs/yr
            </li>
            <li><span class='wide'>Reduction:</span>
              <%= number_with_precision(@current_totals[:current_load_nitrogen]-@future_totals[:current_load_nitrogen], :precision => 2, delimiter: ',') %>
              lbs/yr
            </li>
            <li><span class='wide'>Delivery factor:</span>
              <%= number_with_precision(@field.watershed_segment.n_delivery_factor, :precision => 2, delimiter: ',') %>
            </li>
            <li><span class='wide'>Reduction to  the Chesapeake bay:</span>
              <%= number_with_precision([0, (@current_totals[:current_load_nitrogen]-@future_totals[:current_load_nitrogen])* @field.watershed_segment.n_delivery_factor].max, :precision => 2, delimiter: ',') %>
              tons
            </li>

            <li><h2 class='sectionHeading'>Phosporus</h2></li>
            <li><span class='wide'>Current Load:</span>
              <%= number_with_precision(@current_totals[:current_load_phosphorus], :precision => 2, delimiter: ',') %>
              <%= number_with_precision(@current_totals[:current_load_phosphorus], :precision => 2, delimiter: ',') %>
              lbs/yr
            </li>
            <li><span class='wide'>Future Load:</span>
              <%= number_with_precision(@future_totals[:current_load_phosphorus], :precision => 2, delimiter: ',') %>
              lbs/yr
            </li>
            <li><span class='wide'>Reduction:</span>
              <%= number_with_precision(@current_totals[:current_load_phosphorus]-@future_totals[:current_load_phosphorus], :precision => 2, delimiter: ',') %>
              lbs/yr
            </li>
            <li><span class='wide'>Delivery factor:</span>
              <%= number_with_precision(@field.watershed_segment.n_delivery_factor, :precision => 2, delimiter: ',') %>
            </li>
            <li><span class='wide'>Reduction to  the Chesapeake bay:</span>
              <%= number_with_precision([0, (@current_totals[:current_load_phosphorus]-@future_totals[:current_load_phosphorus])* @field.watershed_segment.p_delivery_factor].max, :precision => 2, delimiter: ',') %>
              tons
            </li>

            <li><h2 class='sectionHeading'>Sediment</h2></li>
            <li><span class='wide'>Current Load (EOS):</span>
              <%= number_with_precision(@current_totals[:current_load_sediment], :precision => 2, delimiter: ',') %>
              t/yr
            </li>
            <li><span class='wide'>Future Load (EOS):</span>
              <%= number_with_precision(@future_totals[:current_load_sediment], :precision => 2, delimiter: ',') %>
              t/yr
            </li>
            <li><span class='wide'>Reductions (EOS):</span>
              <%= number_with_precision(@current_totals[:current_load_sediment]-@future_totals[:current_load_sediment], :precision => 2, delimiter: ',') %>
              t/yr
            </li>
            <li><span class='wide'>Delivery factor:</span>
              <%= number_with_precision(@field.watershed_segment.n_delivery_factor, :precision => 2, delimiter: ',') %>
            </li>
            <li><span class='wide'>Reduction to the Chesapeake bay:</span>
              <%= number_with_precision([0, (@current_totals[:current_load_sediment]-@future_totals[:current_load_sediment])* @field.watershed_segment.sediment_delivery_factor].max, :precision => 2, delimiter: ',') %>
              tons
            </li>
          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>
    </div>


    <% if session[:debug] %>
        <br/><br/>

        total_n_livestock: <%= @current_totals[:total_n_livestock] %> <br/>
        total_nh3_livestock: <%= @current_totals[:total_nh3_livestock] %> <br/>
        total_n_livestock: <%= @current_totals[:total_n_livestock] %> <br/>
        total_p_livestock: <%= @current_totals[:total_p_livestock] %> <br/>
        total_org_p_livestock: <%= @current_totals[:total_org_p_livestock] %> <br/>
        total_po4p_livestock: <%= @current_totals[:total_po4p_livestock] %> <br/>

        animal_v_ammonia: <%= @current_totals[:animal_v_ammonia] %> <br/>
        animal_eof_confined_nh3: <%= @current_totals[:animal_eof_confined_nh3] %> <br/>
        animal_eof_confined_org_n: <%= @current_totals[:animal_eof_confined_org_n] %> <br/>
        animal_eof_confined_org_p: <%= @current_totals[:animal_eof_confined_org_p] %> <br/>
        animal_eof_confined_po4p: <%= @current_totals[:animal_eof_confined_po4p] %> <br/>

        total_n_poultry: <%= @current_totals[:total_n_poultry] %> <br/>
        total_nh3_poultry: <%= @current_totals[:total_nh3_poultry] %> <br/>
        total_org_n_poultry: <%= @current_totals[:total_org_n_poultry] %> <br/>
        total_p_poultry: <%= @current_totals[:total_p_poultry] %> <br/>
        total_org_p_poultry: <%= @current_totals[:total_org_p_poultry] %> <br/>
        total_po4p_poultry: <%= @current_totals[:total_po4p_poultry] %> <br/>

        poultry_v_ammonia: <%= @current_totals[:poultry_v_ammonia] %> <br/>
        poultry_eof_confined_nh3: <%= @current_totals[:poultry_eof_confined_nh3] %> <br/>
        poultry_eof_confined_org_n: <%= @current_totals[:poultry_eof_confined_org_n] %> <br/>
        poultry_eof_confined_org_p: <%= @current_totals[:poultry_eof_confined_org_p] %> <br/>
        poultry_eof_confined_po4p: <%= @current_totals[:poultry_eof_confined_po4p] %> <br/>
    <% end %>

<% end %>