<%= nested_form_for @field, :url => {:action => "update"}, :html => {:class => "nn-form"} do |f| %>

    <% if @field.errors.any? %>
        <div id="error_explanation" class="alert">
          <b><%= pluralize(@field.errors.count, "error") %> encountered:</b>

          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="sectionRest clearfix">
      <%= f.hidden_field :step, :value => '2' %>

      <div>
        <fieldset>
          <ol>

            <li><h2 class='sectionHeading'>Area</h2></li>
            <li>
              <div class='wide'>Loafing lot area:<em>*</em></div>
              <%= f.radio_button :is_acres_from_map, true %>
              <%= f.label :is_acres_from_map_true, number_with_precision(@field.acres_from_map, :precision => 2, :separator => '.', :delimiter => ',') + ' ac (from map)' %>
              <br/>

              <div class='wide'>&nbsp;</div>
              <%= f.radio_button :is_acres_from_map, false %>
              <%= f.text_field :acres_from_user, :required => 'true', :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any' %>
              &nbsp;<%= f.label :is_acres_from_map_false, 'ac' %>
            </li>

            <li>Click <a href="#" id="typicalManureValuesLink">here</a> to see typical manure values.

              <div id="typicalManureValuesTable" style="display: none">
                <br/>
              <table class='listingTable'>
                <tr><th>Animal Name </th><th>P (Ibs/ton)</th><th>TN (Ibs/ton) as excreted</th><th>TN (Ibs/Ton) as applied</th><th>Typical Moisture content</th></tr>
                <tr><td>Angora goats</td><td>5.366</td><td>21.952</td><td>18.78736</td><td rowspan='4'>68.29%</td></tr>
                <tr><td>milk goats</td><td>5.366</td><td>21.952</td><td>18.78736</td></tr>
                <tr><td>Other: Llamas</td><td>5.366</td><td>21.952</td><td>18.78736</td></tr>
                <tr><td>Other: Alpacas</td><td>5.366</td><td>21.952</td><td>18.78736</td></tr>
                <tr><td>beef: Cows </td><td>3.172</td><td>11.726</td><td>9.7981</td><td>85.34%</td></tr>
                <tr><td>biosolids</td><td>50</td><td>78</td><td>67.47</td><td>80%</td></tr>
                <tr><td>broilers</td><td>7.058</td><td>25.882</td><td>22.647</td><td>74.12%</td></tr>
                <tr><td>layers</td><td>9.376</td><td>26.25</td><td>21.9847</td><td>75%</td></tr>
                <tr><td>dairy: milk/dry cows</td><td>2.186</td><td>10.464</td><td>9.87648</td><td>86.05%</td></tr>
                <tr><td>hogs and pigs for breeding</td><td>4.28</td><td>13.26</td><td>8.4526</td><td rowspan='2'>86.90%</td></tr>
                <tr><td>hogs for slaughter </td><td>4.286</td><td>12.38</td><td>7.8924</td></tr>
                <tr><td>horses</td><td>2.786</td><td>11.768</td><td>10.07168</td><td rowspan='3'>70.59%</td></tr>
                <tr><td>other cattle</td><td>1.95</td><td>7.46</td><td>6.38384</td></tr>
                <tr><td>pullets</td><td>10.53</td><td>27.2</td><td>22.78</td></tr>
                <tr><td>sheep and lambs</td><td>4.35</td><td>21.002</td><td>16.69928</td><td>72.50%</td></tr>
                <tr><td>turkeys</td><td>9.788</td><td>26.384</td><td>25.29472</td><td>74.47%</td></tr>
                <tr><td>Ducks</td><td>9.788</td><td>26.384</td><td>25.29472</td><td>71.82%</td></tr>
              </table>
                  </div>
            </li>

            <li><h2 class='sectionHeading'>Livestock</h2></li>
            <li>Enter information for the entire life cycle of this operation. First, select a method with which to
              enter your animal confinement data. Select the Totals per type method to enter nutrient totals or select
              the Average per type method to list average per-animal attributes.
            </li>
            <li></li>
            <li>
              <%= f.label :livestock_input_method_id, 'Input method:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.collection_select :livestock_input_method_id, LivestockInputMethod.all, :id, :name, {:prompt => 'Select input method'}, {:required => true} %>
            </li>
            <div id='div_livestock'>
              <%= f.fields_for :field_livestocks do |field_livestocks_form| %>
                  <%= render 'field_livestock_fields', :f => field_livestocks_form %>
              <% end %>
            </div>
            <li><%= f.link_to_add "Add Livestock", :field_livestocks, :class => 'button', :id => 'addFieldLivestockBtn', :data => {:target => "#div_livestock"} %></li>


            <li><h2 class='sectionHeading'>Poultry</h2></li>
            <li>Enter information for the entire life cycle of this operation.</li>
            <div id='div_poultry'>
              <%= f.fields_for :field_poultry do |field_poultry_form| %>
                  <%= render 'field_poultry_fields', :f => field_poultry_form %>
              <% end %>
            </div>
            <li><%= f.link_to_add "Add Poultry", :field_poultry, :class => 'button', :id => 'addFieldPoultryBtn', :data => {:target => "#div_poultry"} %></li>

          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>

      <%= f.submit 'Save and Continue', :class => 'button' %>
    </div>
<% end %>