<li><h1 class='sectionHeading'>Commercial fertilizer application
  <span class="commercial_operation_index"></span> <%= f.link_to_remove ' ', :style => 'position:relative;left:-200px;', :class => 'icon-delete', data: {confirm: 'Are you sure?'}, :title => 'Delete commercial fertilizer application' %>
</h1></li>
<li>
  <%= f.label :application_date_year, 'Application date:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.select :application_date_year, options_for_select(listYears, :selected => f.object.application_date_year), {:prompt => 'Year'}, {:required => true, :style => 'width:70px'} %>
  <%= f.select :application_date_month, options_for_select(listMonths, :selected => f.object.application_date_month), {:prompt => 'Month'}, {:required => true, :style => 'width:100px'} %>
  <%= f.select :application_date_day, options_for_select(listDays, :selected => f.object.application_date_day), {:prompt => 'Day'}, {:required => true, :style => 'width:50px'} %>
</li>
<li>
  <%= f.label :total_n_applied, 'Total N applied:'.html_safe, :class => 'wide' %>
  <%= f.text_field :total_n_applied, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any' %>
  &nbsp; lbs/ac
</li>
<li>
  <%= f.label :total_p_applied, 'Total P applied:'.html_safe, :class => 'wide' %>
  <%= f.text_field :total_p_applied, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any' %>
  &nbsp; lbs/ac
</li>
<li>
  <div class='wide'>&nbsp;</div>
  <%= f.collection_select :p_type_id, PType.all, :id, :name, {:prompt => 'Select P type'}, {:style => 'width:120px'} %>
</li>
<li>
  <%= f.label :is_incorporated, 'Incorporated/Injected:', :class => 'wide' %>
  <%= f.check_box :is_incorporated, :size => 5 %>
</li>
<li>
  <%= f.label :incorporation_date_year, 'Incorporation date:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.select :incorporation_date_year, options_for_select(listYears, :selected => f.object.incorporation_date_year), {:prompt => 'Year'}, {:required => true, :style => 'width:70px'} %>
  <%= f.select :incorporation_date_month, options_for_select(listMonths, :selected => f.object.incorporation_date_month), {:prompt => 'Month'}, {:required => true, :style => 'width:100px'} %>
  <%= f.select :incorporation_date_day, options_for_select(listDays, :selected => f.object.incorporation_date_day), {:prompt => 'Day'}, {:required => true, :style => 'width:50px'} %>
</li>
<li>
  <%= f.label :incorporation_depth, 'Depth:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :incorporation_depth, :required => 'true', :class => 'tex44tboxMedium2', :type => 'number', :min => 0, :step => 'any' %>
  in
</li>
<br/>