<div style="position:relative">
  <ul id="tabNav">
    <li><%= link_to 'General', edit_farm_field_path(@farm, @field, :step => 1) %></li>
    <li><%= link_to 'Soil', edit_farm_field_path(@farm, @field, :step => 2) %></li>
    <li
    <% if (@step=='3') %> class="selected"
    <% end %>><%= link_to 'Current Crop Management', edit_farm_field_path(@farm, @field, :step => 3) %></li>
    <li><%= link_to 'Current BMPs', edit_farm_field_path(@farm, @field, :step => 4) %></li>
    <li><%= link_to 'Current Nutrient Load', edit_farm_field_path(@farm, @field, :step => 5) %></li>
    <li
    <% if (@step=='6') %> class="selected"
    <% end %> ><%= link_to 'Future Crop Management', edit_farm_field_path(@farm, @field, :step => 6) %></li>
    <li><%= link_to 'Future BMPs', edit_farm_field_path(@farm, @field, :step => 7) %></li>
    <li><%= link_to 'Future Nutrient Load', edit_farm_field_path(@farm, @field, :step => 8) %></li>
    <li class="shadow"></li>
  </ul>
</div>


<%= nested_form_for([@farm, @field, @strip, @crop_rotation], :html => {:class => 'nn-form'}) do |f| %>
    <% if @crop_rotation.errors.any? %>
        <div id="error_explanation" class="alert">
          <b><%= pluralize(@crop_rotation.errors.count, "error") %> encountered:</b>

          <ul>
            <% @crop_rotation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <input type='hidden' id='field_type_id' name='field_type_id' value='<%= @field.field_type_id %>'>
    <input type='hidden' id='step' name='step' value='<%= @step %>'>


    <div class="sectionRest clearfix">
      <div>
        <fieldset>
          <ol>
            <li><h2 class='sectionHeading'>Crop Category</h2></li>
            <% if (@field.field_type_id == 1) # if crop    %>
                <li>Enter the following information for the entire growing cycle of this crop, as applicable. Note that
                  some BMPs such as enhanced nutrient management, dairy feed management, and conservation tillage will
                  be credited automatically if the information entered on this page reflects any of these practices. If
                  you plant commodity cover crops, they should be added as a crop to be included in your rotation. If
                  you plant conservation cover crops, enter this information at the bottom of the page for the crop
                  preceding the cover crop. Enter crop management information for as many years as your crop rotation is
                  long.
                </li>
            <% end %>
            <% if (@field.field_type_id == 2) # if permanent pasture    %>
                <li>Enter the following information for this pasture, as applicable. Note that some BMPs such as
                  enhanced nutrient management will be credited automatically if the information entered on this page
                  reflects any of these practices.
                </li>
            <% end %>
            <% if (@field.field_type_id == 3) # if hay    %>
                <li>Enter the following information for the entire growing cycle of this hay field, as applicable. Note
                  that some BMPs such as enhanced nutrient management and conservation tillage will be credited
                  automatically if the information entered on this page reflects any of these practices.
                </li>
            <% end %>
            <li>
              <%= f.label :crop_rotation, 'Crop category:<em>*</em>'.html_safe, :class => 'wide' %>
              <%= f.collection_select :crop_category_id, CropCategory.all, :id, :name, {:selected => (@crop_rotation.crop.crop_category.id unless @crop_rotation.crop.nil?), :prompt => 'Select crop category'}, :required => true %>
            </li>
            <li>
              <%= f.label :name, 'Crop:<em>*</em>'.html_safe, :class => 'wide' %>
              <select id="crop_rotation_crop_id" name="crop_rotation[crop_id]" disabled="disabled" required='required'>
                <% if @crop_rotation.crop == nil %>
                    <option>First select a crop category</option>
                <% else %>
                    <option value='<%= @crop_rotation.crop.id %>'><%= @crop_rotation.crop.name %></option>
                <% end %>
              </select>
            </li>

            <% if (@field.field_type_id != 2) # hide if  field type is permanent pasture    %>
                <li>
                  <%= f.label :name, 'Plant date:<em>*</em>'.html_safe, :class => 'wide' %>

                  <%= f.select :plant_date_year, options_for_select(listYears, :selected => @crop_rotation.plant_date_year), {:prompt => 'Year'}, {:required => true, :style => 'width:70px'} %>
                  <%= f.select :plant_date_month, options_for_select(listMonths, :selected => @crop_rotation.plant_date_month), {:prompt => 'Month'}, {:required => true, :style => 'width:100px'} %>
                  <%= f.select :plant_date_day, options_for_select(listDays, :selected => @crop_rotation.plant_date_day), {:prompt => 'Day'}, {:required => true, :style => 'width:50px'} %>
                </li>
                <li>
                  <%= f.label :planting_method_id, 'Planting method:<em>*</em>'.html_safe, :class => 'wide' %>
                  <%= f.collection_select :planting_method_id, PlantingMethod.all, :id, :name, {:prompt => 'Select planting method'}, :required => true %>
                </li>
                <li>
                  <%= f.label :seeding_rate, 'Seeding rate:', :class => 'wide' %>
                  <%= f.text_field :seeding_rate, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any' %>
                  seeds/ac
                </li>
            <% end %>

            <% if (@field.field_type_id == 2) # only show if  field type is pasture    %>
                <li><h2 class='sectionHeading'>Grazing Livestock</h2></li>
                <li>Enter grazing livestock for the given year.</li>

                <div id='div_grazing_livestock'>

                  <%= f.fields_for :grazing_livestocks do |grazing_livestocks_form| %>
                      <%= render 'grazing_livestock_fields', :f => grazing_livestocks_form, :grazing_livestock_index => @crop_rotation.grazing_livestocks.index(grazing_livestocks_form.object) %>
                  <% end %>

                </div>
                <li><%= f.link_to_add "Add a Grazing Operation", :grazing_livestocks, :class => 'button', :id => 'addGrazingLivestockBtn', :data => {:target => "#div_grazing_livestock"} %></li>
            <% end %>

            <li><h2 class='sectionHeading'>Commercial Fertilizer Applications</h2></li>
            <li>Enter all commercial fertilizer applications used on this field. Please enter the total nitrogen and
              total phosphorus values (not ammonium or phosphate).
            </li>
            <div id='div_commercial_fertilizer_application'>

              <%= f.fields_for :commercial_fertilizer_applications do |commercial_fertilizer_applications_form| %>
                  <%= render 'commercial_fertilizer_application_fields', :f => commercial_fertilizer_applications_form, :commercial_fertilizer_application_index => @crop_rotation.commercial_fertilizer_applications.index(commercial_fertilizer_applications_form.object) %>
              <% end %>

            </div>
            <li><%= f.link_to_add "Add a Commercial Fertilizer Application", :commercial_fertilizer_applications, :class => 'button', :id => 'addCommercialFertilizerApplicationBtn', :data => {:target => "#div_commercial_fertilizer_application"} %></li>

            <li><h2 class='sectionHeading'>Manure Fertilizer Applications</h2></li>
            <li>Enter animal manure applications for the given year. If pasture, manure generated by livestock is
              automatically accounted for based on the information entered in the grazing livestock section.
            </li>
            <li>Click <a href="#" id="typicalManureValuesLink">here</a> to see typical manure values.

              <div id="typicalManureValuesTable" style="display: none">
                <br/>
                <table class='listingTable'>
                  <tr><th>Animal Name </th><th>P (Ibs/ton)</th><th>TN (Ibs/ton) as excreted</th><th>TN (Ibs/Ton) as applied</th><th>Typical Moisture content</th></tr>
                  <tr><td>Angora goats</td><td>5.366</td><td>21.952</td><td>18.78736</td><td rowspan='4'>68.29%</td></tr>
                  <tr><td>milk goats</td><td>5.366</td><td>21.952</td><td>18.78736</td></tr>
                  <tr><td>Other: Llamas</td><td>5.366</td><td>21.952</td><td>18.78736</td></tr>
                  <tr><td>Other: Alpacas</td><td>5.366</td><td>21.952</td><td>18.78736</td></tr>
                  <tr><td>beef: Cows </td><td>3.172</td><td>11.726</td><td>9.7981</td><td>85.34%</td></tr>
                  <tr><td>biosolids</td><td>50</td><td>78</td><td>67.47</td><td>80%</td></tr>
                  <tr><td>broilers</td><td>7.058</td><td>25.882</td><td>22.647</td><td>74.12%</td></tr>
                  <tr><td>layers</td><td>9.376</td><td>26.25</td><td>21.9847</td><td>75%</td></tr>
                  <tr><td>dairy: milk/dry cows</td><td>2.186</td><td>10.464</td><td>9.87648</td><td>86.05%</td></tr>
                  <tr><td>hogs and pigs for breeding</td><td>4.28</td><td>13.26</td><td>8.4526</td><td rowspan='2'>86.90%</td></tr>
                  <tr><td>hogs for slaughter </td><td>4.286</td><td>12.38</td><td>7.8924</td></tr>
                  <tr><td>horses</td><td>2.786</td><td>11.768</td><td>10.07168</td><td rowspan='3'>70.59%</td></tr>
                  <tr><td>other cattle</td><td>1.95</td><td>7.46</td><td>6.38384</td></tr>
                  <tr><td>pullets</td><td>10.53</td><td>27.2</td><td>22.78</td></tr>
                  <tr><td>sheep and lambs</td><td>4.35</td><td>21.002</td><td>16.69928</td><td>72.50%</td></tr>
                  <tr><td>turkeys</td><td>9.788</td><td>26.384</td><td>25.29472</td><td>74.47%</td></tr>
                  <tr><td>Ducks</td><td>9.788</td><td>26.384</td><td>25.29472</td><td>71.82%</td></tr>
                </table>
              </div>
            </li>
            <div id='div_manure_fertilizer_application'>

              <%= f.fields_for :manure_fertilizer_applications do |manure_fertilizer_applications_form| %>
                  <%= render 'manure_fertilizer_application_fields', :f => manure_fertilizer_applications_form, :manure_fertilizer_application_index => @crop_rotation.manure_fertilizer_applications.index(manure_fertilizer_applications_form.object) %>
              <% end %>

            </div>
            <li><%= f.link_to_add "Add a Manure Fertilizer Application", :manure_fertilizer_applications, :class => 'button', :id => 'addManureFertilizerApplicationBtn', :data => {:target => "#div_manure_fertilizer_application"} %></li>

            <li><h2 class='sectionHeading'>Other Tillage Operations</h2></li>
            <li>Enter tillage operations here. Tillage operations for incorporated fertilizer entered in the previous
              two sections are already accounted for, so do not enter fertilizer incorporation tillage operations here.
            </li>
            <div id='div_tillage_operation'>
              <%= f.fields_for :tillage_operations do |tillage_operations_form| %>
                  <%= render 'tillage_operation_fields', :f => tillage_operations_form, :tillage_operation_index => @crop_rotation.tillage_operations.index(tillage_operations_form.object) %>
              <% end %>
            </div>
            <li><%= f.link_to_add "Add a Tillage Operation", :tillage_operations, :class => 'button', :id => 'addTillageOperationBtn', :data => {:target => "#div_tillage_operation"} %></li>


            <li><h2 class='sectionHeading'>Harvest / End of Season Operations</h2></li>
            <li>Enter the end-of-season harvest and/or termination date(s) for this crop. For annual crops such as corn,
              you should select ‘Harvest and Terminate Crop.’ Generally, a termination date should occur before the
              plant date of any subsequent crop in this rotation, though in some instances aerial seeding might be used
              to plant a subsequent crop before the final harvest and kill dates of an existing crop in which case the
              harvest and kill dates of the existing crop would come after the plant date of the subsequent crop.
            </li>
            <div id='div_end_of_season'>
              <%= f.fields_for :end_of_seasons do |end_of_seasons_form| %>
                  <%= render 'end_of_season_fields', :f => end_of_seasons_form, :end_of_season_index => @crop_rotation.end_of_seasons.index(end_of_seasons_form.object) %>
              <% end %>
            </div>
            <li id='li_end_of_season_button'><%= f.link_to_add "Add End Of Season", :end_of_seasons, :class => 'button', :id => 'addEndOFSeasonBtn', :data => {:target => "#div_end_of_season"} %></li>


            <% if (@field.field_type_id == 1) # only show if  field type is crop    %>
                <li><h2 class='sectionHeading'>Cover Crop</h2></li>
                <li>Please indicate whether a conservation (i.e., non-commodity) cover crop will be planted following
                  this crop. For commodity cover crops, please add a crop to your rotation.
                </li>
                <li>
                  <%= f.label :is_cover_crop_true, 'Cover crop:<em>*</em>'.html_safe, :class => 'wide' %>
                  <%= f.radio_button :is_cover_crop, true %>
                  <%= f.label :is_cover_crop_true, 'Yes' %>
                  <%= f.radio_button :is_cover_crop, false %>
                  <%= f.label :is_cover_crop_false, 'No' %>

                </li>
                <li id='li_cover_crop_warning_id'
                    <% if !@crop_rotation.end_of_seasons.blank? %>style='display: none'
                    <% end %>>You do not have any end of season operations. You cover crop is going to be ignored.
                </li>

                <li id='li_cover_crop_id'>
                  <%= f.label :cover_crop_id, 'Cover crop type:<em>*</em>'.html_safe, :class => 'wide' %>
                  <%= f.collection_select :cover_crop_id, Crop.coverCrops, :id, :name, {:prompt => 'Select crop type'}, :required => true %>
                </li>
                <li id='li_cover_crop_plant_date'>
                  <%= f.label :name, 'Plant date:<em>*</em>'.html_safe, :class => 'wide' %>

                  <%= f.select :cover_crop_plant_date_year, options_for_select(listYears, :selected => @crop_rotation.cover_crop_plant_date_year), {:prompt => 'Year'}, {:required => true, :style => 'width:70px'} %>
                  <%= f.select :cover_crop_plant_date_month, options_for_select(listMonths, :selected => @crop_rotation.cover_crop_plant_date_month), {:prompt => 'Month'}, {:required => true, :style => 'width:100px'} %>
                  <%= f.select :cover_crop_plant_date_day, options_for_select(listDays, :selected => @crop_rotation.cover_crop_plant_date_day), {:prompt => 'Day'}, {:required => true, :style => 'width:50px'} %>
                </li>
                <li id='li_cover_crop_planting_method_id'>
                  <%= f.label :cover_crop_planting_method_id, 'Planting method:<em>*</em>'.html_safe, :class => 'wide' %>
                  <%= f.collection_select :cover_crop_planting_method_id, PlantingMethod.for_cover_crops, :id, :name, {:prompt => 'Select planting method'}, :required => true %>
                </li>
            <% end %>

          </ol>
        </fieldset>
      </div>
      <div style="clear: both"></div>
    </div>

    <div class="actions">
      <%= f.submit 'Save & Add New Crop', :class => 'button', :name => 'nextPage' %>
      <%= f.submit 'Save & Continue', :class => 'button', :name => 'nextPage' %>
    </div>



<% end %>