<li><h1 class='sectionHeading'>BMP
  #<%= (bmp_index + 1) unless bmp_index == nil %> <%= f.link_to_remove ' ', :style => 'position:relative;left:-280px;', :class => 'icon-delete', data: {confirm: 'Are you sure?'} %></h1>
</li>

<li>
  <%= f.label :bmp_type_id, 'BMP type:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.collection_select :bmp_type_id, @field.field_type.bmp_types.all, :id, :name, {:prompt => 'Select BMP type'}, {:required => true} %>
</li>
<li>
  <%= f.label :acres, 'Area:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :acres, :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :required => true %> ac
</li>
<li>
  <%= f.label :is_planned, 'Planned:', :class => 'wide' %>
  <%= f.check_box :is_planned %>
</li>