<li><h1 class='sectionHeading'>Poultry
  #<span class="poultry_index"></span> <%= f.link_to_remove ' ', :style => 'position:relative;left:-250px;', :class => 'icon-delete', data: {confirm: 'Are you sure?'}, :title => 'Delete poultry' %>
</h1></li>
<li>
  <%= f.label :animal_id, 'Animal:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.collection_select :poultry_id, Animal.poultry, :id, :name, {:prompt => 'Select poultry'}, {:required => true} %>
</li>
<li>
  <%= f.label :quantity, 'Birds/flock:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :quantity, :required => 'true', :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any' %>
</li>
<li>
  <%= f.label :flocks_per_year, 'Flocks/yr:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :flocks_per_year, :required => 'true', :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :title => 'Number of confined animals' %>
</li>
<li>
  <%= f.label :days_in_growing_cycle, 'Days in growing cycle:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :days_in_growing_cycle, :required => 'true', :class => 'textboxMedium', :type => 'number', :min => 0, :max => 365 %>
  days
</li>
<li>
  <%= f.label :n_excreted, 'N excreted:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :n_excreted, :required => 'true', :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :title => 'Typically ≈ 10.95 lb/T' %>
  lb/T
</li>
<li>
  <%= f.label :p205_excreted, 'P<sub>2</sub>O<sub>5</sub> excreted:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :p205_excreted, :required => 'true', :class => 'textboxMedium', :type => 'number', :min => 0, :step => 'any', :title => 'Typically ≈ 3.79 lb/T' %>
  lb/T
</li>
