<%= form_for([@farm, @field]) do |f| %>
    <% if @field.errors.any? %>
        <div id="error_explanation">
          <b><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</b>
          <ul>
            <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :area %>
      <br/>
      <%= f.text_field :area %>
    </div>
    <div class="field">
      <%= f.label :baseline_load %>
      <br/>
      <%= f.text_field :baseline_load %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
