<li><h2 class='sectionHeading'>Soil <%= soil_index+1 %>: </h2></li>
<li><b><%= f.object.map_unit_key %>, <%= f.object.component_name %>, <%= f.object.map_unit_name %> <a href="#" class='detailsLink<%= soil_index+1 %>'>(show details)</a> </b> </li>
<li class='liSoil<%= soil_index+1 %>' style="display: none;">
  <%= f.label :clay, 'Clay, Sand, Silt:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :percent_clay, :type => 'number', :size => 5, :required => true, :min => 0, :max => 100, :step => 0.1 %> % ,
  <%= f.text_field :percent_sand, :type => 'number', :size => 5, :required => true, :min => 0, :max => 100, :step => 0.1 %> % ,
  <%= f.text_field :percent_silt, :size => 5, :required => true, :readonly => true , :step => 0.01 %> %
</li>
<li class='liSoil<%= soil_index+1 %>' style="display: none;">
  <%= f.label :bulk_density, 'Bulk density:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :bulk_density, :size => 5, :required => true, :type => 'number', :min => 1.10, :max => 1.79, :step => 0.01 %> g/cm3
</li>
<li class='liSoil<%= soil_index+1 %>' style="display: none;">
  <%= f.label :organic_carbon, 'Organic carbon:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :organic_carbon, :size => 5, :type => 'number', :min => 0.50, :max => 2.50, :step => 0.01 %> %
</li>
<li class='liSoil<%= soil_index+1 %>' style="display: none;">
  <%= f.label :slope, 'Slope:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :slope, :size => 5, :required => true %> %
</li>