<li><h2 class='sectionHeading'>Soil <%= soil_index+1 %>: </h2></li>
<li><b><%= f.object.map_unit_key %>, <%= f.object.component_name %>, <%= f.object.map_unit_name %>
  <a href="#" class='detailsLink<%= soil_index+1 %>'>(show details)</a> </b></li>
<li class='liSoil<%= soil_index+1 %>' style="display: none;">
  <%= f.label :clay, 'Clay, Sand, Silt:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :percent_clay, :type => 'number', :class => 'textboxSmall', :required => true, :min => 0, :max => 100, :step => 'any' %>
  % ,
  <%= f.text_field :percent_sand, :type => 'number', :class => 'textboxSmall', :required => true, :min => 0, :max => 100, :step => 'any' %>
  % ,
  <%= f.text_field :percent_silt, :class => 'textboxSmall', :required => true, :readonly => true, :type => 'number', :min => 0, :max => 100, :step => 'any' %>
  %
</li>
<li class='liSoil<%= soil_index+1 %>' style="display: none;">
  <%= f.label :bulk_density, 'Bulk density:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :bulk_density, :class => 'textboxMedium', :required => true, :type => 'number', :min => 1.10, :max => 1.79, :step => 'any', :title => 'Must be between 1.10 and 1.79' %>
  g/cm3
</li>
<li class='liSoil<%= soil_index+1 %>' style="display: none;">
  <%= f.label :organic_carbon, 'Organic carbon:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :organic_carbon, :class => 'textboxMedium', :type => 'number', :min => 0.50, :max => 2.50, :step => 'any', :title => 'Must be between 0.50 and 2.50' %>
  %
</li>
<li class='liSoil<%= soil_index+1 %>' style="display: none;">
  <%= f.label :slope, 'Slope:<em>*</em>'.html_safe, :class => 'wide' %>
  <%= f.text_field :slope, :class => 'textboxMedium', :required => true, :type => 'number', :min => 0, :max => 100, :step => 'any' %>
</li>