<% if  @field.field_type_id.nil? %>
    <%= @field.field_type_id %>
    <div style="position:relative">
      <ul id="tabNav">
        <li
        <% if (@step=='1') %> class="selected"
        <% end %> ><%= link_to 'General', edit_farm_field_path(@farm, @field, :step => 1) %></li>
        <li class="disabledTab"><%= link_to 'Soil', edit_farm_field_path(@farm, @field, :step => 2) %></li>
        <li class="disabledTab"><%= link_to 'Current Crop Management', edit_farm_field_path(@farm, @field, :step => 3) %></li>
        <li class="disabledTab"><%= link_to 'Current BMPs', edit_farm_field_path(@farm, @field, :step => 4) %></li>
        <li class="disabledTab"><%= link_to 'Current Nutrient Load', edit_farm_field_path(@farm, @field, :step => 5) %></li>
        <li class="disabledTab"><%= link_to 'Future Crop Management', edit_farm_field_path(@farm, @field, :step => 6) %></li>
        <li class="disabledTab"><%= link_to 'Future BMPs', edit_farm_field_path(@farm, @field, :step => 7) %></li>
        <li class="disabledTab"><%= link_to 'Future Nutrient Load', edit_farm_field_path(@farm, @field, :step => 8) %></li>
        <li class="disabledTab"><%= link_to 'Non-managed', edit_farm_field_path(@farm, @field, :step => 10) %></li>

        <li class="shadow"></li>
      </ul>

    </div>

    <%= render 'fields/edit_steps/step_1' %>

<% end %>

<!-- if field type is crop, pasture,  -->
<% if  @field.field_type_id == 1 || @field.field_type_id == 2 || @field.field_type_id == 3 %>

    <div style="position:relative">
      <ul id="tabNav">
        <li
        <% if (@step=='1') %> class="selected"
        <% end %> ><%= link_to 'General', edit_farm_field_path(@farm, @field, :step => 1) %></li>
        <li
        <% if (@step=='2') %> class="selected"
        <% end %> ><%= link_to 'Soil', edit_farm_field_path(@farm, @field, :step => 2) %></li>
        <li
        <% if (@step=='3') %> class="selected"
        <% end %> ><%= link_to 'Current Crop Management', edit_farm_field_path(@farm, @field, :step => 3) %></li>
        <li
        <% if (@step=='4') %> class="selected"
        <% end %> ><%= link_to 'Current BMPs', edit_farm_field_path(@farm, @field, :step => 4) %></li>
        <li
        <% if (@step=='5') %> class="selected"
        <% end %>
        <% if @field.p_test_value.nil? || @field.strips[0].crop_rotations.empty? %>   class="disabledTab"
        <% end %>
        ><%= link_to 'Current Nutrient Load', edit_farm_field_path(@farm, @field, :step => 5) %></li>
        <li
        <% if (@step=='6') %> class="selected"
        <% end %> <% if @field.p_test_value.nil? || @field.strips[0].crop_rotations.empty? %>   class="disabledTab"
        <% end %> ><%= link_to 'Future Crop Management', edit_farm_field_path(@farm, @field, :step => 6) %></li>
        <li
        <% if (@step=='7') %> class="selected"
        <% end %> <% if @field.p_test_value.nil? || @field.strips[0].crop_rotations.empty? %>   class="disabledTab"
        <% end %> ><%= link_to 'Future BMPs', edit_farm_field_path(@farm, @field, :step => 7) %></li>
        <li
        <% if (@step=='8') %> class="selected"
        <% end %> <% if @field.p_test_value.nil? || @field.strips[0].crop_rotations.empty? %>   class="disabledTab"
        <% end %> ><%= link_to 'Future Nutrient Load', edit_farm_field_path(@farm, @field, :step => 8) %></li>
        <li class="shadow"></li>
      </ul>

    </div>

    <%= render 'fields/edit_steps/step_1' if @step=='1' || @step.nil? %>
    <%= render 'fields/edit_steps/step_2', :locals => {:field => @field} if @step=='2' %>
    <%= render 'fields/edit_steps/step_3' if @step=='3' %>
    <%= render 'fields/edit_steps/step_4' if @step=='4' %>
    <%= render 'fields/edit_steps/step_5' if @step=='5' %>
    <%= render 'fields/edit_steps/step_6' if @step=='6' %>
    <%= render 'fields/edit_steps/step_7' if @step=='7' %>
    <%= render 'fields/edit_steps/step_8' if @step=='8' %>

<% end %>

<!-- if animal confinment -->
<% if  @field.field_type_id == 4 %>

    <%= render 'fields/edit_steps/step_10' if @step=='10' %>
    <div style="position:relative">
      <ul id="tabNav">
        <li
        <% if (@step=='1') %> class="selected"
        <% end %> ><%= link_to 'General', edit_farm_field_path(@farm, @field, :step => 1) %></li>
        <li
        <% if (@step=='2') %> class="selected"
        <% end %> ><%= link_to 'Confined Area Management', edit_farm_field_path(@farm, @field, :step => 2) %></li>
        <li
        <% if (@step=='3') %> class="selected"
        <% end %> ><%= link_to 'Requirements', edit_farm_field_path(@farm, @field, :step => 3) %></li>
        <li
        <% if (@step=='4') %> class="selected"
        <% end %> ><%= link_to 'Current BMPs', edit_farm_field_path(@farm, @field, :step => 4) %></li>
        <li class="shadow"></li>
        <li
        <% if (@step=='5') %> class="selected"
        <% end %>
        <% if @field.livestock_input_method_id.nil? %>   class="disabledTab"
        <% end %>
        ><%= link_to 'Current Nutrient Load', edit_farm_field_path(@farm, @field, :step => 5) %></li>
        <li
        <% if (@step=='6') %> class="selected"
        <% end %> ><%= link_to 'Future BMPs', edit_farm_field_path(@farm, @field, :step => 6) %></li>
        <li class="shadow"></li>
        <li
        <% if (@step=='7') %> class="selected"
        <% end %>
        <% if @field.livestock_input_method_id.nil? %>   class="disabledTab"
        <% end %>
        ><%= link_to 'Future Nutrient Load', edit_farm_field_path(@farm, @field, :step => 7) %></li>
      </ul>
    </div>

    <%= render 'fields/edit_steps/step_1' if @step=='1' || @step.nil? %>
    <%= render 'fields/edit_steps_animal_confinment/step_2', :locals => {:field => @field} if @step=='2' %>
    <%= render 'fields/edit_steps_animal_confinment/step_3' if @step=='3' %>
    <%= render 'fields/edit_steps_animal_confinment/step_4' if @step=='4' %>
    <%= render 'fields/edit_steps_animal_confinment/step_5' if @step=='5' %>
    <%= render 'fields/edit_steps_animal_confinment/step_6' if @step=='6' %>
    <%= render 'fields/edit_steps_animal_confinment/step_7' if @step=='7' %>

<% end %>

<!-- if non-managed land -->
<% if  @field.field_type_id == 5 %>
    <div style="position:relative">
      <ul id="tabNav">
        <li
        <% if (@step=='1') %> class="selected"
        <% end %> ><%= link_to 'General', edit_farm_field_path(@farm, @field, :step => 1) %></li>
        <li
        <% if (@step=='2') %> class="selected"
        <% end %> ><%= link_to 'Non-managed', edit_farm_field_path(@farm, @field, :step => 2) %></li>
        <li class="shadow"></li>
      </ul>
    </div>

    <%= render 'fields/edit_steps/step_1' if @step=='1' || @step.nil? %>
    <%= render 'fields/edit_steps_non_managed_land/step_2', :locals => {:field => @field} if @step=='2' %>


<% end %>


<% if session[:debug] %>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=false"></script>
    <pre class="prettyprint linenums lang-xml" id='input_xml'>                   <!--  style="overflow: scroll; height: 500px;" -->
      <%= @input_xml %>
</pre>
    <br/>

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=false"></script>
    <pre class="prettyprint linenums lang-xml" id='output_xml'>                   <!--  style="overflow: scroll; height: 500px;" -->
      <%= @output_xml %>
</pre>

    <br/><br/><br/><br/>

    <%= URI.escape(@input_xml.gsub('<', '[').gsub('>', ']')) unless @input_xml.nil? %>

<% end %>