<h1>Listing fields</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Area</th>
    <th>Baseline load</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fields.each do |field| %>
  <tr>
    <td><%= field.name %></td>
    <td><%= field.area %></td>
    <td><%= field.baseline_load %></td>
    <td><%= link_to 'Show', project_field_path(@project, field) %></td>
    <td><%= link_to 'Edit', edit_project_field_path(@project, field) %></td>
    <td><%= link_to 'Destroy',  project_field_path(@project, field), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field', new_project_field_path(@project) %>
