<table class="listingTable" width="100%" cellspacing="0" cellpadding="3" border="0">
  <tr>
    <th>Field</th>
    <th>Area (ac)</th>
    <th>Baseline</th>
    <th>Current</th>
    <th>Future</th>
    <th>Status</th>
    <th class="actions">Actions</th>
  </tr>

  <% @fields.each do |field| %>
      <tr>
        <td>
          <%= link_to field.name, edit_farm_field_path(@farm, field, :step => 1) %>
          <%= "Field '#{field.name}' is not in watershed." if field.watershed_segment.nil? %>
          <br/>
          <%= field.field_type.nil? ? '' : field.field_type.name %>
        </td>
        <td><%= number_with_precision(field.acres, :precision => 2, :delimiter => ',') %></td>
        <td>
          <% if (!field.field_type.nil? && field.field_type_id <= 3) %>
          N: <%= number_with_precision(field.n_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> lbs/a
          <br/>
          P: <%= number_with_precision(field.p_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> lbs/a
          <br/>
          S: <%= number_with_precision(field.sediment_baseline, :precision => 2, :separator => '.', :delimiter => ',') %> tons/a
          <% end %>
        </td>
        <td>
          N: <%= number_with_precision(field.bmp_calculations[:new_total_n], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          P: <%= number_with_precision(field.bmp_calculations[:new_total_p], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          S: <%= number_with_precision(field.bmp_calculations[:new_total_sediment], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'tons/a' : 'tons' %>
        </td>
        <td>
          N: <%= number_with_precision(field.bmp_calculations[:new_total_n_future], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          P: <%= number_with_precision(field.bmp_calculations[:new_total_p_future], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'lbs/a' : 'lbs' %>
          <br/>
          S: <%= number_with_precision(field.bmp_calculations[:new_total_sediment_future], :precision => 2, delimiter: ',') %>
          <%= !field.field_type.nil? && field.field_type_id <= 3 ? 'tons/a' : 'tons' %>
        </td>
        <td>
          <!-- TODO: implement status bar -->
          <div><%= field.percentCompleted %>%&nbsp;complete</div>
          <div class="progressbar5px_back">
            <img src="/images/progressbar5px.gif" class="progressbar5px" style="width: <%= field.percentCompleted %>px" alt="progress bar denoting % complete">
          </div>
        </td>
        <td>
          <%= link_to image_tag('/images/delete.png', :alt => 'Delete', :title => 'Delete field'), farm_field_path(@farm, field), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
</table>