<%=  link_to @project.name, project_path(@project) %>
>
<%= link_to @field.name, project_field_path(@project, @field) %>



<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @field.name %>
</p>

<p>
  <b>Area:</b>
  <%= @field.area %>
</p>

<p>
  <b>Baseline load:</b>
  <%= @field.baseline_load %>
</p>


<%= link_to 'Edit', edit_project_field_path(@project, @field) %> |
<%= link_to 'Back', project_fields_path(@project) %>
