<ul id="tabNav">

  <li><%= link_to 'General', farm_path(@farm) %></li>
  <li <% if (params[:step]=='1')  %> class="selected" <% end %> ><%= link_to 'Soil', edit_farm_path(@farm, :step => 1) %></li>
  <li <% if (params[:step]=='2')  %> class="selected" <% end %> ><a <%= link_to 'Baseline Crop Management', edit_farm_path(@farm, :step => 2) %></li>

  <li <% if (params[:controller]=='fields')  %> class="selected" <% end %> ><%= link_to 'Baseline BMPs', farm_fields_path(@farm) %></li>
  <li><a href="?show=disabled" title="disabled">Baseline Nutrient Load</a></li>
  <li><a href="?show=disabled">Future Crop Management</a></li>
  <li><a href="#" title="We ask for your age only for statistical purposes.">Future BMPs</a></li>
  <li><a href="#" title="We ask for your age only for statistical purposes.">Future Nutrient Load</a></li>
  <li class="shadow"></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @field.name %>
</p>

<p>
  <b>Area:</b>
  <%= @field.area %>
</p>

<p>
  <b>Baseline load:</b>
  <%= @field.baseline_load %>
</p>


<%= link_to 'Edit', edit_farm_field_path(@farm, @field) %> |
<%= link_to 'Back', farm_fields_path(@farm) %>
