<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : 'NutrientNet' %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <!-- stylesheet_link_tag params[:controller] -->

  <%= javascript_include_tag "application" %>
  <!-- javascript_include_tag params[:controller] -->

  <%= csrf_meta_tags %>

  <!-- TODO: remove pretty XML -->
  <% if session[:debug] %>
      <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=false"></script>
      <%= stylesheet_link_tag "https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=false", :media => "all" %>
  <% end %>

</head>

<body>
<div id="pageWrapper">
  <div id="pageContainer">
    <style>
        #environment_badge {
            position: fixed;
            left: 1em;
            font-weight: bold;
            padding: .2em 0.9em;
            text-transform: uppercase;
            display: none
        }

        #environment_badge.staging {
            color: #000;
            background: #ffff00;
            border: 2px solid #cccc20;
        }

        #environment_badge.development {
            color: #fff;
            background: #ff0000;
            border: 2px solid #cc2020;
        }

        #environment_badge.staging, #environment_badge.development {
            border-top: none;
            display: block;
            opacity: 0.6
        }

    </style>

    <%= render 'shared/header' %>

    <div id="pageContent" class="clearfix">

      <h1 class="pageTitle"><%= link_to 'Agricultural Project Worksheets', farms_path %> </h1>

      <%= render_breadcrumbs %>
      <br/>
      <% if flash[:notice] %>
          <p class="alert"><%= flash[:notice] %></p> <!-- # class: notice     -->
      <% end %>
      <% if flash[:alert] %>
          <p class="alert"><%= flash[:alert] %></p>
      <% end %>
      <% if flash[:error] %>
          <p class="error"><%= flash[:error] %></p>
      <% end %>
      <% if flash[:meet_baseline] and flash[:meet_baseline].length>0 %>
          <p class="alert"><%= flash[:meet_baseline].join("<br>").html_safe %></p>
      <% end %>

      <%= content_for?(:second_level_layout) ? yield(:second_level_layout) : yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>


</body>
</html>
