<!DOCTYPE html>
<html>
<head>
  <title>NutrientNet</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="pageWrapper">
  <div id="pageContainer">
    <style>
        #environment_badge {
            position: fixed;
            left: 1em;
            font-weight: bold;
            padding: .2em 0.9em;
            text-transform: uppercase;
            display: none
        }

        #environment_badge.staging {
            color: #000;
            background: #ffff00;
            border: 2px solid #cccc20;
        }

        #environment_badge.development {
            color: #fff;
            background: #ff0000;
            border: 2px solid #cc2020;
        }

        #environment_badge.staging, #environment_badge.development {
            border-top: none;
            display: block;
            opacity: 0.6
        }

    </style>

    <%= render 'shared/header' %>

    <div id="pageContent" class="clearfix">

      <h1 class="pageTitle"><%= link_to 'Agricultural Farm Worksheets', projects_path %> </h1>
      <br/>
      <% if flash[:notice] %>
          <p class="alert"><%= notice %></p> <!-- # class: notice     -->
      <% end %>
      <% if flash[:alert] %>
          <p class="alert"><%= alert %></p>
      <% end %>

      <%= content_for?(:second_level_layout) ? yield(:second_level_layout) : yield %>

    </div>


  </div>
  <%= render 'shared/footer' %>
</div>


</body>
</html>
